<div class="chocolate-qualities">
    <div class="chocolate-qualities__inner">
        <img src="{{ extraContent.qualities_image.getPath() }}" />
        {% for quality in extraContent.chocolate_qualities %}
        <div class="chocolate-qualities__item" style="inset: {{ quality.position }}">
            <div class="red-circle index-quality-{{loop.index}} is-for-qualities is-plus-anchor">
                
            </div>
            <div class="quality-popup index-quality-{{loop.index}}">
                <h3 class="quality-popup__index text-center">{{ quality.title }}</h3>
                <p class="text-uppercase text-center">{{ quality.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>              
</div>