<div class="cocoa-process">
    <div class="row no-gutters align-items-center">
        {% for step in extraContent.cocoa_processing_steps %}
        <div class="cocoa-process__col col position-relative text-center">
            <img src="{{ step.image | media }}" class="img-fluid" alt=""/>
            <div class="red-circle is-plus-anchor"></div>
            {% if step.text_link %}
            <a class="cocoa-process__popup" href="{{ step.text_link }}">
                <div class="cocoa-process__popup__inner">
                    <h3 class="cocoa-process__popup__inner__index">{{ loop.index }}.</h3>
                    <p class="cocoa-process__popup__inner__text">{{ step.text }}</p>
                </div>
            </a>
            {% else %}
            <div class="cocoa-process__popup">
                <div class="cocoa-process__popup__inner">
                    <h3 class="cocoa-process__popup__inner__index">{{ loop.index }}.</h3>
                    <p class="cocoa-process__popup__inner__text">{{ step.text }}</p>
                </div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>