<section class="sustainability-goals">
    <div class="container">
        <div class="row">
            {% for goal in sustainabilityGoals %}
                <div class="col-12 col-sm-6 col-md-4">
                    <h2>{{ goal.title }}</h2>
                    <div class="sustainability-goals__image">
                        <div class="sustainability-goals__image__inner"><img src="{{goal.image.path()}}"/>
                            {% for unit in goal.subitems %}
                            <div class="red-circle index-{{goal.title|replace({' ':''})}}-{{loop.index}} {{unit.unit == '+' ? 'is-plus' : ''}} is-for-goals" style="inset: {{unit.position}};">
                                <p class="goals-unit">{{unit.unit}}</p>
                            </div>
                            <div class="goal-popup index-{{goal.title|replace({' ':''})}}-{{loop.index}}" style="inset: {{unit.position}};">
                                <p>{{unit.desc}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {# <div class="image" style="background-image: url({{goal.image.path()}})"></div> #}
                </div>
            {% endfor %}
        </div>
    </div>
</section>