<nav class="sustainability-items-nav container">
    <div class="row">
        {% for item in sustainabilityItems if item.icon %}
        <div class="col">
            <a class="sustainability-items-nav__link" href="#{{ item.title|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
                <p>{{item.title}}</p>
                <img src="{{item.icon.path()}}"/>
            </a>
        </div>
        {% endfor %}
    </div>
</nav>