<div class="sustainability-items__subitem row">
    <div class="sustainability-items__item__qualities col-12 col-md-6">
        <div class="quality-block--outer">
            <div class="sustainability-items__item__qualities__inner">
                <h5>{{texts.58.text}}</h5>
                {% partial 'components/sustainability/chocolate-qualities' extraContent=extraContent %}
            </div>
        </div>
    </div>
    <div class="sustainability-items__item__process col-12 col-md-6">
        <div class="process-block--outer">
            <div class="sustainability-items__item__process__inner">
                <h5>{{texts.59.text}}</h5>
                {% partial 'components/sustainability/cocoa-process' extraContent=extraContent %}
            </div>
        </div>
    </div>
</div>