<div class="red-bg-text container">
    <section class="red-block">
        <div class="red-block__inner">
            <h1 class="red-block__inner__title">{{title}}</h1>
            {% if body %}
            <p>{{body}}</p>
            {% endif %}
        </div>
    </section>
</div>