description = "Main menu partial"
==
<nav id="main-menu" class="navbar navbar-expand-md navbar-light">
  <div data-aos="zoom-out">
    <a id="main-logo" class="navbar-brand logo" href="{{ 'front-page'|page }}">
      {% content 'svg/classic-logo' %}
    </a>
  </div>

  <div id="main-menu-content" class="navbar-collapse d-none d-md-block">
    <ul class="links navbar-nav mr-auto d-none d-lg-flex" data-aos="fade-right">
      <li class="nav-item">
        <a class="nav-link" href="{{ 'products'|page({type:null, slug:null}) }}">{{texts.1.text}}</a>
      </li>

      <li class="nav-item has-submenu">
        <a class="nav-link" href="{{ 'sweet-story'|page }}">{{texts.3.text}}</a>
        
        <ul class="submenu">
          {# <li><a href="{{ 'sweet-story'|page }}#recipes">{{ 'Receptes'|_ }}</a></li> #}
          <li><a href="{{ 'sweet-story'|page }}#cocoa-history">{{texts.60.text}}</a></li>
          <li><a href="{{ 'sweet-story'|page }}#balta-sarma">{{ 'Baltā sarma'|_ }}</a></li>
          <li><a href="{{ 'sweet-story'|page }}#history">{{ 'Vēsture'|_ }}</a></li>
          <li><a href="{{ 'company'|page }}">{{texts.40.text}}</a></li>
        </ul>
      </li>

      {#<li class="nav-item">
        <a class="nav-link" href="{{ 'spring'|page }}">{{texts.70.text}}</a>
      </li>#}

      <li class="nav-item">
        <a class="nav-link" href="{{ 'recipes'|page }}">{{ 'Receptes'|_ }}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ 'news'|page }}">{{texts.5.text}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ 'sustainability'|page }}">{{texts.59.text}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ 'shops'|page }}">{{texts.2.text}}</a>
      </li>
    </ul>

    <ul class="helper-icons navbar-nav ml-auto d-none d-lg-flex" data-aos="fade-left">
      <li class="nav-item">
        <a class="icon nav-link" href="{{ 'contacts'|page }}">
          {% content 'svg/phone' %}

          <span class="name">Sazināties</span>
        </a>
      </li>

      {# <li class="nav-item">
        <a class="icon nav-link" href="https://oveikals.lv/">
          {% content 'svg/cart' %}

          <span class="name">E-veikals</span>
        </a>
      </li> #}

      {# <li class="nav-item dropdown langs">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="langs"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{localePicker.activeLocale}}
        </a>

        <div class="lang-wrap dropdown-menu collapse" aria-labelledby="langs">
          {% for code, name in locales %} {% if code != activeLocale %}

          <a
            class="dropdown-item"
            data-request="onSwitchLocale"
            data-request-data="locale: '{{code}}'"
            style="cursor: pointer; text-transform: uppercase"
            >{{code}}</a
          >

          {% endif %} {% endfor %}
        </div>
      </li> #}
    </ul>
  </div>
</nav>
