description = "Mobile Menu partial"
==
<nav id="mobile-menu" class="navbar navbar-expand-md d-xs-block d-lg-none">
  <div class="navbar-collapse justify-content-center">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="icon nav-link" href="#" id="open-sidenav">
          {% content 'svg/burger' %}
          <span class="name">{{texts.7.text}}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="icon nav-link" href="{{ 'contacts'|page }}">
          {% content 'svg/phone' %}
          <span class="name">{{texts.8.text}}</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="icon nav-link" href="{{ 'shops'|page }}">
          {% content 'svg/shops' %}
          <span class="name">{{texts.2.text}}</span>
        </a>
      </li>

      {# <li class="nav-item">
        <a class="icon nav-link" href="https://oveikals.lv/">
            {% content 'svg/cart' %}
            <span class="name">{{ 'E-veikals'|_ }}</span>
        </a>
      </li> #}
    </ul>
  </div>
</nav>

<div id="mobile-sidenav" class="navbar sidenav">
  <a id="side-logo" class="navbar-brand logo" href="{{ 'front-page'|page }}">
    {% content 'svg/classic-logo' %}
  </a>

  <ul class="helper-icons navbar-nav ml-auto langs-wrap">
    {# <li class="nav-item dropdown langs">
      <a
        class="nav-link dropdown-toggle"
        href="#"
        id="langs"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        {{localePicker.activeLocale}}
      </a>

      <div class="lang-wrap dropdown-menu" aria-labelledby="langs">
        {% for code, name in locales %} {% if code != activeLocale %}

        <a
          class="dropdown-item"
          data-request="onSwitchLocale"
          data-request-data="locale: '{{code}}'"
          >{{code}}</a
        >

        {% endif %} {% endfor %}
      </div>
    </li> #}
  </ul>

  <div id="sidenav-content" class="navbar-collapse">
    <ul class="links navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ 'products'|page({type:null, slug:null}) }}">{{texts.1.text}}</a>
      </li>

      <li class="nav-item has-submenu">
        <a class="nav-link" href="{{ 'sweet-story'|page }}">{{texts.3.text}}</a>
        <ul class="submenu-mobile">
          {# <li><a href="{{ 'sweet-story'|page }}#recipes">{{ 'Receptes'|_ }}</a></li> #}
          <li><a href="{{ 'sweet-story'|page }}#cocoa-history">{{texts.60.text}}</a></li>
          <li><a href="{{ 'sweet-story'|page }}#balta-sarma">{{ 'Baltā sarma'|_ }}</a></li>
          <li><a href="{{ 'sweet-story'|page }}#history">{{ 'Vēsture'|_ }}</a></li>
          <li><a href="{{ 'company'|page }}">{{texts.40.text}}</a></li>
        </ul>
      </li>

      {#<li class="nav-item">
        <a class="nav-link" href="{{'spring'|page}}">{{texts.70.text}}</a>
      </li>#}

      <li class="nav-item">
        <a class="nav-link" href="{{'recipes'|page}}">{{ 'Receptes'|_ }}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{'news'|page}}">{{texts.5.text}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{'sustainability'|page}}">{{texts.59.text}}</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{{ 'shops'|page }}">{{texts.2.text}}</a>
      </li>
    </ul>
  </div>

  <div class="bottom-helpers container-fluid">
    <div class="col">
      <a class="icon-wrap" href="{{ 'contacts'|page }}">
        {% content 'svg/phone' %}
      </a>
    </div>

    <div class="col">
      <a class="icon-wrap" href="{{ 'shops'|page }}">
        {% content 'svg/marker' %}
      </a>
    </div>

    <div class="col"></div>

  </div>
</div>
