description = "Scripts partial"
==


<script src="{{ [
    '@jquery',
]|theme }}"></script>

<script src="{{'assets/js/extra/min/extra.js'|theme}}?v={{random()}}"></script>

{% framework extras %}
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous"></script>
<script>
    /**
     * Preloading polyfill & all includable JavaScript
     * @richardev
     */
    (function (d, w) {
      if (!('devicePixelRatio' in w)) return;

      d.documentElement.className += ' has-js';

      function loadInOrder(src) {
        var s = d.createElement('script');
        var deps = [].slice.call(arguments).slice(1);
        s.src = src;
        s.onload = function () { deps.length && loadInOrder.apply(null, deps); };
        s.onerror = console.error;
        d.body.appendChild(s);
      }

      var supported =
        'Symbol' in w &&
        'Promise' in w &&
        'assign' in Object &&
        'from' in Array &&
        Symbol.iterator in NodeList.prototype &&
        Symbol.iterator in HTMLCollection.prototype;

      if (supported) {
        loadInOrder('{{'assets/js/main-new/min/main-new.js'|theme}}?v={{random()}}');
      } else {
        loadInOrder('{{'assets/js/polyfill.js'|theme}}', '{{'assets/js/main-new/min/main-new.js'|theme}}?v={{random()}}');
      }

    }(document, window));
  </script>

{# {{-- Overrides for OC AJAX framework --}} #}
<script>
    $(window).on('ajaxErrorMessage', function(event, message){
        console.log(event, message)
        // This can be any custom JavaScript you want
        // alert('Something bad happened, mate, here it is: ' + message);
        swal(message, "", 'error');
        // This will stop the default alert() message
        event.preventDefault();
    })


    $(window).on('ajaxConfirmMessage', function(event, message) {
        Swal({
          title: "Are you sure?",
          text: message,
          type: "warning",
          showCancelButton: true,
        })
        .then(function(result){
          if (result) {
            event.promise.resolve();
          } else {
            event.promise.reject();
          }
        }).catch(Swal.noop);

        event.preventDefault();
        return true;
    });

    $(document).on('ajaxSetup', '[data-request][data-request-flash]', function(event, context) {
        context.options.handleErrorMessage = function(message) {
            // $.oc.flashMsg({ text: message, class: 'error' })
            Swal(message, "", 'error');
            return false;
        }

        context.options.handleFlashMessage = function(message, type) {
            Swal(message, "", type);
        }
    });
</script>

<script>
$(document).ready(function(){
  $('.nav-item.has-submenu').mouseenter(function() {
    $(this).addClass('is-hovered');
    $('#main-menu-content').addClass('is-line-hidden');
    // $('.submenu').fadeIn(150);
    // $(this).children('.submenu').show();
  });

   $('.nav-item.has-submenu').mouseleave(function() {
    setTimeout(function() { 
        if($(".submenu:hover").length == 0) {
          $('#main-menu-content').removeClass('is-line-hidden');
          $('.nav-item.has-submenu').removeClass('is-hovered');
          // $('.nav-item.has-submenu').children('.submenu').hide();
        }
    }, 100);
  });

  $('.submenu').mouseenter(function() {
    $('#main-menu-content').addClass('is-line-hidden');
    $('.nav-item.has-submenu').addClass('is-hovered');
  }
  );
  // Add smooth scrolling to all submenu links without preloader
  $(".has-submenu a").on('click', function(event) {

    if ($('#preloader').css('display') == 'block') {
      $('#preloader').css('display', 'none')
    }

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

{% scripts %}

{% flash %}
    <script>
        swal("{{ message|replace({'\n': '<br>'})|raw }}", "", "{{ type }}");
    </script>
{% endflash %}
