{% set desktopBackground =  extraContent.balta_sarma_bg_desktop.getPath() %}
{% set mobileBackground =  extraContent.balta_sarma_bg_mobile.getPath() %}

<section id="balta-sarma" class="{{ this.page.slug }} balta-sarma">
    <div class="container">
        <div class="balta-sarma__title row">
            <div class="col-12 col-lg-7 mx-lg-auto">
                <h5 class="title text-center m-auto">{{extraContent.balta_sarma_title}}</h5>
            </div>
        </div>
        <div class="balta-sarma__items row">
            <div class="col-12">
                {% for item in extraContent.balta_sarma_items  %}
                    <div class="balta-sarma-item row align-items-lg-center">
                        <div class="col-12 col-lg-6">
                            {% if item.title %}
                            <h4 class="balta-sarma-item__title">{{ item.title }}</h4>
                            {% endif %}
                            <div class="balta-sarma-item__text">{{ item.text|raw }}</div>
                        </div>
                        <div class="col-12 col-lg-5 ml-lg-auto">
                            <div class="balta-sarma-item__icon-row row justify-content-center justify-content-lg-start">
                                {% for icon in item.icons %}
                                <div class="balta-sarma-item__icon col-4 d-flex flex-column align-items-center">
                                    <img class="{{ icon.title ? '' : 'mb-0' }}" src="{{ icon.icon|media }}" alt="{{ icon.title }}">
                                    {% if icon.title %}
                                    <p class="text-center">{{ icon.title }}</p>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="balta-sarma__bottom d-flex flex-column-reverse flex-lg-row align-items-center">
            <img src="{{ extraContent.balta_sarma_icon.path() }}" alt="Laima ikona: Droši Produkti, Augstākā Kvalitāte">
            <h4 class="balta-sarma__bottom__text">{{ extraContent.balta_sarma_bottom_text }}</h4>
        </div>
    </div>
</section>

{% put styles %}
<style>
.balta-sarma {
    background-image: url({{mobileBackground}});
}
@media (min-width: 1200px) {
    .balta-sarma {
        background-image: url({{desktopBackground}});
    }
}
</style>
{% endput %}