<div class="hover-img" data-aos="zoom-out" data-offset="100">
    <a href="{{ 'sweets-story'|page }}">
        <img alt="Forastero kakao pupa" class="img" src="{{img|theme}}">
        <img alt="Forastero kakao pupa" class="hover" src="{{hover|theme}}">
        <h5 class="rellax" data-rellax-speed="0.75">{{ text }}</h5>
    </a>
</div>
