<section id="museum" class="{{ this.page.slug }} container">
    <div class="row">
        <div class="story-wrap col-12">
            <h5 class="title text-center">{{texts.16.text}}</h5>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="text-wrap col-12 col-lg-6">
            <p class="desc" data-aos="fade-right">{{texts.17.text|nl2br}}</p>
            <a class="btn btn-outline-secondary more d-inline-block mt-4" style="z-index:301;" href="https://www.laimasokoladesmuzejs.lv/" data-aos="fade-right" data-aos-delay="300">{{texts.6.text}}</a>

        </div>
        <div class="img-wrap col-12 col-lg-6">
            <div class="imgs">
                <img class="img serenade rellax lazyload" data-src="{{'assets/img/serenade.png'|theme}}" alt="Laima Serenāde" data-rellax-percentage="0.5" data-rellax-speed="1">
                <img class="img goegginger rellax lazyload" data-src="{{'assets/img/1881_2.png'|theme}}" alt="Laima Goegginger" data-rellax-percentage="0.5" data-rellax-speed="0.4">
                <img class="img lase rellax lazyload" data-src="{{'assets/img/piena_lase.png'|theme}}" alt="Laima Piena Lāse" data-rellax-percentage="0.5" data-rellax-speed="-2">
            </div>
        </div>

    </div>
</section>
