<div class="row">
    <div class="col-12">
        <div class="pagination justify-content-center align-items-center">

            <a href="/recipes?page={{ post('page', 0) -1 }}"
                class="{% if post('page', 0) == 0 %}no-prev-page{% endif %}">&laquo;</a>

            {% set totalPages = Articles.getTotalPages()|round(0, 'ceil') %}

            {% for item in 1..totalPages %}
                {% if item == post('page', 0) +1 %}
                    <a class="active" href="/recipes?page={{item -1}}">{{item}}</a>
                {% else %}
                    <a href="/recipes?page={{item -1}}">{{item}}</a>
                {% endif %}
            {% endfor %}

            <a href="/recipes?page={{ post('page', 0) +1 }}" 
                class="{% if post('page', 0) +1 == totalPages %}no-next-page{% endif %}">&raquo;</a>
        </div>
    </div>
</div>