<div class="product-cat {% if isSidebar == false %} col-xl-2-4 col-lg-3 col-md-4 {% endif %} col-6" data-aos="zoom-out" data-aos-delay="300" data-aos-anchor="#product-cats">
    <a class="link-wrap" href="{{ 'products'|page }}">
        <div class="box">
            <div class="icon-wrap">
                {% content 'svg/categories' %}
            </div>
            <h5 class="cat">{{texts.10.text}}</h5>
        </div>
    </a>
</div>
{% set categories = Products.getfilteredCategories() %}

{% set delay = 300 %}
{% for cat in categories %}

    <div class="product-cat {% if isSidebar == false %} col-xl-2-4 col-lg-3 col-md-4 {% endif %} col-6" data-aos="zoom-out" data-aos-delay="{{ delay }}" data-aos-anchor="#product-cats">
        <a itemprop="url" class="link-wrap" href="{{ 'products'|page({ type: 'cat', slug: cat.slug }) }}">
            <div class="box">
                <div itemprop="image" class="icon-wrap">
                    {{cat.icon|raw}}
                </div>
                <h5 itemprop="category name" class="cat">{{cat.title}}</h5>
            </div>
        </a>
    </div>
    {% set delay = delay + 100 %}
{% endfor %}
