.sweet-story {
    .chocolate-qualities-section {
        background-color: $chocolate-clr;
        padding: 4.375rem 0;
        @media screen and (max-width: $breakpoint-lg-max) {
            padding: 120px 0;
        }
        h2 {
            color: #fff;
            line-height: 1;
            @media screen and (max-width: $breakpoint-lg-max) {
                margin-bottom: 6.1rem;
            }
        }
        .chocolate-qualities {
            &__inner {
                position: relative;
                width: 56%;
                margin: 0 auto;
                @media screen and (min-width: $breakpoint-sm) {
                    width: 36%;
                }
                @media screen and (min-width: $breakpoint-lg) {
                    width: 32%;
                    margin: 0 auto 0 22%;
                }
                .chocolate-qualities__item {
                    position: absolute;
                    width: 2.2rem;
                    height: 2.2rem;
                    @media screen and (min-width: $breakpoint-sm) {
                        width: 3.125rem;
                        height: 3.125rem;
                    }
                    &:hover {
                        .quality-popup {
                            display: block;
                        }
                    }
                }
                img {
                    width: 100%;
                }
                .quality-popup {
                    display: none;
                    position: absolute;
                    background: rgba(255,255,255,0.8);
                    width: 15rem;
                    padding: var(--popup-padding-y);
                    right: calc(var(--red-circle-diameter) + var(--pb-mini));
                    z-index: 501;
                    transition: all .15s ease-in;
                    transform: translate(76%, -37%);
                    box-shadow: 0 0 5px rgba(255,255,255,0.2);
                    border: 1px solid #fff;
                    cursor: default;
                    @media screen and (min-width: $breakpoint-sm) {
                        width: 20rem;
                    }
                    &__index {
                        font-size: 1.375rem;
                        font-weight: 700;
                        line-height: 1;
                        text-transform: uppercase;
                        margin-bottom: 0.625rem;
                    }
                    p {
                        --fs-popup-text: 0.8125rem;
                        color: $black;
                        margin: 0;
                        font-size: var(--fs-popup-text);
                        line-height: 1.2;
                        font-weight: 400;
                    }
                }
            }
        }
        .red-circle {
            width: var(--red-circle-diameter);
            height: var(--red-circle-diameter);
            border-radius: 100%;
            background: $red;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            z-index: 500;
            transition: all .15s cubic-bezier(.17,.67,.83,.67);
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 50 50'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Ccircle cx='25' cy='25' r='25' style='fill:%23dc0032'/%3E%3Cline x1='25' y1='17.23' x2='25' y2='32.99' style='fill:none;stroke:%23edcaa6;stroke-linecap:round;stroke-width:3px'/%3E%3Cline x1='33.41' y1='24.72' x2='17.66' y2='24.72' style='fill:none;stroke:%23edcaa6;stroke-linecap:round;stroke-width:3px'/%3E%3C/svg%3E");
            background-repeat: round;
            width: 2.2rem;
            height: 2.2rem;
            @media screen and (min-width: $breakpoint-sm) {
                width: 3.125rem;
                height: 3.125rem;
            }
            &:hover {
                .goal-popup, .quality-popup {
                    display: block;
                }
            }
            p {
                color: $gold;
                margin: 0;
            }
        }
    }
}