#mobile-sidenav {
    &.sidenav {
        background-color: $black;
    }
}
#mobile-menu {
    background: rgba(26,2,1,.9);

}

.element-wrap .element {
    &.chocolate-4 {
        @media screen and  (max-width: $breakpoint-sm-max) {
            transform: translateY(-117px) !important;
        }
    }
    &.chocolate-6 {
        @media screen and  (max-width: $breakpoint-sm-max) {
            display: none;
        }
    }
}