.spring {
    background: url("../../img/bg-spring.jpg") repeat;
    section {
        .container {
            position: relative;
            @media (min-width: $breakpoint-xl) {
                max-width: 1100px;
            }
            @media (min-width: 2200px) {
                max-width: 1340px;
            }
            .spring-ornaments {
                position: absolute;
                max-width: 460px;
                width: 23vw;
                top: 2rem;
                @media screen and (min-width: 2560px) {
                    width: 450px;
                }
                &.has-top-offset {
                    top: -2.5rem;
                }
                &.is-left {
                    right: calc(100% + 6vw);
                    @media screen and (min-width: 2560px) {
                        right: calc(100vw - ((100vw - 100%) / 2) - 450px);
                    }
                }
                &.is-right {
                    left: calc(100% + 6vw);
                    @media screen and (min-width: 2560px) {
                        left: calc(100vw - ((100vw - 100%) / 2) - 450px);
                    }
                }
            }
        }
    }
    &__heading-one, &__heading-two, &__par, &__sub {
        color: $purple;
    }
    &__heading-two {
        font-size: 2.75rem;
        font-weight: bold;
        margin-bottom: 1rem;
        @media screen and (max-width: $breakpoint-sm-max) {
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: .2rem;
        }
    }
    #main-menu {
        .navbar-nav {
            .nav-link {
                color: $black;
                &:hover {
                    color: $red;
                }
            }
        }
        .helper-icons li {
            .icon path {
                fill: $black !important;
            }
            &:hover {
                .icon {
                    svg {
                        transform: scale(1.2);
                    }
                    path {
                        fill: $red !important;
                    }
                }
            }
        }
        #main-menu-content:after {
            @media screen and (min-width: $breakpoint-lg) {
                position: absolute;
                content: '';
                display: block;
                bottom: -10px;
                left: 0;
                width: 100%;
                height: var(--dashed-line-thickness);
                background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='1' viewBox='0 0 12 1'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cpath d='M0,.5H12' style='fill:none;stroke:%23673131;stroke-dasharray:6'/%3E%3C/svg%3E");
            }
        }
        &:after {
            @media screen and (max-width: $breakpoint-lg-max) {
                position: absolute;
                content: '';
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: var(--dashed-line-thickness);
                background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='1' viewBox='0 0 12 1'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cpath d='M0,.5H12' style='fill:none;stroke:%23673131;stroke-dasharray:6'/%3E%3C/svg%3E");
            }
            
        }
    }
    footer {
        @media screen and (max-width: $breakpoint-sm-max) {
            margin-top: var(--pb-big);
        }
        @media screen and (min-width: $breakpoint-xl) {
            margin-top: 0;
        }
    }
    .opening-section {
        @media screen and (max-width: $breakpoint-sm-max) {
            margin-bottom: 5rem !important;
        }
        &.is-section-open {
            @media screen and (max-width: $breakpoint-sm-max) {
                margin-bottom: 3.5rem;
            }
        }
    }
    &__intro, &-nav {
        &__row {
            @media screen and (min-width: $breakpoint-lg) {
                padding-left: 7.875rem;
                padding-right: 7.875rem;
            }
        }
    }
    &__intro {
        margin-bottom: 5rem;
        @media screen and (max-width: $breakpoint-tablet-max) {
            margin-top: 3.5rem;
            margin-bottom: 3.5rem;
        }
        &__head, &__sub {
            font-weight: bold;
            color: $purple;
        }
        &__head {
            font-size: 4.5rem;
            @media screen and (max-width: $breakpoint-sm-max) {
                font-size: 2.625rem;
            }
        }
        &__sub {
            font-size: 2.75rem;
            margin-bottom: 2.625rem;
            @media screen and (max-width: $breakpoint-sm-max) {
                font-size: 1.5rem;
                margin-bottom: 1.125rem;
            }
        }
        &__par {
            font-size: 1.125rem;
            margin-bottom: 3.8125rem;
            @media screen and (max-width: $breakpoint-sm-max) {
                margin-bottom: 2.625rem;
            }
        }
        &__mob-img {
            max-width: unset;
            width: calc(100% + (15px * 2));
            margin-left: -15px;
            margin-right: -15px;
        }
    }
    .spring-nav {
        margin-bottom: var(--pb-big);
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-decoration: none;
            p {
                font-size: 1.5rem;
                font-weight: bold;
                color: $purple;
            }
            &:hover {
                text-decoration: none;
                p {
                    color: $red;
                    text-decoration: none;
                }
            }
        }
        .row {
            align-items: end;
        }
        .col {
            display: flex;
            justify-content: center;
            @media screen and (max-width: $breakpoint-sm-max) {
                width: 100%;
            }
        }
        p {
            text-align: center;
            font-size: var(--fs-h5);
    
        }
        img {
            width: 8.5rem;
            height: 8.5rem;
            background: $darkGreen;
            border-radius: 100%;
        }
        @media screen and (max-width: $breakpoint-tablet-max) {
            display: none;
        }
    }
    
    .red-circle--big {
        width: 5.3125rem;
        height: 5.3125rem;
        border-radius: 100%;
        margin: 0 auto var(--pb-small) auto;
        position: relative;
        @media screen and (max-width: $breakpoint-tablet-max) {
            margin-bottom: var(--pb-mini);
            background: $darkGreen;
        }
        &::after {
            position: absolute;
            top: 100%;
            left: calc(50% - 0.5px);
            width: 1px;
            height: var(--pb-small);
            display: block;
            content: '';
            z-index: 600;
            border: var(--dashed-line-thickness) dashed #1a0201;
            border-image-source:url('../../img/border.svg');
            border-image-width: 1;
            border-image-slice: 1;
            border-image-repeat: round;
            @media screen and (max-width: $breakpoint-tablet-max) {
                display: none;
            }
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    
    .spring-paintings {
        margin-bottom: var(--pb-big);
    
        // .container {
        //     @media screen and (max-width: $breakpoint-tablet-max) {
        //         padding-left: 0;
        //         padding-right: 0;
        //     }
        // }
    
        &__item {
            position: relative;
            &:not(:first-child) {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    padding-top: 2rem;
                }
            }
            .title-and-icon {
                position: relative;
                flex-direction: column-reverse;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 600;
                    border: var(--dashed-line-thickness) dashed #1a0201;
                    border-image-source: url(../../img/border.svg);
                    border-image-width: 1;
                    border-image-slice: 1;
                    border-image-repeat: round;
                    width: 100%;
                    height: 1px;
                    bottom: calc(var(--pb-sust-item-title) * -1);
                }
                &::before {
                    position: absolute;
                    content: url(../../img/icons/arrow_new_down.svg);
                    display: block;
                    z-index: 600;
                    opacity: var(--arrow-opacity);
                    bottom: calc((var(--pb-sust-item-title) * -1) - 1.1875rem + 1.5px);
                    width: 20px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 601;
    
                }
                @media screen and (min-width: $breakpoint-tablet) {
                    flex-direction: column;
                    &::after, &::before {
                        display: none;
                    }
                }
            }
            .spring-paintings__subitem {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    display: none;
                    &:nth-of-type(2) {
                        margin-top: 1.55rem;
                    }
                }
            }
            .close-subitems-icon {
                display: none;
            }
            &.are-subitems-open {
                .title-and-icon {
                    &:after {
                        display: none;
                    }
                    &:before {
                        content: url(../../img/icons/arrow_new_up.svg);
                        bottom: calc((1.55rem * -1) - .5rem);
                        z-index: 601;
                    }
                }
                .spring-paintings__subitem {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        display: flex;
                    }
                }
                .close-subitems-icon {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 20px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        opacity: var(--arrow-opacity);
                        z-index: 601;
    
                    }
                    &.is-functional {
                        bottom: var(--pb-small);
                    }
                }
                .line-eraser {
                    width: 20px;
                    height: 11px;
                    display: block;
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 601;
                }
            }
        }
        &__item:not(:last-child) {
            margin-bottom: var(--pb-big);
            @media screen and (max-width: $breakpoint-tablet-max) {
                margin-bottom: var(--pb-sust-item-title);
            }
        }
        strong > .spring-paintings__item {
            @media screen and (max-width: $breakpoint-tablet-max) {
                padding-top: 2rem;
            }
        }
        &__subitem {
            position: relative;
            &.even {
                flex-direction: row-reverse;
            }
            // @media screen and (max-width: $breakpoint-tablet-max) {
            //     margin-left: 0;
            //     margin-right: 0;
            // }
            &__outer {
                @media screen and (min-width: $breakpoint-tablet) {
                    padding: 0;
                }
                .painting-download {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        margin-bottom: 2.625rem;
                    }
                }
                &:nth-of-type(2n) {
                    .painting-download {
                        @media screen and (max-width: $breakpoint-tablet-max) {
                            margin-bottom: 4rem;
                        }
                    }
                }
            }
            &__pseudo, &__pseudo--bottom {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    // margin-left: 15px;
                    // margin-right: 15px;
                    // padding-left: 0;
                    // padding-right: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    margin-left: 15px;
                    margin-right: 15px;
                    &:before, &:after {
                        position: absolute;
                        content: '';
                        display: block;
                        z-index: 600;
                        border: var(--dashed-line-thickness) dashed #1a0201;
                        border-image-source: url(../../img/border.svg);
                        border-image-width: 1;
                        border-image-slice: 1;
                        border-image-repeat: round;
                    }
                }
            }
            &__pseudo {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    &:before {
                        top: 0;
                        width: 1px;
                        height: 100%;
                        left: 0;
                    }
                    &:after {
                        top: 0;
                        width: 1px;
                        height: 100%;
                        right: 30px;
                    }
                }
            }
            &__pseudo--bottom {
                &:after {
                    bottom: 0;
                    width: calc(100% - 30px);
                    height: 1px;
                }
            }
            .spring-paintings__item__image, .paintings-image--inner  {
                position: relative;
                &:before, &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 600;
                    border: var(--dashed-line-thickness) dashed #1a0201;
                    border-image-source: url(../../img/border.svg);
                    border-image-width: 1;
                    border-image-slice: 1;
                    border-image-repeat: round;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
                @media screen and (min-width: $breakpoint-sm) {
                    padding: 0;
                }
            }
            .spring-paintings__item__image {
                height: 28.125rem;
                @media screen and (max-width: $breakpoint-sm-max) {
                    height: 40rem;
                }
                &:before, &:after {
                    width: 100%;
                    height: 1px;
                    left: 0;
                    z-index: 1;
                    @media screen and (max-width: $breakpoint-sm-max) {
                        width: calc(100% - (15px * 2));
                        left: 15px;
                    }
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
            }
            .spring-paintings__item__image .paintings-image--inner {
                &:before {
                    width: 1px;
                    height: 100%;
                    left: 0;
                }
                &:after {
                    width: 1px;
                    height: 100%;
                    right: 0;
                }
            }
            .paintings-image--inner {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    padding-top: 1.5px;
                }
                p {
                    margin-bottom: 0;
                }
            }
            .spring-paintings__item__image {
                .paintings-image--inner {
                    height: 100%;
                }
                img, video {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
            .painting-download {
                font-size: 1.125rem;
                padding: .75rem 1.625rem;
                margin-top: 1.5rem;
                border: 1px solid $purple;
                color: $purple;
                background: transparent;
                border-radius: 3rem;
                width: max-content;
                z-index: 1;
                position: relative;
                transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
                &:hover, &:focus {
                    border-color: $purple;
                    background-color: $purple;
                    color: #fff;
                }
            }
        }
    }

    .spring-articles {
        margin-bottom: var(--pb-big);
        &__item {
            position: relative;
            &:not(:first-child) {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    padding-top: 2rem;
                }
            }
            .title-and-icon {
                position: relative;
                flex-direction: column-reverse;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 600;
                    border: var(--dashed-line-thickness) dashed #1a0201;
                    border-image-source: url(../../img/border.svg);
                    border-image-width: 1;
                    border-image-slice: 1;
                    border-image-repeat: round;
                    width: 100%;
                    height: 1px;
                    bottom: calc(var(--pb-sust-item-title) * -1);
                }
                &::before {
                    position: absolute;
                    content: url(../../img/icons/arrow_new_down.svg);
                    display: block;
                    z-index: 600;
                    opacity: var(--arrow-opacity);
                    bottom: calc((var(--pb-sust-item-title) * -1) - 1.1875rem + 1.5px);
                    width: 20px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 601;

                }
                @media screen and (min-width: $breakpoint-tablet) {
                    flex-direction: column;
                    &::after, &::before {
                        display: none;
                    }
                }
            }
            .spring-articles__subitem {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    display: none;
                    &:nth-of-type(2) {
                        margin-top: 1.55rem;
                    }
                }
            }
            .close-subitems-icon {
                display: none;
            }
            &.are-subitems-open {
                .title-and-icon {
                    &:after {
                        display: none;
                    }
                    &:before {
                        content: url(../../img/icons/arrow_new_up.svg);
                        bottom: calc((1.55rem * -1) - .5rem);
                        z-index: 601;
                    }
                }
                .spring-articles__subitem {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        display: flex;
                    }
                }
                .close-subitems-icon {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 20px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        opacity: var(--arrow-opacity);
                        z-index: 601;

                    }
                    &.is-functional {
                        bottom: var(--pb-small);
                    }
                }
                .line-eraser {
                    width: 20px;
                    height: 11px;
                    display: block;
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 601;
                }
            }
        }
        &__item:not(:last-child) {
            margin-bottom: var(--pb-big);
            @media screen and (max-width: $breakpoint-tablet-max) {
                margin-bottom: var(--pb-sust-item-title);
            }
        }
        strong > .spring-articles__item {
            @media screen and (max-width: $breakpoint-tablet-max) {
                padding-top: 2rem;
            }
        }
        &__item__title_block {
            h2 {
                margin-bottom: var(--pb-small);
                @media screen and (max-width: $breakpoint-tablet-max) {
                    margin-bottom: 0;
                }
            }
            @media screen and (max-width: $breakpoint-sm-max) {
                padding: 0;
            }
        }
        &__subitem {
            &.even {
                flex-direction: row-reverse;
            }
            .spring-articles__item__image, .spring-articles__item__text-block, .text-block--outer, .sustainability-image--inner, .spring-articles__item__qualities, .spring-articles__item__process, .quality-block--outer, .process-block--outer  {
                position: relative;
                &:before, &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 600;
                    border: var(--dashed-line-thickness) dashed #1a0201;
                    border-image-source: url(../../img/border.svg);
                    border-image-width: 1;
                    border-image-slice: 1;
                    border-image-repeat: round;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
                @media screen and (min-width: $breakpoint-sm) {
                    padding: 0;
                }
            }
            .spring-articles__item__image, .spring-articles__item__text-block, .spring-articles__item__qualities, .spring-articles__item__process {
                &:before, &:after {
                    width: 100%;
                    height: 1px;
                    left: 0;
                    z-index: 1;
                    @media screen and (max-width: $breakpoint-sm-max) {
                        width: calc(100% - (15px * 2));
                        left: 15px;
                    }
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
            }
            .text-block--outer, .spring-articles__item__image .sustainability-image--inner, .quality-block--outer, .process-block--outer {
                &:before {
                    width: 1px;
                    height: 100%;
                    left: 0;
                }
                &:after {
                    width: 1px;
                    height: 100%;
                    right: 0;
                }
            }
            .sustainability-image--inner {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    padding-top: 1.5px;
                }
                &.is-bg-black {
                    background-color: #000 !important;
                    &>p {
                        width: 100%;
                        height: 100%;
                    }
                }
                .fr-video {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding-bottom: 56.25%;
                }
                iframe {
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
                p {
                    margin-bottom: 0;
                }
            }
            .text-block--outer, .quality-block--outer, .process-block--outer {
                height: 100%;
            }
            .spring-articles__item__image {
                .sustainability-image--inner {
                    height: 100%;
                }
                img, video {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
            .spring-articles__item__text-block {
                &__text {
                    padding: calc(var(--story-text-padding-x) - .3rem) var(--story-text-padding-x) var(--pb-average) var(--story-text-padding-x);
                    h5 {
                        font-size: 1.875rem;
                        font-weight: bold;
                        color: $purple;
                        margin-bottom: var(--pb-small);
                        @media screen and (max-width: $breakpoint-tablet-max) {
                            font-size: 1.25rem;
                            text-transform: uppercase;
                        }
                    }
                    p {
                        margin-bottom: 0;
                    }
                    .subitem-body {
                        .original, .read-less {
                            display: none;
                        }
                        .read-more, .read-less {
                            font-size: 1.1rem;
                            font-weight: 700;
                            margin-top: 0.3rem;
                            color: $red;
                            cursor: pointer;
                            @media screen and (max-width: $breakpoint-tablet-max) {
                                display: none !important;
                            }
                        }
                        &.is-extended {
                            .original, .read-less {
                                display: block;
                            }
                            .read-more, .sliced {
                                display: none;
                            }
                        }
                        img {
                            max-width: 100%;
                        }
                        a {
                            text-decoration: underline;
                        }
                        p {
                            font-size: 1.125rem;
                            @media screen and (max-width: $breakpoint-tablet-max) {
                                font-size: .875rem;
                            }
                        }
                    }
                }
                .collection-creation-ornament {
                    position: absolute;
                    right: 30%;
                    width: 12.375rem;
                    height: auto;
                    bottom: -7.5rem;
                    z-index: 2;
                    @media screen and (max-width: $breakpoint-sm-max) {
                        width: 25%;
                        bottom: -12vw;
                        right: 7%;
                    }
                }
            }
            .spring-articles__item__qualities__inner, .spring-articles__item__process__inner {
                padding: calc(var(--story-text-padding-x) - .3rem) var(--story-text-padding-x) var(--pb-average) var(--story-text-padding-x);
                h5 {
                    font-weight: 700;
                }
            }
            .spring-articles__item__qualities {
                &__inner {
                    h5 {
                        margin-bottom: 6.1rem;
                        @media screen and (min-width: $breakpoint-sm) {
                            margin-bottom: 5.8rem;
                        }
                        @media screen and (min-width: $breakpoint-lg) {
                            margin-bottom: 6.25rem;
                        }
                    }
                    .chocolate-qualities {
                        &__inner {
                            position: relative;
                            width: 56%;
                            @media screen and (min-width: $breakpoint-sm) {
                                width: 74%;
                            }
                            @media screen and (min-width: $breakpoint-lg) {
                                width: 25%;
                            }
                            margin: 0 auto;
                            img {
                                width: 100%;
                            }
                            .quality-popup {
                                display: none;
                                position: absolute;
                                background: rgba(255,255,255,0.8);
                                width: 14rem;
                                right: calc(var(--red-circle-diameter) + var(--pb-mini));
                                z-index: 501;
                                transition: all .15s ease-in;
                                transform: translate(10%, 5rem);
                                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                                border: 1px solid var(--popup-border-clr);
                                &.is-visible {
                                    display: block;
                                }
                                p {
                                    color: $black;
                                    padding: var(--popup-padding-y);
                                    margin: 0;
                                    font-size: var(--fs-popup-text);
                                    line-height: 1.2;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
            .spring-articles__item__process {
                &__inner {
                    height: 100%;
                    h5 {
                        margin-bottom: 1.5rem;
                    }
                    .cocoa-process {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .row {
                            @media screen and (max-width: $breakpoint-lg-max) {
                                flex-direction: column;
                            }
                            .cocoa-process__col {
                                cursor: default;
                                @media screen and (max-width: $breakpoint-lg-max) {
                                    width: 40%;
                                }
                                .red-circle {
                                    right: 5%;
                                    bottom: 12%;
                                    @media screen and (max-width: $breakpoint-sm-max) {
                                        right: 15%;
                                        bottom: 24%;
                                    }
                                }
                                .cocoa-process__popup {
                                    visibility: hidden;
                                    opacity: 0;
                                    position: absolute;
                                    width: 200%;
                                    background: rgba(255,255,255,0.8);
                                    transition: all .15s ease-in;
                                    transform: translate(10%, 5rem);
                                    box-shadow: 0 0 5px rgba(0,0,0,0.2);
                                    border: 1px solid var(--popup-border-clr);
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    z-index: 800;
                                    @media screen and (max-width: $breakpoint-sm-max) {
                                        width: 216%;
                                    }
                                    h3 {
                                        font-size: 2.5rem;
                                        font-weight: 700;
                                        @media screen and (min-width: $breakpoint-sm) {
                                            font-size: 2.7rem;
                                        }
                                        @media screen and (min-width: $breakpoint-lg) {
                                            font-size: 2.1875rem;
                                        }
                                    }
                                    p {
                                        color: $black;
                                        margin: 0;
                                        font-size: 1rem;
                                        text-transform: uppercase;
                                        line-height: 1.2;
                                        font-weight: 400;
                                        @media screen and (min-width: $breakpoint-sm) {
                                            font-size: 1.15rem;
                                        }
                                        @media screen and (min-width: $breakpoint-lg) {
                                            font-size: 0.9375rem;
                                        }
                                    }
                                    &__inner {
                                        display: flex;
                                        padding: var(--popup-padding-y);
                                        flex-direction: column;
                                        justify-content: center;
                                    }
                                }
                                &:hover {
                                    .cocoa-process__popup {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }

    .spring-gallery {
        margin-bottom: var(--pb-big);
    
        // .container {
        //     @media screen and (max-width: $breakpoint-tablet-max) {
        //         padding-left: 0;
        //         padding-right: 0;
        //     }
        // }
    
        &__item {
            position: relative;
            &:not(:first-child) {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    padding-top: 2rem;
                }
            }
            .title-and-icon {
                position: relative;
                flex-direction: column-reverse;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 600;
                    border: var(--dashed-line-thickness) dashed #1a0201;
                    border-image-source: url(../../img/border.svg);
                    border-image-width: 1;
                    border-image-slice: 1;
                    border-image-repeat: round;
                    width: 100%;
                    height: 1px;
                    bottom: calc(var(--pb-sust-item-title) * -1);
                }
                &::before {
                    position: absolute;
                    content: url(../../img/icons/arrow_new_down.svg);
                    display: block;
                    z-index: 600;
                    opacity: var(--arrow-opacity);
                    bottom: calc((var(--pb-sust-item-title) * -1) - 1.1875rem + 1.5px);
                    width: 20px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 601;
    
                }
                @media screen and (min-width: $breakpoint-tablet) {
                    flex-direction: column;
                    &::after, &::before {
                        display: none;
                    }
                }
            }
            .spring-gallery__subitem {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    display: none;
                    &:nth-of-type(2) {
                        margin-top: 1.55rem;
                    }
                }
            }
            .close-subitems-icon {
                display: none;
            }
            &.are-subitems-open {
                .title-and-icon {
                    &:after {
                        display: none;
                    }
                    &:before {
                        content: url(../../img/icons/arrow_new_up.svg);
                        bottom: calc((1.55rem * -1) - .5rem);
                        z-index: 601;
                    }
                }
                .spring-gallery__subitem {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        display: flex;
                    }
                }
                .close-subitems-icon {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 20px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        opacity: var(--arrow-opacity);
                        z-index: 601;
    
                    }
                    &.is-functional {
                        bottom: var(--pb-small);
                    }
                }
                .line-eraser {
                    width: 20px;
                    height: 11px;
                    display: block;
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 601;
                }
            }
        }
        &__item:not(:last-child) {
            margin-bottom: var(--pb-big);
            @media screen and (max-width: $breakpoint-tablet-max) {
                margin-bottom: var(--pb-sust-item-title);
            }
        }
        strong > .spring-gallery__item {
            @media screen and (max-width: $breakpoint-tablet-max) {
                padding-top: 2rem;
            }
        }
        &__subitem {
            position: relative;
            &.even {
                flex-direction: row-reverse;
            }
            // @media screen and (max-width: $breakpoint-tablet-max) {
            //     margin-left: 0;
            //     margin-right: 0;
            // }
            &__outer {
                @media screen and (min-width: $breakpoint-tablet) {
                    padding: 0;
                }
            }
            &__pseudo, &__pseudo--bottom {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    // margin-left: 15px;
                    // margin-right: 15px;
                    // padding-left: 0;
                    // padding-right: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    margin-left: 15px;
                    margin-right: 15px;
                    &:before, &:after {
                        position: absolute;
                        content: '';
                        display: block;
                        z-index: 600;
                        border: var(--dashed-line-thickness) dashed #1a0201;
                        border-image-source: url(../../img/border.svg);
                        border-image-width: 1;
                        border-image-slice: 1;
                        border-image-repeat: round;
                    }
                }
            }
            &__pseudo {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    &:before {
                        top: 0;
                        width: 1px;
                        height: 100%;
                        left: 0;
                    }
                    &:after {
                        top: 0;
                        width: 1px;
                        height: 100%;
                        right: 30px;
                    }
                }
            }
            &__pseudo--bottom {
                &:after {
                    bottom: 0;
                    width: calc(100% - 30px);
                    height: 1px;
                }
            }
            .spring-gallery__item__image, .spring-image--inner  {
                position: relative;
                &:before, &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 600;
                    border: var(--dashed-line-thickness) dashed #1a0201;
                    border-image-source: url(../../img/border.svg);
                    border-image-width: 1;
                    border-image-slice: 1;
                    border-image-repeat: round;
                    @media screen and (min-width: $breakpoint-sm) {
                        display: none;
                    }
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
                @media screen and (min-width: $breakpoint-sm) {
                    padding: 0;
                }
                .spring-gal-slider {
                    @media screen and (max-width: $breakpoint-sm-max) {
                        height: 28.125rem;
                    }
                    margin-bottom: 1.5rem;
                    .slick-list {
                        @media screen and (min-width: $breakpoint-sm) {
                            margin-left: -12.25px;
                            margin-right: -12.25px;
                        }
                    }
                    .slick-track {
                        height: 28.125rem;
                        
                    }
                    .slick-slide {
                        @media screen and (min-width: $breakpoint-sm) {
                            padding-left: 12.25px;
                            padding-right: 12.25px;
                        }
                    }
                    .prev-arrow, .next-arrow {
                        z-index: 601;
                        @media screen and (max-width: $breakpoint-sm-max) {
                            width: 64px;
                            height: 64px;
                            margin-top: -32px;
                        }
                        svg > path {
                            transition: fill 300ms linear;
                        }
                        svg > g path {
                            transition: stroke 300ms linear;
                        }
                        &:hover {
                            svg > path {
                                fill: $purple !important;
                            }
                            svg > g path {
                                stroke: #fff !important;
                            }
                        }
                    }
                    .prev-arrow {
                        @media screen and (max-width: $breakpoint-sm-max) {
                            left: -32px;
                        }
                    }
                    .next-arrow {
                        @media screen and (max-width: $breakpoint-sm-max) {
                            right: -32px;
                        }
                    }
                    img {
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .spring-gallery__item__image {
                @media screen and (min-width: $breakpoint-sm) {
                    height: 28.125rem;
                }
                &:before, &:after {
                    width: 100%;
                    height: 1px;
                    left: 0;
                    z-index: 1;
                    @media screen and (max-width: $breakpoint-sm-max) {
                        width: 100%;
                    }
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
            }
            .spring-gallery__item__image .spring-image--inner {
                &:before {
                    width: 1px;
                    height: 100%;
                    left: 0;
                }
                &:after {
                    width: 1px;
                    height: 100%;
                    right: 0;
                }
            }
            .spring-image--inner {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    padding-top: 1.5px;
                }
                @media screen and (max-width: $breakpoint-sm-max) {
                    padding-bottom: 4.2rem; 
                }
                p {
                    margin-bottom: 0;
                }
                .progress {
                    display: block;
                    width: calc(33.33% - (15px * 2));
                    margin-left: auto;
                    margin-right: auto;
                    height: 4px;
                    border-radius: 10px;
                    overflow: hidden;
                    
                    background-color: #f5f5f5;
                    background-image: linear-gradient(to right, $purple, $purple);
                    background-repeat: no-repeat;
                    background-size: 0 100%;
                    
                    transition: background-size .4s ease-in-out;
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        width: 90%;
                    }
                    // @media screen and (max-width: $breakpoint-sm-max) {
                    //     margin-bottom: 2.875rem;
                    // }
                    .sr-only {
                        position: absolute;
                        width: 1px;
                        height: 1px;
                        padding: 0;
                        margin: -1px;
                        overflow: hidden;
                        clip: rect(0,0,0,0);
                        border: 0;
                      }
                  }
            }
            .spring-gallery__item__image {
                .spring-image--inner {
                    height: 100%;
                }
                img, video {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

}