.sustainability {
    p {
        font-size: var(--fs-par);
        font-weight: 400;
        line-height: 1.5;
        color: $black;
    }
    h1, h2 {
        color: $black;
        font-weight: bold;
        font-family: $font;
        text-align: center;
    }
    h1 {
        font-size: var(--fs-h1);
    }
    h2 {
        font-size: var(--fs-h2);
        text-transform: uppercase;
    }
    h5 {
        font-size: var(--fs-h5);
        font-weight: 500;
        text-transform: uppercase;
    }
    .red-circle--big {
        width: 5.3125rem;
        height: 5.3125rem;
        border-radius: 100%;
        background: $red;
        margin: 0 auto var(--pb-small) auto;
        position: relative;
        @media screen and (max-width: $breakpoint-tablet-max) {
            margin-bottom: var(--pb-mini);
        }
        &::after {
            position: absolute;
            top: 100%;
            left: calc(50% - 0.5px);
            width: 1px;
            height: var(--pb-small);
            display: block;
            content: '';
            z-index: 600;
            border: var(--dashed-line-thickness) dashed #1a0201;
            border-image-source:url('../../img/border.svg');
            border-image-width: 1;
            border-image-slice: 1;
            border-image-repeat: round;
            @media screen and (max-width: $breakpoint-tablet-max) {
                display: none;
            }
        }
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .red-circle {
        width: var(--red-circle-diameter);
        height: var(--red-circle-diameter);
        border-radius: 100%;
        background: $red;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 500;
        transition: all .15s cubic-bezier(.17,.67,.83,.67);
        &:hover {
            transform: scale(1.1);
            .goal-popup, .quality-popup {
                display: block;
            }
        }
        p {
            color: $gold;
            margin: 0;
        }
        &.is-plus {
            .goals-unit {
                font-size: 2.625rem;
                transition: all .15s cubic-bezier(.17,.67,.83,.67);
            }
            &:hover {
                .goals-unit {
                    transform: rotate(45deg) scale(1.1);
                }
            }
        }
        &.is-plus-anchor {
            background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 50 50'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Ccircle cx='25' cy='25' r='25' style='fill:%23dc0032'/%3E%3Cline x1='25' y1='17.23' x2='25' y2='32.99' style='fill:none;stroke:%23edcaa6;stroke-linecap:round;stroke-width:3px'/%3E%3Cline x1='33.41' y1='24.72' x2='17.66' y2='24.72' style='fill:none;stroke:%23edcaa6;stroke-linecap:round;stroke-width:3px'/%3E%3C/svg%3E");
            background-repeat: round;
            width: 2.2rem;
            height: 2.2rem;
            @media screen and (min-width: $breakpoint-tablet) {
                width: 3.1rem;
                height: 3.1rem;
            }
            @media screen and (min-width: $breakpoint-lg) {
                width: 2.5rem;
                height: 2.5rem;
            }
            &.is-hovered {
                transition: all 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);
                transform: rotate(45deg) scale(1.1);
            }
        }
    }
    #main-menu {
        .navbar-nav {
            .nav-link {
                color: $black;
                &:hover {
                    color: $red;
                }
            }
        }
        .helper-icons li {
            .icon path {
                fill: $black !important;
            }
            &:hover {
                .icon {
                    svg {
                        transform: scale(1.2);
                    }
                    path {
                        fill: $red !important;
                    }
                }
            }
        }
        #main-menu-content:after {
            @media screen and (min-width: $breakpoint-lg) {
                position: absolute;
                content: '';
                display: block;
                bottom: -10px;
                left: 0;
                width: 100%;
                height: var(--dashed-line-thickness);
                background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='1' viewBox='0 0 12 1'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cpath d='M0,.5H12' style='fill:none;stroke:%23673131;stroke-dasharray:6'/%3E%3C/svg%3E");
            }
        }
        &:after {
            @media screen and (max-width: $breakpoint-lg-max) {
                position: absolute;
                content: '';
                display: block;
                bottom: 0;
                left: 0;
                width: 100%;
                height: var(--dashed-line-thickness);
                background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='1' viewBox='0 0 12 1'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Cpath d='M0,.5H12' style='fill:none;stroke:%23673131;stroke-dasharray:6'/%3E%3C/svg%3E");
            }
            
        }
    }
    .hero {
        margin-bottom: var(--pb-average);
        @media screen and (max-width: $breakpoint-tablet-max) {
            margin-bottom: 2.5rem;
        }
        &__title {
            margin-bottom: var(--pb-average);
            @media screen and (max-width: $breakpoint-sm-max) {
                margin-bottom: calc(var(--pb-small) - .8rem);
            }
        }
        &__text {
            text-align: center;
            @media screen and (max-width: $breakpoint-tablet-max) {
                margin-bottom: 0;
            }
        }
        @media screen and (max-width: $breakpoint-lg-max) {
            margin-top: var(--pb-average);
        }
    }
    .container {
        &.mobile-p-0 {
            @media screen and (max-width: $breakpoint-lg-max) {
                padding: 0 !important;
                max-width: 100% !important;
            }
        }
    }
    .sustainability-items-nav {
        margin-bottom: var(--pb-big);
        &__link {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-decoration: none;
            &:hover {
                p {
                    color: $red;
                }
            }
        }
        .row {
            align-items: end;
        }
        .col {
            display: flex;
            justify-content: center;
            @media screen and (max-width: $breakpoint-sm-max) {
                width: 100%;
            }
        }
        p {
            text-align: center;
            font-size: var(--fs-h5);

        }
        img {
            width: 8.5rem;
            height: 8.5rem;
        }
        @media screen and (max-width: $breakpoint-tablet-max) {
            display: none;
        }
    }
    .sustainability-items {
        margin-bottom: var(--pb-big);
        &__item {
            position: relative;
            &:not(:first-child) {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    padding-top: 2rem;
                }
            }
            .title-and-icon {
                position: relative;
                flex-direction: column-reverse;
                &::after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 600;
                    border: var(--dashed-line-thickness) dashed #1a0201;
                    border-image-source: url(../../img/border.svg);
                    border-image-width: 1;
                    border-image-slice: 1;
                    border-image-repeat: round;
                    width: 100%;
                    height: 1px;
                    bottom: calc(var(--pb-sust-item-title) * -1);
                }
                &::before {
                    position: absolute;
                    content: url(../../img/icons/arrow_new_down.svg);
                    display: block;
                    z-index: 600;
                    opacity: var(--arrow-opacity);
                    bottom: calc((var(--pb-sust-item-title) * -1) - 1.1875rem + 1.5px);
                    width: 20px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 601;

                }
                @media screen and (min-width: $breakpoint-tablet) {
                    flex-direction: column;
                    &::after, &::before {
                        display: none;
                    }
                }
            }
            .sustainability-items__subitem {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    display: none;
                    &:nth-of-type(2) {
                        margin-top: 1.55rem;
                    }
                }
            }
            .close-subitems-icon {
                display: none;
            }
            &.are-subitems-open {
                .title-and-icon {
                    &:after {
                        display: none;
                    }
                    &:before {
                        content: url(../../img/icons/arrow_new_up.svg);
                        bottom: calc((1.55rem * -1) - .5rem);
                        z-index: 601;
                    }
                }
                .sustainability-items__subitem {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        display: flex;
                    }
                }
                .close-subitems-icon {
                    @media screen and (max-width: $breakpoint-tablet-max) {
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 20px;
                        left: 0;
                        right: 0;
                        margin: auto;
                        opacity: var(--arrow-opacity);
                        z-index: 601;

                    }
                    &.is-functional {
                        bottom: var(--pb-small);
                    }
                }
                .line-eraser {
                    width: 20px;
                    height: 11px;
                    display: block;
                    position: absolute;
                    bottom: -0.5rem;
                    left: 0;
                    right: 0;
                    margin: auto;
                    z-index: 601;
                }
            }
        }
        &__item:not(:last-child) {
            margin-bottom: var(--pb-big);
            @media screen and (max-width: $breakpoint-tablet-max) {
                margin-bottom: var(--pb-sust-item-title);
            }
        }
        strong > .sustainability-items__item {
            @media screen and (max-width: $breakpoint-tablet-max) {
                padding-top: 2rem;
            }
        }
        &__item__title_block {
            h2 {
                margin-bottom: var(--pb-small);
                @media screen and (max-width: $breakpoint-tablet-max) {
                    margin-bottom: 0;
                }
            }
            @media screen and (max-width: $breakpoint-sm-max) {
                padding: 0;
            }
        }
        &__subitem {
            &.even {
                flex-direction: row-reverse;
            }
            .sustainability-items__item__image, .sustainability-items__item__text-block, .text-block--outer, .sustainability-image--inner, .sustainability-items__item__qualities, .sustainability-items__item__process, .quality-block--outer, .process-block--outer  {
                position: relative;
                &:before, &:after {
                    position: absolute;
                    content: '';
                    display: block;
                    z-index: 600;
                    border: var(--dashed-line-thickness) dashed #1a0201;
                    border-image-source: url(../../img/border.svg);
                    border-image-width: 1;
                    border-image-slice: 1;
                    border-image-repeat: round;
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
                @media screen and (min-width: $breakpoint-sm) {
                    padding: 0;
                }
            }
            .sustainability-items__item__image, .sustainability-items__item__text-block, .sustainability-items__item__qualities, .sustainability-items__item__process {
                &:before, &:after {
                    width: 100%;
                    height: 1px;
                    left: 0;
                    z-index: 1;
                    @media screen and (max-width: $breakpoint-sm-max) {
                        width: calc(100% - (15px * 2));
                        left: 15px;
                    }
                }
                &:before {
                    top: 0;
                }
                &:after {
                    bottom: 0;
                }
            }
            .text-block--outer, .sustainability-items__item__image .sustainability-image--inner, .quality-block--outer, .process-block--outer {
                &:before {
                    width: 1px;
                    height: 100%;
                    left: 0;
                }
                &:after {
                    width: 1px;
                    height: 100%;
                    right: 0;
                }
            }
            .sustainability-image--inner {
                @media screen and (max-width: $breakpoint-tablet-max) {
                    padding-top: 1.5px;
                }
                &.is-bg-black {
                    background-color: #000 !important;
                    &>p {
                        width: 100%;
                        height: 100%;
                    }
                }
                .fr-video {
                    display: block;
                    width: 100%;
                    height: 100%;
                    padding-bottom: 56.25%;
                }
                iframe {
                    display: block;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                }
                p {
                    margin-bottom: 0;
                }
            }
            .text-block--outer, .quality-block--outer, .process-block--outer {
                height: 100%;
            }
            .sustainability-items__item__image {
                .sustainability-image--inner {
                    height: 100%;
                }
                img, video {
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
            .sustainability-items__item__text-block {
                &__text {
                    padding: calc(var(--story-text-padding-x) - .3rem) var(--story-text-padding-x) var(--pb-average) var(--story-text-padding-x);
                    h5 {
                        margin-bottom: var(--pb-small);
                    }
                    p {
                        margin-bottom: 0;
                    }
                    .subitem-body {
                        .original, .read-less {
                            display: none;
                        }
                        .read-more, .read-less {
                            font-size: 1.1rem;
                            font-weight: 700;
                            margin-top: 0.3rem;
                            color: $red;
                            cursor: pointer;
                            @media screen and (max-width: $breakpoint-tablet-max) {
                                display: none !important;
                            }
                        }
                        &.is-extended {
                            .original, .read-less {
                                display: block;
                            }
                            .read-more, .sliced {
                                display: none;
                            }
                        }
                        img {
                            max-width: 100%;
                        }
                        a {
                            text-decoration: underline;
                        }
                    }
                }
            }
            .sustainability-items__item__qualities__inner, .sustainability-items__item__process__inner {
                padding: calc(var(--story-text-padding-x) - .3rem) var(--story-text-padding-x) var(--pb-average) var(--story-text-padding-x);
                h5 {
                    font-weight: 700;
                }
            }
            .sustainability-items__item__qualities {
                &__inner {
                    h5 {
                        margin-bottom: 6.1rem;
                        @media screen and (min-width: $breakpoint-sm) {
                            margin-bottom: 5.8rem;
                        }
                        @media screen and (min-width: $breakpoint-lg) {
                            margin-bottom: 6.25rem;
                        }
                    }
                    .chocolate-qualities {
                        &__inner {
                            position: relative;
                            width: 56%;
                            @media screen and (min-width: $breakpoint-sm) {
                                width: 74%;
                            }
                            @media screen and (min-width: $breakpoint-lg) {
                                width: 25%;
                            }
                            margin: 0 auto;
                            img {
                                width: 100%;
                            }
                            .quality-popup {
                                display: none;
                                position: absolute;
                                background: rgba(255,255,255,0.8);
                                width: 14rem;
                                right: calc(var(--red-circle-diameter) + var(--pb-mini));
                                z-index: 501;
                                transition: all .15s ease-in;
                                transform: translate(10%, 5rem);
                                box-shadow: 0 0 5px rgba(0,0,0,0.2);
                                border: 1px solid var(--popup-border-clr);
                                &.is-visible {
                                    display: block;
                                }
                                p {
                                    color: $black;
                                    padding: var(--popup-padding-y);
                                    margin: 0;
                                    font-size: var(--fs-popup-text);
                                    line-height: 1.2;
                                    font-weight: 400;
                                }
                            }
                        }
                    }
                }
            }
            .sustainability-items__item__process {
                &__inner {
                    height: 100%;
                    h5 {
                        margin-bottom: 1.5rem;
                    }
                    .cocoa-process {
                        height: 100%;
                        display: flex;
                        align-items: center;
                        .row {
                            @media screen and (max-width: $breakpoint-lg-max) {
                                flex-direction: column;
                            }
                            .cocoa-process__col {
                                cursor: default;
                                @media screen and (max-width: $breakpoint-lg-max) {
                                    width: 40%;
                                }
                                .red-circle {
                                    right: 5%;
                                    bottom: 12%;
                                    @media screen and (max-width: $breakpoint-sm-max) {
                                        right: 15%;
                                        bottom: 24%;
                                    }
                                }
                                .cocoa-process__popup {
                                    visibility: hidden;
                                    opacity: 0;
                                    position: absolute;
                                    width: 200%;
                                    background: rgba(255,255,255,0.8);
                                    transition: all .15s ease-in;
                                    transform: translate(10%, 5rem);
                                    box-shadow: 0 0 5px rgba(0,0,0,0.2);
                                    border: 1px solid var(--popup-border-clr);
                                    top: 50%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    z-index: 800;
                                    @media screen and (max-width: $breakpoint-sm-max) {
                                        width: 216%;
                                    }
                                    h3 {
                                        font-size: 2.5rem;
                                        font-weight: 700;
                                        @media screen and (min-width: $breakpoint-sm) {
                                            font-size: 2.7rem;
                                        }
                                        @media screen and (min-width: $breakpoint-lg) {
                                            font-size: 2.1875rem;
                                        }
                                    }
                                    p {
                                        color: $black;
                                        margin: 0;
                                        font-size: 1rem;
                                        text-transform: uppercase;
                                        line-height: 1.2;
                                        font-weight: 400;
                                        @media screen and (min-width: $breakpoint-sm) {
                                            font-size: 1.15rem;
                                        }
                                        @media screen and (min-width: $breakpoint-lg) {
                                            font-size: 0.9375rem;
                                        }
                                    }
                                    &__inner {
                                        display: flex;
                                        padding: var(--popup-padding-y);
                                        flex-direction: column;
                                        justify-content: center;
                                    }
                                }
                                &:hover {
                                    .cocoa-process__popup {
                                        visibility: visible;
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
    .red-bg-text {
        @media screen and (max-width: $breakpoint-tablet-max) {
            display: none;
        }
        &.container {
            @media screen and (min-width: $breakpoint-sm) {
                padding: 0 !important;
            }
        }
    }
    .red-block {
        margin-bottom: var(--pb-mid);
        &__inner {
            text-align: center;
            &__title, p {
                color: $gold;
                text-align: center;
                background: $red;
            }
            &__title {
                margin: 0;
                
                display: inline-block;
                padding: calc(var(--pb-mini) * 0.12) var(--pb-mini) calc(var(--pb-mini) * 1) var(--pb-mini);
            }
            p {
                padding: var(--pb-small) var(--pb-mini) var(--pb-mini) var(--pb-mini);
            }
            padding: calc((var(--pb-mid) - 1em) * 0.7) calc(var(--pb-small)) calc(var(--pb-mid) * 0.7) var(--pb-small);
            @media screen and (min-width: $breakpoint-sm) {
                padding: 0;
            }
        }
    }
    .sustainability-goals {
        .row {
            justify-content: center;
            .col-12 {
                margin-bottom: var(--pb-big);
            }
        }
        h2 {
            margin-bottom: var(--pb-small);
        }
        img {
            width: 100%;
            @media screen and (min-width: $breakpoint-sm) {
                height: 100%;
            }
        }
        &__image {
            display: flex;
            justify-content: center;
            @media screen and (min-width: $breakpoint-sm) {
                height: 18.75rem + 2.625rem;
            }
            
            &__inner {
                position: relative;
            }
        }
        .goal-popup {
            display: none;
            position: absolute;
            background: #fff;
            width: 14rem;
            right: calc(var(--red-circle-diameter) + var(--pb-mini));
            z-index: 501;
            transition: all .15s ease-in;
            transform: translate(10%, 5rem);
            box-shadow: 0 0 5px rgba(0,0,0,0.2);
            height: fit-content;
            &.is-visible {
                display: block;
            }
            p {
                color: $black;
                padding: var(--popup-padding-y) var(--popup-padding-x);
                margin: 0;
                font-size: var(--fs-popup-text);
                line-height: 1.2;
                font-weight: 500;
            }
        }
    }
    .embedded-video-container {
        .row {
            @media screen and (max-width: $breakpoint-sm-max) {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .embedded-video {
        width: 100%;
        position: relative;
        padding-bottom: 56.25%;
        margin-bottom: var(--pb-big);
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .red-block-bg {
        background-color: $red;
        width: 100%;
        height: 6.5rem;
    }
    .bottom-background {
        width: 100%;
        height: 34rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        @media screen and (min-width: $breakpoint-md) {
            max-height: 38rem;
            height: 60vh;
        }
        
    }
    footer {
        margin-top: var(--pb-big) !important;
        @media screen and (min-width: $breakpoint-sm) {
            margin-top: calc(var(--pb-big) + 86px) !important;
        }
    }
}