.balta-sarma {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .container {
      padding-top: 5.9rem;
      padding-bottom: 9.4rem;
      @media screen and (min-width: $breakpoint-lg) {
        padding-top: 3.9375rem;
        padding-bottom: 11.5625rem;
      }
      @media screen and (max-width: $breakpoint-lg-max) {
        font-size: 1.95rem;
      }
    }
    p, h1, h2, h3, h4, h5 {
      color: #fff !important;
    }
    &__title .title, &__items .balta-sarma-item__title {
      font-weight: 500 !important;
    }
    &__title, &__items {
      margin-bottom: 3.28rem;
    }
    &__title {
      @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: 3.9375rem;
      }
    }
    &__items {
      @media screen and (min-width: $breakpoint-lg) {
        margin-bottom: 5rem;
      }
      .balta-sarma-item {
        &:not(:last-child) {
          margin-bottom: 3.3rem;
          @media screen and (min-width: $breakpoint-lg) {
            margin-bottom: 2.625rem;
          }
        }
        &__title {
          font-size: 1.94rem;
          margin-bottom: .95rem;
          @media screen and (min-width: $breakpoint-lg) {
            font-size: 2.1875rem;
            margin-bottom: 0.9375rem;
          }
          line-height: 1.42;
        }
        .balta-sarma-item {
          &__text {
            margin-bottom: 1.25rem;
            @media screen and (min-width: $breakpoint-lg) {
              margin-bottom: 0;
            }
            p {
              &:last-child {
                margin-bottom: 0;
              }
              &:not(:last-child) {
                @media screen and (max-width: $breakpoint-lg-max) {
                  margin-bottom: 1.25rem;
                }
              }
            }
          }
          &__icon-row {
            $iconRowGapMobile: 6px;
            $iconRowGapDesktop: 21px;
            margin-left: -$iconRowGapMobile;
            margin-right: -$iconRowGapMobile;
            &>* {
              padding-left: $iconRowGapMobile;
              padding-right: $iconRowGapMobile;
            }
            @media screen and (min-width: $breakpoint-lg) {
              margin-left: -$iconRowGapDesktop;
              margin-right: -$iconRowGapDesktop;
              &>* {
                padding-left: $iconRowGapDesktop;
                padding-right: $iconRowGapDesktop;
              }
            }
          }
          &__icon {
            img {
              margin-bottom: .62rem;
              max-width: 5.3rem;
              @media screen and (min-width: $breakpoint-sm) {
                max-width: 10.7rem;
              }
              @media screen and (min-width: $breakpoint-lg) {
                max-width: 8.5rem;
                margin-bottom: 0.75rem;
              }
            }
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    &__bottom {
      &__text {
        font-size: 1.94rem !important;
        font-weight: 500;
        margin-bottom: 1.25rem;
        line-height: 1.42 !important;
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 2.1875rem !important;
          padding-left: 2.625rem;
          margin-bottom: 0;
        }
      }
      img {
        width: 7.7rem;
        @media screen and (min-width: $breakpoint-sm) {
          width: 10.7rem;
        }
        @media screen and (min-width: $breakpoint-lg) {
          width: 10rem;
        }
      }
    }
}

.sweet-story {
  h2, h5 {
    font-size: 3.75rem !important;
    @media screen and (max-width: $breakpoint-lg-max) {
      font-size: 3rem !important;
    }
  }
  .hero__title {
    margin-bottom: 3.75rem;
    @media screen and (max-width: $breakpoint-lg-max) {
      margin-top: 3.75rem;
      margin-bottom: 1.875rem;
    } 
  }
  .fruits {
    &__container {
      @media screen and (min-width: $breakpoint-lg) {
        padding: 0 10%;
      }
    }
    .fruits__hover-icon {
      top: 18%;
      right: 22%;
    }
  }
  .fresh-fruit {
    min-height: 530px !important;
    min-height: 540px !important;
    &:hover {
      .fresh-fruit__artefact {
        &--1 {
          @media screen and (max-width: $breakpoint-lg-max) {
            top: 14% !important;
            right: 68%;
            filter: blur(5px) !important;
            transform: none !important;
          }
        }
        &--2 {
          @media screen and (max-width: $breakpoint-lg-max) {
            bottom: 20% !important;
            right: 60% !important;
            transform: none !important;
            filter: none !important;
          }
        }
        &--3 {
          @media screen and (max-width: $breakpoint-lg-max) {
            bottom: -17px !important;
            transform: none !important;
            filter: none !important;
          }
        }
        &--4 {
          @media screen and (max-width: $breakpoint-lg-max) {
            bottom: 20% !important;
            left: 60% !important;
            transform: none !important;
            filter: none !important;
          }
        }
        &--5 {
          filter: none !important;
        }
        &--6 {
          transform: none !important;
          top: 16% !important;
          right: 42% !important;
          transform: scale(0.4) rotate(80deg) !important;
        }
      }
  
    }
    .fresh-fruit__title {
      z-index: 999;
      @media screen and (max-width: $breakpoint-lg-max) {
        padding-top: 0px !important;
      }
    }
    &__title--later {
      @media screen and (max-width: $breakpoint-lg-max) {
        opacity: 1 !important;
      }
    }
    .fresh-fruit__artefact {
      z-index: 100;
    }
    .fresh-fruit__artefact--1 {
      top: 14%;
      right: 68%;
    }
    .fresh-fruit__artefact--3 {
      bottom: -17px;
      img {
        max-width: 95%;
      }
    }
    .fresh-fruit__artefact--5 {
      top: 7%;
      right: 15%;
    }
    .fresh-fruit__artefact--6 {
      top: 16%;
      right: 42%;
      z-index: 99;
    }
  }
  .production {
    margin: 120px 0 120px !important;
    @media screen and (max-width: $breakpoint-lg-max) {
      margin: 120px 0 80px !important;
    }
  }
  .hero {
    margin-top: 60px;
  }
  .timeline {
    margin: 120px 0 60px 0 !important;
  }
  .clock__text .clock__text__container {
    @media screen and (max-width: $breakpoint-lg-max) {
      padding: 120px 0 !important;
    }
  }
  .clock__canvas {
    @media screen and (max-width: $breakpoint-lg-max) {
      padding: 90px 0 60px 0 !important;
    }
  }
}