//Breakpoints according to column breakpoints

//min-width breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1400px;

//max-width breakpoints
$breakpoint-sm-max: $breakpoint-sm - 1;
$breakpoint-md-max: $breakpoint-md - 1;
$breakpoint-tablet-max: 1023px;
$breakpoint-lg-max: $breakpoint-lg - 1;
$breakpoint-xl-max: $breakpoint-xl - 1;

//Root variables

:root {
    --pb-big: calc(var(--pb-average) * 2);
    --pb-average: 3.75rem;
    --pb-average-smaller: calc(var(--pb-average) * 0.75);
    --pb-small: calc(var(--pb-average) / 2);
    --pb-mid: calc(var(--pb-average) + (var(--pb-average) / 2));
    --pb-mini: calc(var(--pb-average) / 4);
    --pb-sust-item-title: 1.55rem;
    --fs-h1: 4.5rem;
    --fs-h2: 2.1875rem;
    --fs-h5: 1.25rem;
    --fs-par: 1.125rem;
    --fs-popup-text: 0.875rem;
    --red-circle-diameter: 4.375rem;
    --dashed-line-thickness: 0.8px;
    --popup-padding-x: 1.6rem;
    --popup-padding-y: 1.8rem;
    --story-text-padding-x: 2.6rem;
    --arrow-opacity: 1;
    --popup-border-clr: #1A0209;
    @media screen and (max-width: $breakpoint-lg-max) {
        --fs-h1: 3.3rem;
        --fs-h2: calc(var(--fs-h5));
        --pb-average: 4.5rem;
    }
}

$font: "brother-1816-printed";
$black: #1a0201;
$red: #dc0032;
$gold: #edcaa6;
$chocolate-clr: #4F1715;
$purple: #69135E;
$darkGreen: #003427;

//Sustainability page styles
@import 'home';
@import 'sustainability';
@import 'sweet-story';
@import 'chocolate-qualities';
@import 'spring';
