<svg class="icon" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M2 7H28" stroke="#EDCAA6" stroke-width="2" stroke-linecap="square"/>
    <path d="M2 15H28" stroke="#EDCAA6" stroke-width="2" stroke-linecap="square"/>
    <path d="M2 23H28" stroke="#EDCAA6" stroke-width="2" stroke-linecap="square"/>
</svg>