<svg xmlns="http://www.w3.org/2000/svg" width="13.77" height="26.53" viewBox="0 0 13.77 26.53" class="icon"><title>Asset 1</title><path d="M8.94,26.52V14.42H13l.61-4.71H8.94v-3c0-1.36.37-2.3,2.33-2.3h2.5V.18A34,34,0,0,0,10.13,0C6.53,0,4.07,2.2,4.07,6.23V9.71H0v4.72H4.07v12.1H8.94Z" style="fill:#edcaa6"/></svg>
