==
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.57 42.95" class="marker"><path d="M16.79 0C7.39 0 0 7.8 0 17.75 0 27.27 15.23 42 15.89 42.59a1.3 1.3 0 001.8 0c.67-.62 15.88-15.34 15.88-24.84C33.57 7.79 26.19 0 16.79 0zm0 39.76c-4.66-4.7-14.16-15.51-14.16-22 0-8.46 6.22-15.08 14.16-15.08S30.94 9.3 30.94 17.75c0 6.49-9.5 17.35-14.15 22.01z" fill="#edcaa6"/><path d="M16.79 9.36a8.06 8.06 0 108.05 8.06 8.06 8.06 0 00-8.05-8.06zm5.37 8.06A5.38 5.38 0 1116.78 12a5.38 5.38 0 015.38 5.38z" fill="#edcaa6"/></svg>