<svg xmlns="http://www.w3.org/2000/svg" width="33.57" height="42.95" viewBox="0 0 33.57 42.95" class="icon"><title>Asset 1</title><path d="M16.79,0C7.39,0,0,7.8,0,17.75,0,27.27,15.23,42,15.89,42.59a1.3,1.3,0,0,0,1.8,0c.67-.62,15.88-15.34,15.88-24.84C33.57,7.79,26.19,0,16.79,0Zm0,39.76c-4.66-4.7-14.16-15.51-14.16-22C2.63,9.3,8.85,2.68,16.79,2.68S30.94,9.3,30.94,17.75C30.94,24.24,21.44,35.1,16.79,39.76Z" style="fill:#edcaa6"/><path d="M16.79,9.36h0a8.06,8.06,0,1,0,8.05,8.06A8.06,8.06,0,0,0,16.79,9.36Zm5.37,8.06A5.38,5.38,0,1,1,16.78,12a5.38,5.38,0,0,1,5.38,5.38Z" style="fill:#edcaa6"/></svg>
