<div class="collection-slider slider">
    {% set collections = Products.getfilteredCollections() %}
    {% for coll in collections %}
        <div>
            <div class="slide">
                <a itemscope itemtype="https://schema.org/ProductGroup" class="link-wrap" href="{{ 'products'|page({ type:'collection', slug: coll.slug }) }}">
                    {# <div itemprop="image" class="img fullscreen" style="background-image:url('{{ coll.title_image.getThumb(300, 470, {mode:'crop'}) }}')"></div> #}
                    {# <img itemprop="image" data-src="{{ coll.title_image.getThumb(300, 470, {mode:'crop'}) }}" 
                         class="lazyload img fullscreen" alt="{{ coll.title_image.title }}"> #}
                    <div class="lazyload img fullscreen" data-bg="{{ coll.title_image.getThumb(300, 470, {mode:'crop'}) }}"></div>
                    <img style="display:none" itemprop="image" alt="{{ coll.title_image.title }}" data-src="{{ coll.title_image.getThumb(300, 470, {mode:'crop'}) }}" class="lazyload">
                    <h3 itemprop="name" class="title">{{coll.title}}</h3>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
