<div class="hero-slider slider">

    {% set hero_slides = Content.getSlides() %}

    {% for slide in hero_slides %}

    <a class="slide" href="{{slide.link}}" >
        <div class="slide_bg fullscreen" style="background-image:url('{{slide.title_image.getThumb(1920, 'auto')}}')"></div>
        <div class="slide_bg slide_bg_mob fullscreen" style="background-image:url('{% if slide.mobile_title_image %}{{slide.mobile_title_image.getThumb(800, 'auto')}}{% else %}{{slide.title_image.getThumb(800, 'auto')}}{% endif %}')"></div>
        <div class="container h-100">
            <div class="row h-100">
                <div class="content col text-center">
                    {% if slide.link %}
                    <button class="btn btn-outline-secondary more float-lg-right"
                        href="{{slide.link}}"
                        {% if 'laima.lv/' in slide.link %}
                        {% else %}
                            target="_blank"
                        {% endif %}
                    >
                        {{texts.6.text}}
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </a>

    {% endfor %}

</div>
