title = "Par mums"
url = "/company"
layout = "company"
is_hidden = 0
==

{% put styles %}
    {# <link rel="stylesheet" href="{{'assets/puzzlepeace/default.css'|theme}}" /> #}
    <link rel="stylesheet" href="{{'assets/puzzlepeace/company.css'|theme}}" />
    <style type="text/css">
    .company .artefact.art__13 {
      top: 3.1%;
      left: 120px;
      z-index: -1;
    }
    .company .artefact.art__14 {
      top: 21.6%;
      right: 120px;
      z-index: -1;
    }
    </style>
{% endput %}

{% put scripts %}

{% endput %}


<div class="about-us" data-aos="fade-up">
    <div class="about-us__container container">
        <div class="about-us__row row">
            <div class="about-us__content col-12 col-lg-10 offset-lg-1">
                <h1>{{texts.40.text}}</h1>
                <p>{{texts.39.text}}</p>
            </div>
        </div>
    </div>
</div>


<div class="history">
    <div class="history__container container">

        <div class="history__lifeline d-none d-lg-block">
            {# <img src="{{'/assets/img/company/lifeline.svg'|theme}}"> #}
            {% partial 'components/company-animation/default' %}
        </div>

        {% for history_item in Content.getHistory() %}
            <div class="history__y1881 row align-items-center">
                <div class="history__y1881-image col-12 col-lg-6" style="margin-top:auto;">
                    <div class="history__y1881-image-content" {% if loop.index is odd %}data-aos="fade-up"{% else %}data-aos="fade-left"{% endif %}>
                        <h3 class="d-lg-none">{{history_item.year}}</h3>
                        {% if history_item.title_image %}
                            <img src="{{history_item.title_image.getThumb(640,640)}}" alt="{{ history_item.title_image.title }}">
                        {% endif %}
                    </div>
                </div>
                <div class="history__y1881-text col-12 col-lg-6">
                    <div class="history__y1870-text-content" {% if loop.index is odd %}data-aos="fade-up"{% else %}data-aos="fade-right"{% endif %}>
                        <h3>{{history_item.year}}</h3>
                        <p>{{history_item.text|nl2br}}</p>
                    </div>
                </div>
            </div>
        {% endfor %}


        {# -------------------------------------
            This is old data for this page.. Probably should delete if nothing happens...
        #}
        {# {% partial 'components/__page-company--old-data' history=Content.getHistory() %} #}



        <div class="artefact art__12 rellax" data-rellax-speed="0.75">
            <img src="{{'/assets/img/company/sokolade_2gab.png'|theme}}">
        </div>
        <div class="artefact art__13 rellax" data-rellax-speed="0.75">
            <img src="{{'/assets/img/company/sokolade_1gab.png'|theme}}">
        </div>
        <div class="artefact art__14 rellax" data-rellax-speed="0.75">
            <img src="{{'/assets/img/company/black_currant.png'|theme}}">
        </div>
    </div>

</div>


<div class="header-image">
    <img class="lazyload" data-src="{{'assets/img/fruit.png'|theme}}" alt="">
    {# <img src="{{'assets/img/company/bg.png'|theme}}" alt=""> #}
</div>
