title = "Contacts"
slug = "contacts"
url = "/contacts"
layout = "contacts"
is_hidden = 0

[Form]

==
{% set contacts = Content.getContacts() %}

<main>

        <section id="buj">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="section-title">{{ texts.36.text }}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <p class="desc">
                            {# {{ texts.37.text }} #}
                        </p>

                        <div class="accordion" id="buj-accordion">
                            {% set i = 1 %}
                            {% set delay = 0 %}
                            {% set questions = Content.getQuestions() %}
                            {% for question in questions %}
                                <div class="card" data-aos="zoom-out-top" data-aos-delay="{{ delay }}">
                                    <div class="card-header" id="buj-heading-{{ i }}">
                                        <h2 class="mb-0">
                                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#buj-{{ i }}" aria-expanded="true" aria-controls="buj-{{ i }}">
                                                {{ question.title }}
                                            </button>
                                        </h2>
                                    </div>

                                    <div id="buj-{{ i }}" class="collapse" aria-labelledby="buj-heading-{{ i }}" data-parent="#buj-accordion">
                                        <div class="card-body">
                                            {{ question.text|raw }}
                                        </div>
                                    </div>
                                </div>
                                {% set i = i + 1 %}
                                {% set delay = delay + 100 %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact-us" class="products-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="section-title">{{ texts.30.text }}</h1>
                    </div>

                    <div class="col-12 write-us-wrap" data-aos="fade-right">
                        <h5 class="write-us">{{ texts.31.text }}</h5>
                    </div>

                    <div class="col-12 col-lg-8 contact-form-wrap" data-aos="fade-right">
                        <form id="contact-form"
                            data-request="Form::onSendMail"
                            data-request-validate
                            data-request-success="$('#contact-form .form-progress .sending').fadeOut(150);$('#contact-form .form-progress .sent').fadeIn(150);$('#contact-form .form-progress .close').fadeIn(150);">
                            <div class="form-progress">
                                <h4 class="sending">{% content 'svg/email-sending' %}Sūtam ziņu...</h4>
                                <h4 class="sent">{% content 'svg/email-sent' %}Ziņa veiksmīgi nosūtīta!</h4>
                                <button type="button" class="close" aria-label="Close">
                                    {% content 'svg/close' %}
                                </button>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" id="contact-email" placeholder="{{ texts.32.text }}">
                                <div data-validate-for="email"></div>
                            </div>
                            <div class="form-group">
                                <select name="subject" class="form-control" id="contact-subject" >
                                    <option value="" disabled selected>Jautājuma tēma</option>
                                    <option value="eksports">Eksports</option>
                                    <option value="iepirkumi">Iepirkumi</option>
                                    <option value="vakances">Vakances</option>
                                    <option value="produktu-kvalitate">Produktu Kvalitāte</option>
                                    <option value="marketings-sadarbiba">Mārketings Un Sadarbība</option>
                                    <option value="citi">Citi Jautājumi</option>
                                </select>
                                {# <input type="subject" name="subject" class="form-control" id="contact-subject" placeholder="{{ texts.33.text }}"> #}
                                <div data-validate-for="subject"></div>
                            </div>
                            <div class="form-group no-dash">
                                <textarea class="form-control" id="contact-message" name="text" placeholder="{{ texts.34.text }}"></textarea>
                                <div data-validate-for="text"></div>
                            </div>
                            <button id="contact-submit" type="submit" class="btn btn-secondary">{{ texts.35.text }}</button>
                        </form>
                    </div>

                    <div class="col-12 col-lg-4 d-flex orders-wrap" data-aos="fade-left">
                        <div class="row">
                            <div class="col-12 align-self-center orders">
                                <h2 class="title">{{ contacts[0].red_title }}</h2>
                                <address>
                                    <p>{{ contacts[0].red_text | nl2br }}</p>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="element chocolate-2 reallax" src="{{ elements.chocolate_2 }}"  data-rellax-speed="0.75">
            <img class="element chocolate-5 reallax" src="{{ elements.chocolate_5 }}"  data-rellax-speed="0.75">
        </section>

        <section id="contact-info">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-7" data-aos="fade-right">
                        <div id="contact-table">
                            <div class="contact-inner row">
                                {% set counter = 0 %}
                                {% for contact in contacts[0].contacts %}
                                    <div class="contact-wrap col-12 col-sm-6">
                                        <h5 class="title">{{ contact.title }}</h5>
                                        <div class="info-wrap">
                                            {{ contact.text | nl2br }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5 contact-address" data-aos="fade-left">
                        <div class="address-wrap">
                            <h5 class="title">{{contacts[0].side_title }}</h5>
                            <address>
                                <p>{{contacts[0].side_text | nl2br }}</p>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
