title = "Home"
url = "/"
layout = "front-page"
is_hidden = 0

[viewBag]
==
<main>

    <section id="product-cats" class="{{ this.page.slug }}">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <h1 class="section-title">{{ texts.1.text }}</h1>

                </div>

            </div>

            <div class="row">

                <div itemscope itemtype="https://schema.org/ProductGroup" class="product-cat__inner-row">

                    {% partial 'components/product-cats' %}

                </div>

            </div>

        </div>

        <div class="element-wrap">

            <img alt="Laima šokolāde" class="lazyload element chocolate-1 rellax" data-src="{{ 'assets/img/elements/chocolate-1.png' | theme }}" data-rellax-speed="0.75">

        </div>

    </section>

    <section id="sweets-story" class="{{ this.page.slug }} container">

        <div class="row">

            <div class="story-wrap col-12 col-lg-5">

                <h5 class="title" data-aos="fade-right">{{ texts.4.text | nl2br }}</h5>

                <p class="desc d-none d-lg-block" data-aos="fade-right" data-offset="300">{{ texts.11.text | nl2br }}</p>

            </div>

            <div class="img-wrap col-12 col-lg-6 offset-0 offset-lg-1">

                <div class="rellax" data-rellax-speed="1.25" data-rellax-percentage="0.5">

                    {%

                        partial 'components/hover-img'

                        img='assets/img/Forastero_cacao_bean.png'

                        hover='assets/img/Forastero_cacao_bean_cut.png'

                        text=texts.12.text

                    %}

                </div>

                <div data-aos="fade-up" data-offset="600">

                    <a itemprop="url" class="btn btn-outline-secondary more" href="{{ 'sweet-story'|page }}">{{texts.6.text}}</a>

                    <!-- <a class="btn more" >&nbsp;</a> -->

                </div>

            </div>

        </div>

    </section>

    <div class="element-wrap">

        <img alt="Laima šokolāde" class="element chocolate-2 rellax lazyload" data-src="{{'assets/img/elements/chocolate-2.png'|theme}}" data-rellax-speed="0.75">

        <img alt="Laima šokolāde" class="element chocolate-3 rellax lazyload" data-src="{{'assets/img/elements/chocolate-3.png'|theme}}" data-rellax-speed="0.75">

    </div>

    <section id="shop-list" class="{{ this.page.slug }} container">

        <div class="row">

            <div class="col-7 d-none d-lg-block">

                    <div itemscope itemptype="https://schema.org/Place" class="shops-map" data-aos="zoom-out">

                        {% content 'svg/map' %}

                        {# {% set cities = Content.getShopCities() %}

                        {% for cityName, shops in cities %}

                            <a href="#" class="map-dot" style="top: 209px; left: 284px">

                            <span>{{ cityName }}</span></a>

                        {% endfor %} #}

                        <a href="#" class="map-dot" style="top: 209px; left: 284px">

                            <span itemprop="geo">Rīga</span></a>

                        <a href="#" class="map-dot" style="top: 289px; left: 20px">

                            <span itemprop="geo">Liepāja</span></a>

                        <a href="#" class="map-dot" style="top: 260px; left: 292px">

                            <span itemprop="geo">Jelgava</span></a>

                        <a href="#" class="map-dot" style="top: 200px; left: 327px">

                            <span itemprop="geo">Ādaži</span></a>

                        <a href="#" class="map-dot" style="top: 165px; left: 387px">

                            <span itemprop="geo">Cēsis</span></a>

                        <a href="#" class="map-dot" style="top: 130px; left: 397px">

                            <span itemprop="geo">Valmiera</span></a>

                        <!-- <a href="#" class="map-dot" style="top: 219px; left: 244px">

                            <span itemprop="geo">Jūrmala</span></a> -->

                    </div>

            </div>



                <div class="desc-wrap right col-12 col-lg-5">

                    <h5 class="desc-title" data-aos="fade-left">{{texts.2.text}}</h5>

                    <p class="desc" data-aos="fade-left" data-offset="300">{{texts.14.text}}</p>

                    <div data-aos="fade-left" data-offset="600">

                        <a href="{{ 'shops'|page }}" class="link">{% content 'svg/shops' %} {{texts.13.text}}</a>

                    </div>

                </div>

        </div>

        <div class="element-wrap">

            <img alt="Laima šokolāde" class="element chocolate-4 rellax lazyload" data-src="{{ 'assets/img/elements/chocolate-4.png' | theme }}" data-rellax-speed="0.75">

        </div>

    </section>





    <section id="collection" class="front-page">

        <h5 class="mob-title d-block d-md-none">{{texts.15.text}}</h5>

        <div class="container-fluid">

            <div class="row slider-row">

                <div class="desc-wrap left col-12">

                    <h5 class="desc-title d-none d-md-block" data-aos="fade-left">{{texts.15.text}}</h5>

                    {# COLLECTION CAROUSEL #}

                    {% partial 'sliders/collection' %}

                </div>

            </div>

        </div>

    </section>





    {% partial 'components/museum-block' %}



    <div class="element-wrap">

        <img alt="Laima šokolāde" class="element chocolate-5 rellax lazyload" data-src="{{'assets/img/elements/chocolate-5.png'|theme}}" data-rellax-speed="0.75">

    </div>

    {% set recipes = Articles.LandingRecipes(3) %}



    {% if recipes|length > 0 %}

        <section id="recipes" class="{{ this.page.slug }} container">

            <div class="row">

                <div class="col-12">

                    <h5 class="title text-center">{{texts.18.text}}</h5>

                </div>

            </div>

            <div class="row">

                {# {% set recipes = Articles.LandingRecipes(3) %} #}

                {% set delay = 0 %}

                {% for recipe in recipes %}

                    <div itemscope itemtype="https://schema.org/Recipe" class="recipe-wrap col-12 col-md-6 col-lg-4" data-aos="zoom-out" data-aos-delay="{{ delay }}">

                        <a itemprop="url" href="{{'recipes-article'|page({slug:recipe.slug})}}{# /{{ recipe.slug }} #}">

                            <article class="recipe">

                                {# <div itemprop="image" class="thumb" style="background-image:url({{recipe.title_image.getThumb(540,540, {mode: 'crop'})}})"></div> #}

                                <div data-bg="{{recipe.title_image.getThumb(540,540, {mode: 'crop'})}}" class="lazyload thumb"></div>

                                <img style="display:none" itemprop="image" data-src="{{recipe.title_image.getThumb(540,540, {mode: 'crop'})}}" alt="{{recipe.title_image.title}}" class="lazyload">

                                <span class="more"></span>

                                <h5 itemprop="name" class="title">{{recipe.title}}</h5>

                                {% if recipe.excerpt %}

                                    <p itemprop="description" class="desc">{{recipe.excerpt|slice(0, 140)|nl2br}}{{(recipe.excerpt|length > 140) ? '...' : ''}}</p>

                                {% endif %}

                            </article>

                        </a>

                    </div>

                    {# {% set delay = delay + 200 %} #}

                {% endfor %}

            </div>

            <div class="row">

                <div class="col-12 text-center">

                    <a class="btn btn-outline-secondary more d-inline-block d-lg-none mt-4" href="{{ 'recipes'|page }}">{{texts.50.text}}</a>

                </div>

            </div>

        </section>

    {% endif %}

    <section id="history" class="{{ this.page.slug }} container">

        <div class="row align-items-center">

            <div class="col-12 col-lg-6">

                <h5 class="title">{{texts.20.text}}</h5>

                <p class="desc" data-aos="fade-right">{{texts.21.text|nl2br}}</p>

                {# <a class="btn btn-outline-secondary more d-none d-lg-inline-block" href="{{ 'history'|page }}" data-aos="fade-right" data-aos-delay="300">{{texts.6.text}}</a> #}

            </div>

            <div class="img-wrap col-12 col-lg-6">

                <div class="imgs rellax" data-rellax-percentage="0.1"  data-rellax-speed="-0.5">

                    <img class="img archive lazyload" data-src="{{'assets/img/gunara-arhivs.png'|theme}}" alt="Laima Vēstures arhīvs 1" data-aos="zoom-out-left" data-aos-delay="0">

                    <img class="img bw lazyload" data-src="{{'assets/img/1870.png'|theme}}" alt="Laima Vēstures arhīvs 2" data-aos="zoom-out-left" data-aos-delay="100">

                </div>

            </div>

            <div class="col-12 text-center">

                {# <a class="btn btn-outline-secondary more d-inline-bloc d-lg-none" href="{{ 'history'|page }}" data-aos="slide-up">{{texts.6.text}}</a> #}

            </div>

        </div>

    </section>

        <section id="news" class="{{ this.page.slug }} container">

    {% set articles = Articles.LandingArticles(6) %}

    {% if not articles.isEmpty() %}

            <div class="row">

                <div class="col-12">

                    <h5 class="title text-center">{{texts.5.text}}</h5>

                </div>

            </div>

            <div class="row">

                {% set delay = 0 %}

                {% for article in articles %}

                    <div class="article-wrap col-12 col-lg-4 col-sm-6" data-aos=" zoom-out" data-aos-delay=" {{ delay }} ">

                        <article itemscope itemtype="https://schema.org/NewsArticle" class="article">

                            <a class="more" href="{{ 'news-article'|page({slug:article.slug}) }}"></a>

                            <h5 itemprop="headline" class="title">{{article.title}}</h5>

                            <p class="date">{{ article.published_at|date('d.m.Y') }}</p>

                            <p style="display: none" itemprop="datePublished" class="date">{{ article.published_at|date('Y.m.d') }}</p>

                            <p itemprop="description" class="desc">{{article.excerpt|slice(0, 140)|nl2br}}{{(article.excerpt|length > 140) ? '...' : ''}}</p>

                        </article>

                    </div>

                    {% set delay = delay + 200%}

                {% endfor %}

            </div>

            <div class="row">

                <div class="col-12 text-center">

                    <a class="btn btn-outline-secondary more d-inline-block d-lg-none mt-4" href="{{ 'news'|page }}" data-aos="slide-up">{{texts.50.text}}</a>

                </div>

            </div>

    {% endif %}

        </section>

    <div class="element-wrap">

        <img alt="Upenes" class="element black-currant rellax lazyload" data-src="{{'assets/img/elements/black_currant.png'|theme}}" data-rellax-speed="0.75">

        <img alt="Laima šokolāde" class="element chocolate-6 rellax lazyload" data-src="{{'assets/img/elements/chocolate-6.png'|theme}}" data-rellax-speed="0.75">

    </div>

</main>