title = "News-article"
url = "/news/:slug"
layout = "articles"
is_hidden = 0

==
use Bboxdigi\Articles\Models\Article;

function onStart(){
    $this["article_slug"] = $this->param('slug');
    $this["article"] = Article::with('title_image')->where('slug', $this["article_slug"])->where('is_published', 1)->first();
}
==
<main>
    <section id="recipes-single" class="content">
        <div itemscope itemtype="https://schema.org/NewsArticle" class="container">
            <div class="row">
                <div class="col-12">
                    <h1 itemprop="headline" class="section-title">{{article.title}}</h1>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div class="col-12">
                        <p class="_date">{{ article.published_at|date('d.m.Y') }}</p>
                        <p style="display: none" itemprop="datePublished" class="_date">{{ article.published_at|date('Y.m.d') }}</p>
                        <h3 class="lead">{{article.excerpt|nl2br}}</h3>
                        <img itemprop="image" class="lazyload" data-src="{{recipe.title_image.getThumb(1920, 1080, {mode: 'crop'})}}">
                        <div itemprop="articleBody">{{article.body|raw}}</div>
                    </div>
                </div>
            </div>
            {% set title = article.title %}
            {% set images = article.images %}
            {% if not article.images.isEmpty() %}
                {% if article.images|length == 1 %}
                    <div class="row">
                        <div class="col-12">
                            {% for image in article.images %}
                                <img itemprop="image" class="lazyload" data-src="{{ image.getThumb(1920, 1080, {mode: 'crop'}) }}" alt="">
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        {% partial 'Articles::news-images-list' images = images title = title %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </section>
</main>

