title = "News"
url = "/news"
layout = "articles"
is_hidden = 0
==

<main>
    <section id="news-list">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="section-title">{{texts.5.text}}</h1>
                </div>
            </div>
            {% set articles = Articles.getArticlesPerPage() %}
            <div class="row">
                {% partial 'Articles::list' articles = articles %}
            </div>
        </div>
    </section>
</main>
