title = "Privacy Policy"
url = "/privacy-policy"
layout = "contacts"
is_hidden = 0

==

<main>
    <section style="margin-top: 60px; padding: 0 30px;">
        <div class="container">
            <div class="row">
                <col-12>
                    <h1 class="section-title">Privātuma politika</h1>
                    <p>Kad Jūs lietosiet SIA “Orkla Latvija” piederošā zīmola “Laimas” tīmekļvietni www.laima.lv mēs apstrādāsim Jūsu personas datus. </p>
                    <p>SIA “Orkla Latvija”, reģistrācijas Nr. LV40103217882, juridiskā adrese: Miera iela 22, Rīga, LV-1001, (turpmāk tekstā - “Orkla”) ir atbildīgs par Jūsu personas datu apstrādi kā datu pārzinis. Tālāk Jūs atradīsiet aprakstu par to, kā Orkla apstrādā Jūsu personas datus.</p>
                    <h5>1. Kādas personas datu kategorijas tiek apstrādātas?</h5>
                    <ul><li>Jūsu kontaktinformācija: e-pasts. Jūs pats esat atbildīgs par to, lai nesniegtu mums par sevi vairāk personas datus, nekā mēs esam lūguši.</li></ul>
                    <h5>2. Personas dati tiks apstrādāti šādiem nolūkiem:</h5>
                    <ul><li>Lai atbildētu uz Jūsu jautājumiem, kuru pamatā ir mūsu leģitīmās intereses sniegt Jums atbildi.</li></ul>
                    <h5>3. Glabāšanas termiņš</h5>
                    <p>Tik ilgi, līdz tiks atrisināts Jūsu jautājums un/vai kamēr vien personas datu apstrāde būs nepieciešama mūsu tiesisko interešu aizsardzībai.</p>
                    <h5>4. Apstrādes tiesiskais pamats</h5>
                    <p>Vispārīgais tiesiskais pamats ir ES Vispārīgās datu aizsardzības regulas (2016/679) [6. panta 1.punkta (f) apakšpunkts] un attiecīgie nacionālie tiesību akti:</p>
                    <ul><li>(f) Jūsu kontaktinformācijas apstrāde ir nepieciešama Orkla leģitīmo interešu īstenošanai nolūkā atbildēt uz Jūsu jautājumu vai norādīt Jums tuvāk esošo “Laimas” saldumu veikalu.</li></ul>
                    <h5>5. Kā tiek vākti Jūsu personas dati?</h5>
                    <p>Personas dati tiek vākti tieši no Jums, kad Jūs ievadāt savu e-pastu un nospiežat pogu “Sūtīt” sadaļā “Sazināties” un/vai kad nospiežat pogu “Rādīt tuvākos veikalus” sadaļā “Veikali”.</p>
                    <h5>6. Personas datu nodošana</h5>
                    <p>Mēs nenodosim Jūsu personas datus trešajām personām, ja mums šādai nodošanai nebūs tiesiska pamata. Šāda tiesiska pamata piemērs parasti ir līgums ar Jums vai juridisks pienākums nodot šādus personas datus.</p>
                    <p>Mēs tāpat izmantojam datu apstrādātājus, kuri personas datus apstrādā mūsu vārdā un vienīgi saskaņā ar mūsu norādījumiem, piemēram, IT sistēmu vai lietojumprogrammu nodrošinātājus. Ja tiek izmantoti datu apstrādātāji, mēs noslēdzam līgumu, lai nodrošinātu pietiekamu informācijas drošību.</p>
                    <p>Personas dati tiek apstrādāti ES/EEZ teritorijā.</p>
                    <h5>7. Jūsu tiesības</h5>
                    <p>Jums ir tiesības saņemt piekļuvi un labot vai dzēst personas datus, un ierobežot vai iebilst pret datu apstrādi, kā arī saņemt personas datus attiecībā uz sevi un/vai pieprasīt tos nosūtīt citam datu pārzinim (datu pārnesamība), ja tiek izpildīti noteikti nosacījumi.</p>
                    <p>Jums tāpat ir tiesības iesniegt sūdzību Datu valsts inspekcijai; kontaktinformāciju lūdzam skatīt: <a href="http://www.dvi.gov.lv/lv/">http://www.dvi.gov.lv/lv/</a>.</p>
                    <p>Gadījumos, kad Jūs izmantojat savas tiesības atbilstoši iepriekš norādītajam, mums var būt nepieciešams pieprasīt no Jums papildu informāciju, lai apstiprinātu Jūsu identitāti un lai pārliecinātos, ka personiska rakstura informācija tiek izpausta vienīgi Jums.</p>
                    <h5>8. Kontaktinformācija</h5>
                    <p>Mūsu kontaktinformācija ir:</p>
                    <ul>
                        <li>adrese: Miera iela 22, Rīga, LV-1001, Latvija.</li>
                        <li>e-pasts: <a href="mailto:orkla@orkla.lv">orkla@orkla.lv</a>.</li>
                        <li>tālruņa numurs: +371 67080302.</li>
                    </ul>
                    <p>Ja Jums rodas ar personas datiem saistīti jautājumi vai arī Jūs vēlaties izmantot savas augstāk norādītās tiesības, lūdzam izmantot mūsu adresi vai e-pasta adresi.</p>
                    <h5>9. Izmaiņas</h5>
                    <p>Orkla patur tiesības periodiski aktualizēt šo privātuma paziņojumu (piemēram, ja tīmekļvietne <a href="www.laima.lv">www.laima.lv</a> tiek papildināta ar citām personas datu pieprasošām sadaļām). Aktuālākā informācija ir pieejama arī mūsu tīmekļvietnē. Ja mūsu rīcībā būs Jūsu kontaktinformācija, mēs Jūs par to informēsim.</p>
                </col-12>
            </div>
        </div>
    </section>
</main>

