title = "Products"
slug = "products"
url = "/products/:type?/:slug?"
layout = "products"
is_hidden = 0
==
use Bboxdigi\Products\Models\Product;
function onStart()
{
    $this['search_products'] = $search = Input::get('qnq', null);


    if ( $this->param('type') == null && $search == null) {
        $this['products'] = Product::with('title_image')->where('is_published', 1)->orderBy('sort_order', 'desc')->take(20)->get();
    }

}
==

{% if search_products %}
    {% set products = Products.filteredProducts(0, [], [], [], search_products) %}
{% elseif this.param.type == 'cat' %}
    {% set prodCat = Products.getCatIdBySlug(this.param.slug) %}
    {% set products = Products.filteredProducts(0, [prodCat], []) %}
{% elseif this.param.type == 'collection' %}
    {% set prodCol = Products.getCollectionIdBySlug(this.param.slug) %}
    {% set products = Products.filteredProducts(0, [], [prodCol]) %}
{% endif %}

<main>
        <section id="products-list" class="products-page">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <h1 class="section-title">Produkti</h1>
                        <a class="d-block d-lg-none btn filter-wrap" data-toggle="collapse" href="#product-filters-wrap" role="button" aria-expanded="true" aria-controls="product-filters-wrap">
                            {% content 'svg/filter' %}<span>Filtrēt:</span>
                        </a>
                    </div>
                </div>

                <div class="row">
                    <div id="product-sidebar" class="col-4 d-none d-md-block">
                        <div class="row">
                            <div itemscope itemtype="https://schema.org/ProductGroup" class="product-cat__inner-row">
                            {% set productsCats = Products.getfilteredCategories() %}
                            {% for cat in productsCats %}
                                <div class="product-cat  col-6">
                                    <a itemprop="url" class="link-wrap" href="#">
                                        <div class="box {% if cat.id == prodCat %} active {% endif %}" data-id="{{ cat.id }}">
                                            <div itemprop="image" class="icon-wrap">
                                                {{ cat.icon|raw }}
                                            </div>
                                            <h5 itemprop="name" class="cat">{{ cat.title }}</h5>
                                        </div>
                                    </a>
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="product-wrap" class="col-12 col-md-8">
                        <div id="product-filters-wrap" class="collapse show row">
                            <div id="product-filters" data-cats="{{ prodCat }}" data-collections="{{ prodCol }}" data-allergens="" data-search="" data-page="0">
                                    {% set collections = Products.getfilteredCollections() %}
                                    {% if collections | length > 0 %}
                                    <div class="collections btn-group col-12 col-md-4 btn-block" data-aos="fade-top" >
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dashed collapsed" data-toggle="collapse" data-target="#collections-filters" role="button" aria-expanded="false" aria-controls="collections-filters">
                                            Kolekcijas
                                        </button>
                                    </div>
                                    {% endif %}

                                    {% set allergens = Products.getfilteredAllergens() %}
                                    {% if allergens | length > 0 %}
                                    <div class="allergens btn-group col-12 col-md-4 btn-block" data-aos="fade-top" >
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dashed collapsed" data-toggle="collapse" data-target="#allergens-filters" role="button" aria-expanded="false" aria-controls="allergens-filters">
                                            Alergēni
                                        </button>
                                    </div>
                                    {% endif %}

                                <div class="search btn-group col-12 col-md-4" data-aos="fade-top">
                                    <input id="search-products" type="text" class="form-control dashed" placeholder="Meklēt">
                                    <a href="#" class="search-btn">
                                        {% content 'svg/search' %}
                                    </a>
                                </div>

                                <div class="filters-collapse col-12">
                                    {% if collections | length > 0 %}
                                    <div class="collapse" id="collections-filters" data-parent="#product-filters">
                                        <div class="card card-body">
                                            <div class="options-row row">
                                                {% for collection in collections %}
                                                    <div class="option-wrap col col-auto">
                                                        <a class="option btn btn-block dashed {% if prodCol == collection.id %} active {% endif %}" href="#" data-id="{{ collection.id }}">
                                                            {{ collection.title }}
                                                        </a>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}

                                        {% if allergens | length > 0 %}
                                        <div class="collapse" id="allergens-filters" data-parent="#product-filters">
                                            <div class="card card-body">
                                                <div class="options-row row">
                                                        {% for allergen in allergens %}
                                                            <div class="option-wrap col col-auto"><a class="option btn btn-block dashed" href="#" data-id="{{ allergen.id }}">{{ allergen.title }}</a></div>
                                                        {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        {% endif%}
                                </div>
                            </div>
                        </div>
                        <div id="products" class="row overflow-hidden">

                                {% if products | length > 0 %}
                                {% for product in products %}
                                    <div itemscope itemtype="https://schema.org/Product" class="product-wrap col-12 col-lg-6" data-aos="zoom-out-up" data-aos-delay="0">
                                        <article class="product">
                                            <div class="row">
                                                <div class="thumb col-5 align-self-center">
                                                    <img  alt="{{ product.title }}" class="lazyload" itemprop="image" data-src="{{ product.title_image_thumb }}" />
                                                </div>
                                                <div class="extra col-7">
                                                    <h5 itemprop="name" class="title">{{ product.title }}</h5>
                                                    <p itemprop="description" class="desc d-none d-lg-block">{{ product.excerpt }}</p>
                                                    <a itemprop="url" class="btn btn-outline-secondary more" href="{{ 'single-product' | page({slug:product.slug}) }}">Uzzināt vairāk</a>
                                                </div>
                                            </div>
                                        </article>
                                        {% if('now'|date ('Y-m-d H:i:s') < product.new_at) %}
                                        <div class="label">
                                            <p>JAUNUMS</p>
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                                {% else %}
                                    <div class="col-12">
                                        <h5>Nav produktu, kas atbilst filtriem.</h5>
                                    </div>
                                {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-12 text-center"><button id="load-more-products" class="btn btn-outline-secondary more"  style=" {{ (products|length < 20) ? 'display:none' : '' }}" href="#">Ielādēt vēl</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


<div id="searching-overlay"></div>
