title = "Recipe-article"
url = "/recipes/:slug"
layout = "articles"
is_hidden = 0

==
use Bboxdigi\Articles\Models\Recipe;

function onStart(){
    $this["recipe_slug"] = $this->param('slug');
    $this["recipe"] = Recipe::with('title_image')->where('slug', $this["recipe_slug"])->where('is_published', 1)->first();
}
==
<main>
    <section itemscope itemtype="https://schema.org/Recipe" id="recipes-single" class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 itemprop="name" class="section-title">{{recipe.title}}</h1>
                </div>
            </div>

            <div class="row">
                <div class="container">
                    <div itemprop="text" class="col-12">
                        <h3 class="lead">{{recipe.excerpt|nl2br}}</h3>
                        <img itemprop="image" src="{{recipe.title_image.getThumb(1920, 1080, {mode: 'crop'})}}" alt="{{ recipe.title }}">
                        {{recipe.body|raw}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
