title = "Recipes"

url = "/recipes"

layout = "articles"

is_hidden = 0

==

{% partial 'assets/pagination-styles' %}

<main>

    <section id="news-list">

        <div class="container">

            <div class="row">

                <div class="col-12">

                    <h1 class="section-title">{{texts.18.text}}</h1>

                </div>

            </div>

            {% set articles = Articles.getRecipesPerPage(post('page')) %}

            <div class="row">

                {% partial 'Articles::recipe-list' articles = articles %}

            </div>

            {% partial 'components/pagination' %}

        </div>

    </section>

</main>

