title = "Shops"
slug = "shops"
url = "/shops"
layout = "shops"
is_hidden = 0

==

<main>
        <section id="shops-list" class="shops-page">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="section-title">{{ texts.2.text }}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="offset-0 offset-lg-1 col-12 col-lg-6 search" data-aos="fade-left">
                        <input type="text" class="form-control search" id="search-shops" placeholder="{{ texts.9.text }}">
                        <a href="#" class="search-btn">{% content 'svg/search' %}</a>
                    </div>
                    <div class="col-12 col-lg-5" data-aos="fade-left">
                        <button type="button" id="show-nearest-shops" class="btn btn-secondary btn-block">{% content 'svg/marker' %}{{ texts.29.text }}</button>
                    </div>
                </div>
            </div>

            <div id="shops-wrap" class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <nav itemscope itemtype="https://schema.org/Place" id="shops-cities" class="nav nav-pills nav-fill">
                            {% set delay = 0 %}
                            {% set shopCities = Content.getShopCities() %}
                            {% for cityName, shop in shopCities %}
                                <button itemprop="geo" class="nav-item nav-link btn dashed" href="#" data-city="{{ cityName }}" data-aos="fade-top" data-aos-delay="{{ delay }}">{{ cityName }}</button>
                                {% set delay = delay + 50 %}
                            {% endfor %}
                        </nav>
                    </div>
                </div>
            </div>

            {% set shops = Content.getShops() %}
            <div id="shops-map" data-aos="zoom-in" data-aos-delay="200" data-leaf-icon="{{'assets/img/icons/circle-shadow.svg'|theme}}" data-user-icon="{{'assets/img/icons/circle-location.svg'|theme}}"></div>
        </section>

        <section id="shops-contacts">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <button class="btn btn-secondary clear-shop-filter" style="display:none">Atiestatīt veikalu karti</button>
                    </div>
                    {% for shop in shops %}
                    <div class="col-12 col-md-6 col-lg-4 shop-contact" data-shop
                        data-title="{{ shop.title }}"
                        data-city="{{ shop.city }}"
                        data-slug="{{ shop.slug }}"
                        data-lon="{{ shop.long }}"
                        data-lat="{{ shop.lat }}"
                    >
                        <div class="contact" itemscope itemtype="https://schema.org/LocalBusiness">
                            <h5  itemprop="name" class="title">{{ shop.title }}</h5>
                            <address>
                                <p>{{ shop.text | nl2br }}</p>
                            </address>
                            <div class="row links">
                                {% if shop.phone %}<div class="col"><a href="tel:{{ shop.phone }}" class="link">{% content 'svg/phone' %}<span class="text">{{ shop.phone }}</span></a></div>{% endif %}
                                <p style="display: none" itemprop="telephone">{{ shop.phone }}</p>
                                {% if shop.email %}<div class="col"><a href="tel:{{ shop.phone }}" class="link">{% content 'svg/email' %}<span class="text">{{ shop.email }}</span></a></div>{% endif %}
                                <p style="display: none" itemprop="email">{{ shop.email }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </section>

        {% partial 'components/museum-block' %}
    </main>
