title = "Product"
slug = "product"
url = "/product/:slug"
layout = "single-product"
is_hidden = 0
==
use Bboxdigi\Products\Models\Product;

function onStart(){
    $this["product_slug"] = $this->param('slug');

    $this["product"] = Product::with([
            'title_image',
            'categories',
            'collections'
        ])
        ->where('slug', $this["product_slug"])
        ->where('is_published', 1)
        ->first();


    $this["cat"] = $this["product"]->categories->first();
    $this["coll"] = $this["product"]->collections->first();

    $query = Product::with('title_image')->where('is_published', 1);

    $categories = $this["product"]->categories;

    $query->whereHas('categories', function($query) use ($categories) {
        $query->whereIn('id', $categories);
    });

    $this['featured'] = $query->take(6)->orderBy('sort_order', 'desc')->get();
}

==

<main itemscope itemtype="https://schema.org/Product">
        <section id="product-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-7 d-block d-md-none">
                        <nav class="breadcrumb" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ 'products'|page({ type:'', slug: '' }) }}">Produkti</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ 'products'|page({type:'cat', slug:cat.slug}) }}">{{ cat.title }}</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="{{ 'products'|page({type:'collection', slug:coll.slug}) }}">{{ coll.title }}</a>
                                </li>
                                {# <li class="breadcrumb-item active" aria-current="page">
                                    <a href="{{ 'single-product' | page({ slug: product.slug }) }}">{{ product.title }}</a>
                                </li> #}
                            </ol>
                        </nav>
                    </div>


                    <div class="thumb col-md-6 col-lg-5"><img itemprop="image" class="nail rellax" src="{{ product.title_image.getThumb(600,600) }}" alt="{{ product.title }}" data-rellax-speed="1.5"/></div>
                    <div class="col-md-6 col-lg-7">
                        <nav class="breadcrumb d-none d-md-block" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="{{ 'products'|page({ type:'', slug: '' }) }}">Produkti</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a itemprop="category" href="{{ 'products'|page({type:'cat', slug:cat.slug}) }}">{{ cat.title }}</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a itemprop="category" href="{{ 'products'|page({type:'collection', slug:coll.slug}) }}">{{ coll.title }}</a>
                                </li>
                                {# <li class="breadcrumb-item active" aria-current="page">
                                    <a href="{{ 'single-product' | page({ slug: product.slug }) }}">{{ product.title }}</a>
                                </li> #}
                            </ol>
                        </nav>

                        <h1 itemprop="name" class="product-title">{{ product.title }}</h1>

                        <div class="row justify-content-center">
                            <div class="col-12 align-self-center">
                                <ul class="list-inline product-icons">
                                    <li itemprop="weight" class="list-inline-item icon-wrap align-middle">{% content 'svg/weight' %}<span>{{ product.weight }}</span></li>
                                    <li class="list-inline-item icon-wrap align-middle">{% content 'svg/bar-code' %}<span>Preces kods<br/>{{ product.code }}</span></li>
                                    <li style="display: none" itemprop="productID" >{{ product.code }}</li>
                                </ul>
                            </div>
                        </div>

                        <ul class="nav nav-tabs d-none d-lg-flex" id="product-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link btn dashed active" id="product-desc" data-toggle="tab" href="#pdesc" role="tab" aria-controls="pdesc" aria-selected="true">Produkta apraksts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn dashed" id="product-content" data-toggle="tab" href="#pcontent" role="tab" aria-controls="pcontent" aria-selected="false">Sastāvs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link btn dashed" id="product-nutrition" data-toggle="tab" href="#pnutrition" role="tab" aria-controls="pnutrition" aria-selected="false">Uzturvērtība</a>
                            </li>
                        </ul>
                        <div class="tab-content d-none d-lg-block" id="product-tabs-content">
                            <div itemprop="description" class="tab-pane fade show active" id="pdesc" role="tabpanel" aria-labelledby="product-desc">
                                {{ product.desc | nl2br }}
                            </div>
                            <div itemprop="description" class="tab-pane fade" id="pcontent" role="tabpanel" aria-labelledby="product-content">
                                {{ product.nutrition | nl2br}}
                            </div>
                            <div itemprop="description" class="tab-pane fade" id="pnutrition" role="tabpanel" aria-labelledby="product-nutrition">
                                {% partial 'components/product-nutrition' %}
                            </div>
                        </div>

                        <section id="buj" class="mt-0 mb-4 d-lg-none">
                            <div class="accordion" id="buj-accordion">
                                {% set cards = [
                                    {title:"Produkta apraksts", body: product.desc },
                                    {title:"Sastāvs", body: product.nutrition },
                                    {title:"Uzturvērtība", partial: 'components/product-nutrition' },
                                ] %}

                                {% for item in cards %}

                                    <div class="card" data-aos="zoom-out-top" data-aos-delay="0">
                                        <div class="card-header" id="buj-heading-{{ loop.index }}">
                                            <h2 class="mb-0">
                                                <button class="btn btn-link btn-block text-left collapsed text-uppercase font-weight-bold" type="button" data-toggle="collapse" data-target="#buj-{{ loop.index }}" aria-expanded="true" aria-controls="buj-{{ loop.index }}">
                                                    {{item.title}}
                                                </button>
                                            </h2>
                                        </div>

                                        <div id="buj-{{ loop.index }}" class="collapse" aria-labelledby="buj-heading-{{ loop.index }}" data-parent="#buj-accordion">
                                            <div class="card-body">
                                                {% if item.body %}
                                                    {{item.body|nl2br}}
                                                {% elseif item.partial %}
                                                    {% partial item.partial %}
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                {% endfor %}


                            </div>
                        </section>


                        <div class="btns-wrap row">
                            {% if product.shop_link %}
                            {# <div class="col-12 col-sm-6">
                                <a href="{{ product.shop_link|default('https://veikals.orkla.lv/') }}" target="_blank" class="btn btn-secondary btn-block">Iegādāties</a>
                            </div> #}
                            {% endif %}
                            <div class="col-12 col-sm-6">
                                <a href="{{ 'shops'|page }}" class="btn  btn-outline-secondary btn-block">Atrast veikalā</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="featured">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="featured-title">Līdzīgie produkti</h3>
                    </div>
                </div>
            </div>
            <div class="container-fluid">

                <div id="featured-products" class="slider-wrap">
                    <div class="featured-slider slider">
                        {% for slide in featured %}
                            <div itemprop="isRelatedTo" itemscope itemtype="https://schema.org/Product" class="slide dashed">
                                <div class="row">
                                    <div class="col-12 col-lg-5 d-flex align-items-center"><div class="img"><img itemprop="image" src="{{ slide.title_image_thumb }}" alt="{{ slide.title }}"/></div></div>
                                    <div class="col-12 col-lg-7">
                                        <div class="wrap">
                                            <h5 itemprop="name" class="title">{{ slide.title }}</h5>
                                            <p itemprop="description" class="desc">{{ slide.excerpt }}</p>

                                            <div class="d-block d-lg-none">
                                                <br>
                                                <br>
                                                <br>
                                            </div>
                                            <a class="btn btn-outline-secondary" href="{{ 'single-product' |page({ slug: slide.slug })}}">Uzzināt vairāk</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </main>
