title = "Spring"
url = "/pavasaris2024"
layout = "spring"
is_hidden = 0

[viewBag]
==

{% set extraContent = Content.getExtraContent() %}
{% set springArticles = Content.getSpringArticles() %}

<section class="spring__intro">
    <div class="container">
        <img class="spring-ornaments is-left has-top-offset d-none d-xl-block" src="{{'assets/img/spring/spring-ornaments-left-1.png'|theme}}" alt="">
        <img class="spring-ornaments is-right has-top-offset d-none d-xl-block" src="{{'assets/img/spring/spring-ornaments-right-1.png'|theme}}" alt="">
        <div class="spring__intro__row row">
            <div class="col-12">
                <h1 class="spring__intro__head text-center">{{texts.63.text}}</h1>
                <div class="spring__intro__sub text-center">{{texts.64.text}}</div>
                <p class="spring__intro__par text-center">{{texts.65.text}}</p>
                <img class="spring__intro__mob-img img-fluid d-md-none" src="{{ extraContent.spring_intro_image_mobile.path }}" alt="">
                <img class="img-fluid d-none d-md-block" src="{{ extraContent.spring_intro_image.path }}" alt="">
            </div>
        </div>
    </div>
</section>

{% partial 'components/spring/nav' springArticles = springArticles paintingIcon = extraContent.painting_icon galleryIcon = extraContent.photo_gallery_icon %}

{% if extraContent.paintings is not empty %}

{% partial 'components/spring/paintings' paintings = extraContent.paintings paintings_mobile = extraContent.paintings_mobile icon = extraContent.painting_icon wallpapers_desktop = extraContent.wallpapers_desktop wallpapers_mobile = extraContent.wallpapers_mobile %}

{% endif %}

{% if springArticles %}

{% partial 'components/spring/articles' springArticles=springArticles %}

{% endif %}

{% if extraContent.gallery_images %}

{% partial 'components/spring/gallery' images = extraContent.gallery_images icon = extraContent.photo_gallery_icon %}

{% endif %}

<div class="container d-md-none">
    <div class="row">
        <div class="col-12"><img class="img-fluid d-block mx-auto" src="{{ extraContent.spring_footer_image_mobile.path }}" alt=""></div>
    </div>
</div>

<div class="spring-bottom-ornaments d-none d-xl-block">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <img class="img-fluid" src="{{'assets/img/spring/spring-bottom-ornaments.png'|theme}}" alt="">
            </div>
        </div>
    </div>
</div>

{% put scripts %}
<script>
$(document).ready(function () {

    $(".spring-nav__link").on('click', function(event) {

    if ($('#preloader').css('display') == 'block') {
      $('#preloader').css('display', 'none')
    }

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  if ($(window).width() < 1024) {

    $( ".set-mob-sub-open" ).on( "click", function() {
        let parent = $(this).parent();
        if (parent.hasClass('are-subitems-open')) {
            parent.removeClass('are-subitems-open');
            parent.closest('section').removeClass('is-section-open');
            if (parent.find('.spring-gal-slider').length > 0) {
                parent.find('.spring-gal-slider').slick('unslick');
            }
        } else {
            parent.addClass('are-subitems-open');
            parent.closest('section').addClass('is-section-open');
            if (parent.find('.spring-gal-slider').length > 0) {
                parent.find('.spring-gal-slider').slick({
                    arrows: true,
                    infinite: true,
                    slidesToShow: 3,
                    slidesToScroll: 1,
                    variableWidth: false,
                    rows: 1,
                    nextArrow:
                    '<div class="next-arrow" data-aos="zoom-out" data-aos-delay="700"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 108 108"><path fill="#fff" d="M54 108c29.823 0 54-24.177 54-54S83.823 0 54 0 0 24.177 0 54s24.177 54 54 54Z"/><g clip-path="url(#a)"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m50 44 10 10-10 10"/></g><defs><clipPath id="a"><path fill="#fff" d="M38 38h32v32H38z"/></clipPath></defs></svg></div>',
                    prevArrow:
                    '<div class="prev-arrow" data-aos="zoom-out" data-aos-delay="900"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 108 108"><path fill="#fff" d="M54 108c29.823 0 54-24.177 54-54S83.823 0 54 0 0 24.177 0 54s24.177 54 54 54Z"/><g clip-path="url(#a)"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M58 64 48 54l10-10"/></g><defs><clipPath id="a"><path fill="#fff" d="M38 38h32v32H38z"/></clipPath></defs></svg></div>',
                    responsive: [
                        {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                        }
                    ]
                });
            }
        }
    } );

    $('.back-to-sust-item').on( "click", function() {
        console.log('CLICKED!!');
        let slider = $(this).closest('section').find('.spring-gal-slider');
        
        let currentSection = $(this).closest('section');
        let openCloseItem = $(this).closest('.open-close-item');

        if (currentSection.find('.spring-gal-slider') && slider.length > 0) {
            slider.slick('unslick');
        }
        if (openCloseItem.hasClass('are-subitems-open')) {
            
            openCloseItem.removeClass('are-subitems-open');
        
            if ($('#preloader').css('display') == 'block') {
                $('#preloader').css('display', 'none')
            }

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                scrollTop: $(hash).offset().top
                }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
                });
            } // End if  
        }
    } );
}

});
</script>
{% endput %}

