title = "Home"
url = "/ilgtspeja"
layout = "sustainability"
is_hidden = 0

[viewBag]
==

{% set sustainabilityItems = Content.getSustainabilityItems() %}
{% set sustainabilityGoals = Content.getSustainabilityGoals() %}
{% set extraContent = Content.getExtraContent() %}

<section class="hero">
    <div class="hero__container container">
        <div class="hero__row row">
            <div class="hero__title-block col-12">
                <h1 class="hero__title">{{texts.51.text}}</h1>
            </div>
            <div class="hero__text-block col-12 offset-md-1 col-md-10">
                <p class="hero__text">
                    {{texts.52.text}}
                </p>
            </div>
        </div>
    </div>
</section>

{% partial 'components/sustainability/nav' sustainabilityItems=sustainabilityItems %}

{# sustainability goals #}

{#{% partial 'components/sustainability/red-block' title=texts.53.text body=texts.54.text %}#}

{#{% partial 'components/sustainability/goals' sustainabilityGoals=sustainabilityGoals %}#}

{# sustainability items #}

{% partial 'components/sustainability/red-block' title=texts.55.text %}

{% partial 'components/sustainability/sustainability-items' sustainabilityItems=sustainabilityItems extraContent=extraContent %}

{% if extraContent.video_src %}

<div class="embedded-video-container container">
    <div class="row">
        <div class="embedded-video">{{extraContent.video_src|raw}}</div>
    </div>
</div>

{% endif %}

<div class="container mobile-p-0">
    <div class="row">
        <div class="red-block-bg"></div>
        <div class="bottom-background" style="background-image: url({{ 'assets/img/ilgstpeja-bottom-background-updated27062023.jpg'|theme }})"></div>
    </div>
</div>

{% put scripts %}
<script>
$(document).ready(function () {
    if ($(window).width() <= 1024) {
        $(".red-circle.is-for-goals").click(function () {
            if ($(this).hasClass('is-hovered')) {
            $(this).removeClass('is-hovered');
            var unitClass = $(this).attr('class').split(' ')[1];
            var popup = $('.goal-popup.' + unitClass);
            popup.removeClass('is-visible');
            } else {
            $(".red-circle").removeClass('is-hovered');
            $(".goal-popup").removeClass('is-visible');
            $(this).addClass('is-hovered');
            var _unitClass = $(this).attr('class').split(' ')[1];
            var _popup = $('.goal-popup.' + _unitClass);
            _popup.addClass('is-visible');
            }
        });

        $(".red-circle.is-for-qualities").click(function () {
            console.log($(this));
                if ($(this).hasClass('is-hovered')) {
                    console.log('has class');
                    $(this).removeClass('is-hovered');
                    var unitClass = $(this).attr('class').split(' ')[1];
                    var popup = $('.quality-popup.' + unitClass);
                    popup.removeClass('is-visible');
                } else {
                    console.log('does no hav');
                    $(".red-circle.is-for-qualities").removeClass('is-hovered');
                    $(".quality-popup").removeClass('is-visible');
                    $(this).addClass('is-hovered');
                    var _unitClass = $(this).attr('class').split(' ')[1];
                    var _popup = $('.quality-popup.' + _unitClass);
                    _popup.addClass('is-visible');
                }
        });
    } else {
        $(".red-circle.is-for-goals").hover(function () {
            $(this).addClass('is-hovered');
            var unitClass = $(this).attr('class').split(' ')[1];
            var popup = $('.goal-popup.' + unitClass);
            popup.addClass('is-visible');
        }, function () {
            $(this).removeClass('is-hovered');
            var unitClass = $(this).attr('class').split(' ')[1];
            var popup = $('.goal-popup.' + unitClass);
            popup.removeClass('is-visible');
        });

        $(".red-circle.is-for-qualities").hover(function () {
                $(this).addClass('is-hovered');
                var unitClass = $(this).attr('class').split(' ')[1];
                console.log(unitClass);
                var popup = $('.quality-popup.' + unitClass);
                popup.addClass('is-visible');
            }, function () {
                $(this).removeClass('is-hovered');
                var unitClass = $(this).attr('class').split(' ')[1];
                var popup = $('.quality-popup.' + unitClass);
                popup.removeClass('is-visible');
        });
    }

    $(".sustainability-items-nav__link").on('click', function(event) {

    if ($('#preloader').css('display') == 'block') {
      $('#preloader').css('display', 'none')
    }

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });

  if ($(window).width() < 1024) {

    $( ".set-mob-sub-open" ).on( "click", function() {
        if ($(this).parent().hasClass('are-subitems-open')) {
            $(this).parent().removeClass('are-subitems-open');
        } else {
            $(this).parent().addClass('are-subitems-open');
        }
    } );

    $('.back-to-sust-item').on( "click", function() {
        if ($('.sustainability-items__item').hasClass('are-subitems-open')) {
            
            $('.sustainability-items__item').removeClass('are-subitems-open');
           
            if ($('#preloader').css('display') == 'block') {
                $('#preloader').css('display', 'none')
            }

            // Make sure this.hash has a value before overriding default behavior
            if (this.hash !== "") {
                // Prevent default anchor click behavior
                event.preventDefault();

                // Store hash
                var hash = this.hash;

                // Using jQuery's animate() method to add smooth page scroll
                // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
                $('html, body').animate({
                scrollTop: $(hash).offset().top
                }, 800, function(){

                // Add hash (#) to URL when done scrolling (default click behavior)
                window.location.hash = hash;
                });
            } // End if
            
        }
    } );
  }
});
</script>
{% endput %}