title = "Home"
url = "/sweet-story"
layout = "sweet-story"
is_hidden = 0
==

{% set extraContent = Content.getExtraContent() %}

{% put styles %}
    <link rel="stylesheet" href="{{'assets/puzzlepeace/sweet-story.css'|theme}}" />
    <link rel="stylesheet" href="{{'assets/css/extra/sweet-story.css'|theme}}?v=1.3" />
{% endput %}

{% put scripts %}
<script>
$(document).ready(function () {
    let options = {
        arrows: false,
        infinite: true,
        slidesToShow: 1,
        variableWidth: true,
        rows: 1,
    };

    $('.fruits .slider').slick(options);
    $('.production .slider').slick(options);
});
</script>
{% endput %}

<section class="hero" id="cocoa-history">
    <div class="hero__container container">
        <div class="hero__row row">
            <div class="hero__title-block col-12">
                <h2 class="hero__title">{{texts.41.text}}</h2>
            </div>
            <div class="hero__text-block col-12 offset-md-1 col-md-10">
                <p class="hero__text">
                    {{texts.42.text}}
                </p>
            </div>
        </div>
    </div>
</section>

<section id="fresh-cocoa-fruit" class="fruits">
    <div class="fruits__container container">
        <div class="fruits__row row">
            <div class="fruits__measure d-none d-lg-block col-lg-1" >
                <img src="{{'/assets/img/company/ruler.svg'|theme}}" alt="ruler">
            </div>

            <div class="fruits__fruit-block col-lg-11 col-12">
                <div class="container-fluid d-none d-lg-block">
                    <div class="row">
                        <div class="fruits__fruit col-12 col-sm-4" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="600">
                            <div class="fruits__card-image">
                                <img  alt="Criollo kakao pupa" src="{{'/assets/img/company/green.png'|theme}}" srcset="">
                                <img alt="hover ikona" class="fruits__hover-icon" src="{{'/assets/img/company/hover.svg'|theme}}">
                                <img alt="Criollo atvērta kakao pupa" class="fruits__hover-image" src="{{'/assets/img/company/green-open.png'|theme}}"
                                >
                                <h3 class="fruits__title">Criollo</h3>
                            </div>
                            {# <div class="fruits__card-text">
                                <p class="fruits__hover-text">Svaigus augļus pāršķeļ uz pusēm</p>
                            </div> #}
                        </div>
                        <div class="fruits__fruit col-12 col-sm-4" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="800">
                            <div class="fruits__card-image">
                                <img alt="Forastero kakao pupa" src="{{'/assets/img/company/yellow.png'|theme}}" alt="" srcset="">
                                <img alt="hover ikona" class="fruits__hover-icon" src="{{'/assets/img/company/hover.svg'|theme}}">
                                <img alt="Forastero atvērta kakao pupa" class="fruits__hover-image" src="{{'/assets/img/company/yellow-open.png'|theme}}"
                                >
                                <h3 class="fruits__title">Forastero</h3>
                            </div>
                            {# <div class="fruits__card-text">
                                <p class="fruits__hover-text">Svaigus augļus pāršķeļ uz pusēm</p>
                            </div> #}
                        </div>
                        <div class="fruits__fruit col-12 col-sm-4" data-aos="fade-up" data-aos-duration="1000"
                            data-aos-delay="1000">
                            <div class="fruits__card-image">
                                <img alt="Trinitario kakao pupa" src="{{'/assets/img/company/red.png'|theme}}" alt="" srcset="">
                                <img alt="hover ikona" class="fruits__hover-icon" src="{{'/assets/img/company/hover.svg'|theme}}">
                                <img alt="Trinitario atvērta kakao pupa" class="fruits__hover-image" src="{{'/assets/img/company/red-open.png'|theme}}">
                                <h3 class="fruits__title">Trinitario</h3>
                            </div>
                            {# <div class="fruits__card-text">
                                <p class="fruits__hover-text">Svaigus augļus pāršķeļ uz pusēm</p>
                            </div> #}
                        </div>
                    </div>
                </div>

                <div class="d-block d-lg-none">
                    <div class="slider">
                        <div class="fruits__fruit col-12 col-sm-4 slide" >
                            <div class="fruits__card-image">
                                <img src="{{'/assets/img/company/green.png'|theme}}" srcset="">
                                <img class="fruits__hover-icon" src="{{'/assets/img/company/hover.svg'|theme}}" alt="hover">
                                <img class="fruits__hover-image" src="{{'/assets/img/company/green-open.png'|theme}}"
                                    alt="hover">
                                <h3 class="fruits__title">Criollo</h3>
                            </div>
                            {# <div class="fruits__card-text">
                                <p class="fruits__hover-text">Svaigus augļus pāršķeļ uz pusēm</p>
                            </div> #}
                        </div>
                        <div class="fruits__fruit col-12 col-sm-4 slide" >
                            <div class="fruits__card-image">
                                <img src="{{'/assets/img/company/yellow.png'|theme}}" alt="" srcset="">
                                <img class="fruits__hover-icon" src="{{'/assets/img/company/hover.svg'|theme}}" alt="hover">
                                <img class="fruits__hover-image" src="{{'/assets/img/company/yellow-open.png'|theme}}"
                                    alt="hover">
                                <h3 class="fruits__title">Forastero</h3>
                            </div>
                            {# <div class="fruits__card-text">
                                <p class="fruits__hover-text">Svaigus augļus pāršķeļ uz pusēm</p>
                            </div> #}
                        </div>
                        <div class="fruits__fruit col-12 col-sm-4 slide" >
                            <div class="fruits__card-image">
                                <img src="{{'/assets/img/company/red.png'|theme}}" alt="" srcset="">
                                <img class="fruits__hover-icon" src="{{'/assets/img/company/hover.svg'|theme}}" alt="hover">
                                <img class="fruits__hover-image" src="{{'/assets/img/company/red-open.png'|theme}}" alt="hover">
                                <h3 class="fruits__title">Trinitario</h3>
                            </div>
                            {# <div class="fruits__card-text">
                                <p class="fruits__hover-text">Svaigus augļus pāršķeļ uz pusēm</p>
                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{# <section class="recepies" id="recipes">
    <div class="recepies__container container">
        <div class="recepies__row row">
            <div class="recepies__text col-12 col-lg-3 order-lg-1" data-aos="fade-left" data-aos-duration="500">
                <div class="recepies__text__container">
                    <h2>{{texts.18.text}}</h2>
                    <p>{{texts.17.text}}</p>

                    <div class="btn-group justify-content-center justify-content-lg-start">
                        <a href="{{ 'recipes'|page }}" class="link">
                            {{texts.50.text}}
                        </a>
                    </div>
                </div>
            </div>
            <div class="recepies__content col-12 col-lg-9 order-lg-0">

                <div class="recepies__cards row" >
                    {% for recipe in Articles.LandingRecipes(4) %}
                        <div itemscope itemtype="https://schema.org/Recipe" class="col-12 col-md-6 recipe-wrap" data-aos="zoom-out">
                            <a href="{{'recipes-article'|page({slug:recipe.slug})}}" class="">
                                <article class="recipe">
                                    <!--  <div class="thumb" style="background-image:url({{recipe.title_image.getThumb(540,540, {mode: 'crop'})}})"></div> -->
                                    <div class="thumb lazyload" data-bg="{{recipe.title_image.getThumb(540,540, {mode: 'crop'})}}"></div>
                                    <img style="display: none" itemprop="image" data-src="{{recipe.title_image.getThumb(540,540, {mode: 'crop'})}}" class="lazyload" alt="{{ recipe.title_image.title }}">
                                    <span class="more"></span>
                                    <h5 itemprop="name" class="title">{{recipe.title}}</h5>
                                    {% if recipe.excerpt %}
                                        <p itemprop="description" class="desc">{{recipe.excerpt|slice(0, 140)|nl2br}}{{(recipe.excerpt|length > 140) ? '...' : ''}}</p>
                                    {% endif %}
                                </article>
                            </a>
                        </div>
                    {% else %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section> #}

<section class="fresh-fruit d-flex">
    <div class="fresh-fruit__container container d-flex align-items-center justify-content-center">
        <div class="fresh-fruit__title">
            {#<div class="plus-anchor"></div>#}
            <h2>{{texts.46.text}}
                <div class="fresh-fruit__title--later">{{texts.47.text}}</div>
            </h2>
        </div>
        <div class="fresh-fruit__artefact fresh-fruit__artefact--1">
            <img alt="Svaigs gurķis 1" src="{{'/assets/img/company/cucumber3.png'|theme}}">
        </div>
        <div class="fresh-fruit__artefact fresh-fruit__artefact--2">
            <img alt="Svaigs gurķis 2" src="{{'/assets/img/company/cucumber2.png'|theme}}">
        </div>
        <div class="fresh-fruit__artefact fresh-fruit__artefact--3">
            <img alt="Svaigs gurķis 3" src="{{'/assets/img/company/Cucumber_shadow.png'|theme}}">
        </div>
        <div class="fresh-fruit__artefact fresh-fruit__artefact--4">
            <img alt="Svaigs gurķis 4" src="{{'/assets/img/company/cucumber3.png'|theme}}">
        </div>
        <div class="fresh-fruit__artefact fresh-fruit__artefact--5">
            <img alt="Svaigs gurķis 5" src="{{'/assets/img/company/cucumber2.png'|theme}}" style="max-width: 70%;">
        </div>
        <div class="fresh-fruit__artefact fresh-fruit__artefact--6">
            <img alt="Svaigs gurķis 6" src="{{'/assets/img/company/cucumber2.png'|theme}}">
        </div>
    </div>
</section>

<section id="chocolate-production" class="production">
    <div class="container">
        <div class="production__container">
            <div class="production__title">
                <h2>Kā top šokolāde?</h2>
            </div>
            <div class="production__canvas d-none d-lg-block">
                <div class="product-list">
                    <section class="product-list-item" data-parallax-koef="20">
                        {# href="{{ 'sustainability' | page }}#ilgtspejigi-izejmateriali" #}
                        <a href="{{ 'sustainability' | page }}#ilgtspejigi-izejmateriali" class="popup">
                            <div class="popup-inner">
                                <h3 class="popup-title large">1.</h3>
                                <p class="popup-title">Sadarbība ar Rainforest Alliance</p>
                            </div>
                        </a>
                        <img alt="Rainforest Alliance" src="{{'/assets/img/company/RaLogo.png'|theme}}">
                        <div class="plus-anchor"></div>
                    </section>
                    <section class="product-list-item" data-parallax-koef="10">
                        <div class="popup">
                            <div class="popup-inner">
                                <h3 class="popup-title large">2.</h3>
                                <p class="popup-title">No kakao kokiem novāc augļus.</p>
                            </div>
                        </div>
                        <img alt="Sarkana kakao pupa" src="{{'/assets/img/company/sarkana.png'|theme}}" alt="">
                        <div class="plus-anchor"></div>
                    </section>
                    <section class="product-list-item" data-parallax-koef="20">
                        <div class="popup">
                            <div class="popup-inner">
                                <h3 class="popup-title large">3.</h3>
                                <p class="popup-title">Svaigus augļus pāršķeļ uz pusēm un izloba kakao pupiņas.</p>
                            </div>
                        </div>
                        <img alt="Dzeltena atvērta kakao pupa" src="{{'/assets/img/company/griezums.png'|theme}}" alt="">
                        <div class="plus-anchor"></div>
                    </section>
                    
                    <section class="product-list-item" data-parallax-koef="10">
                        <div class="popup">
                            <div class="popup-inner">
                                <h3 class="popup-title large">4.</h3>
                                <p class="popup-title">Pupiņas apstrādā un grauzdē.</p>
                            </div>
                        </div>
                        <img alt="Kakao pupiņas" src="{{'/assets/img/company/pupinas.png'|theme}}" alt="">
                        <div class="plus-anchor"></div>
                    </section>
                    <section class="product-list-item" data-parallax-koef="20">
                        <div class="popup">
                            <div class="popup-inner">
                                <h3 class="popup-title large">5.</h3>
                                <p class="popup-title">Pupiņas smalki samaļot, iegūst kakao masu</p>
                            </div>
                        </div>
                        <img alt="Kakao masa" src="{{'/assets/img/company/pulveris.png'|theme}}" alt="">
                        <div class="plus-anchor"></div>
                    </section>
                    <section class="product-list-item" data-parallax-koef="10">
                        <div class="popup">
                            <div class="popup-inner">
                                <h3 class="popup-title large">6.</h3>
                                <p class="popup-title">No 1 kakao augļa sanāk 1 šokolādes tāfelīte (100g).</p>
                            </div>
                        </div>
                        <img alt="Viens Laima šokolādes gabaliņš" src="{{'/assets/img/company/sokolade2.png'|theme}}" alt="">
                        <div class="plus-anchor"></div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="production__canvas d-block d-lg-none">
        <div class="product-list slider ">
            <section class="product-list-item" data-parallax-koef="20">
                {# href="{{ 'sustainability' | page }}#ilgtspejigi-izejmateriali" #}
                <a href="{{ 'sustainability' | page }}#ilgtspejigi-izejmateriali" class="popup">
                    <div class="popup-inner">
                        <h3 class="popup-title large">1.</h3>
                        <p class="popup-title">Sadarbība ar Rainforest Alliance</p>
                    </div>
                </a>
                <img src="{{'/assets/img/company/RaLogo.png'|theme}}" alt="">
                <div class="plus-anchor"></div>
            </section>
            <section class="product-list-item" data-parallax-koef="10">
                <div class="popup">
                    <div class="popup-inner">
                        <h3 class="popup-title large">2.</h3>
                        <p class="popup-title">No kakao kokiem novāc augļus.</p>
                    </div>
                </div>
                <img src="{{'/assets/img/company/sarkana.png'|theme}}" alt="">
                <div class="plus-anchor"></div>
            </section>
            <section class="product-list-item" data-parallax-koef="20">
                <div class="popup">
                    <div class="popup-inner">
                        <h3 class="popup-title large">3.</h3>
                        <p class="popup-title">Svaigus augļus pāršķeļ uz pusēm un izloba kakao pupiņas.</p>
                    </div>
                </div>
                <img src="{{'/assets/img/company/griezums.png'|theme}}" alt="">
                <div class="plus-anchor"></div>
            </section>
            <section class="product-list-item" data-parallax-koef="10">
                <div class="popup">
                    <div class="popup-inner">
                        <h3 class="popup-title large">4.</h3>
                        <p class="popup-title">Pupiņas apstrādā un grauzdē.</p>
                    </div>
                </div>
                <img src="{{'/assets/img/company/pupinas.png'|theme}}" alt="">
                <div class="plus-anchor"></div>
            </section>
            <section class="product-list-item" data-parallax-koef="20">
                <div class="popup">
                    <div class="popup-inner">
                        <h3 class="popup-title large">5.</h3>
                        <p class="popup-title">Pupiņas smalki samaļot, iegūst kakao masu</p>
                    </div>
                </div>
                <img src="{{'/assets/img/company/pulveris.png'|theme}}" alt="">
                <div class="plus-anchor"></div>
            </section>
            <section class="product-list-item" data-parallax-koef="10">
                <div class="popup">
                    <div class="popup-inner">
                        <h3 class="popup-title large">6.</h3>
                        <p class="popup-title">No 1 kakao augļa sanāk 1 šokolādes tāfelīte (100g).</p>
                    </div>
                </div>
                <img src="{{'/assets/img/company/sokolade2.png'|theme}}" alt="">
                <div class="plus-anchor"></div>
            </section>
        </div>
    </div>
</section>

{% partial 'components/balta-sarma' extraContent = extraContent %}

<section id="chocolate-qualities" class="chocolate-qualities-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 text-center text-lg-right"><h2>{{texts.58.text}}</h2></div>
            <div class="col-lg-6">
                {% partial 'components/sustainability/chocolate-qualities' extraContent=extraContent %}
            </div>
        </div>
    </div>
</section>


<section class="timeline" id="history">
    <div class="timeline__container container">

        <div class="timeline__title">
            <h2>{{texts.43.text}}</h2>
        </div>

        <div class="timeline__cards">
            <div class="timeline__line"></div>
            {% for item in Content.getPackageHistory %}
                <div class="timeline__card">
                    <div class="timeline__card-title">
                        <span>{{item.year}}</span>
                    </div>
                    <div class="timeline__card-body">
                        <div class="timeline__card-body-image">
                            <img class="lazyload" data-src="{{item.image.getThumb(670,490)}}" alt="{{ item.image.title }}">
                            {# <img src="{{'/assets/img/company/timeline1.png'|theme}}"> #}
                        </div>
                        <div class="timeline__card-body-text">
                            <p>{{item.title}}</p>
                            <p>{{item.body|nl2br}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</section>

<section class="clock">
    <div class="clock__container container">
        <div class="clock__row row">

            <div class="clock__canvas col-12 col-lg-8 order-2 order-lg-1" data-aos="fade-up">
                <div class="clock__canvas__inner">
                    <div class="clock__image clock__image-tree">
                        <img src="{{'/assets/img/company/tree.png'|theme}}" alt="12 metru garš koks">
                        <div class="clock__canvas__line"></div>
                        <div class="clock__image__text">12 m</div>
                    </div>
                    <div class="clock__image clock__image-clock">
                        <img src="{{'/assets/img/company/clock.png'|theme}}" alt="8.3 metru augsts Laima pulkstenis">
                        <div class="clock__image__text">8,3 m</div>
                    </div>
                </div>
            </div>

            <div class="clock__text col-12 col-lg-4 order-1 order-lg-2" data-aos="fade-left">
                <div class="clock__text__container">
                    <h2>{{texts.44.text}}</h2>
                    <p>{{texts.45.text|nl2br}}</p>
                </div>
            </div>
        </div>
    </div>
</section>


