title = "404 page not found"
url = "/404"
layout = "404"
is_hidden = 0

==

<header class="spacer header" style="height: 250px;">

</header>

<section class="segment segment--texture segment--with-header segment--viewport">
  <div class="container">

    <div class="grid">
      <div class="col--two-thirds push--sixth col--md-break push--md-none">

        <div class="not-found">

          <div class="not-found__inner">
            <p class="h6 text--muted">Lapa nav atrasta</p>
            <h1 class="text--highlight">Esat apmaldījies.</h1>
            <p class="text--large">Lapa, kuru jūs meklējat, neeksistē.</p>
            <a href="{{'front-page'|page}}" class="btn btn-outline-secondary">Atgriezties uz sākumlapu</a>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>


