title = "404 page not found"
layout = "404"
is_hidden = 0

==

<header class="header">
  <div class="header__wrap">
    <div class="container">

      <div class="header__left"></div>

      <div class="header__center">
        <div class="logo">
          <a class="logo__image" href="{{'home'|page}}">
            <svg viewbox="0 0 120 82"><use xlink:href="{{'assets/images/icon-sprite.svg'|theme ~ '#riga-black-balsam-logo'}}"></svg>
          </a>
        </div>
      </div>

      <div class="header__right"></div>
    </div>
  </div>
</header>

<section class="segment segment--texture segment--with-header segment--viewport">
  <div class="container">

    <div class="grid">
      <div class="col--two-thirds push--sixth col--md-break push--md-none">

        <div class="not-found">

          <div class="not-found__inner">
            <p class="h6 text--muted">MAINTENANCE</p>
            <h1 class="text--highlight">We'll be back soon!</h1>
            <p class="text--large">We expect to be soon online. <br> Please check back later.</p>
          </div>

        </div>

      </div>
    </div>

  </div>
</section>


