// @mixin breakpoint-sm-down {
//   @media (max-width: 576px) { @content; }
// }
$breakpoint-sm-down: "(max-width: 576px)";
// @mixin breakpoint-md-down {
//   @media (max-width: 768px) { @content; }
// }
$breakpoint-md-down: "(max-width: 768px)";
// @mixin breakpoint-lg-down {
//   @media (max-width: 1200px) { @content; }
// }
$breakpoint-lg-down: "(max-width: 1200px)";
// @mixin breakpoint-xl-down {
//   @media (max-width: 1400px) { @content; }
// }
$breakpoint-xl-down: "(max-width: 1400px)";

@mixin dashed-border() {
  border: 1px dashed $brown;
  border-image-source:url("../img/border.svg");
  border-image-width: 1;
  border-image-slice: 1;
  border-image-repeat: round;
}

$font-size-base: 16 !default;

// Strip units
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

// Relative units from pixels
$mixin--baseFontSize: $font-size-base;
@function rem($pixels, $context: $mixin--baseFontSize) {
  $u-pixels: strip-unit($pixels);
  $u-context: strip-unit($context);

  // @if (unitless($u-pixels)) {
  //   $u-pixels: $u-pixels * 1px;
  // }

  // @if (unitless($u-context)) {
  //   $u-context: $u-context * 1px;
  // }

  @return $u-pixels / $u-context * 1rem;
}
