description = "Footer partial"
==

<footer>
    <div class="container">
        <div class="row main">

            <div itemscope itemtype="https://schema.org/PostalAddress" class="col-12 col-lg-3 address">
                <a class="navbar-brand logo footer-logo" href="{{ 'front-page'|page }}">
                  {% content 'svg/classic-logo' %}
              </a>
              <p itemprop="address">{{texts.22.text|nl2br}}</p>
            </div>

            <div class="dash-wrap col-12 d-block d-lg-none">
                <div class="dash"></div>
            </div>
                <div class="col-2 d-none d-md-block quicklinks">
                    <ul>
                        <li><b>{{texts.1.text}}</b></li>
                        <li><a href="{{ "products"|page() }}">{{texts.10.text}}</a></li>
                        <li><a href="{{ "products-cat"|page({cat_slug:'konfeksu-karbas'}) }}">Konfekšu kārbas</a></li>
                        <li><a href="{{ "products-cat"|page({cat_slug:'sokolades-tafelites'}) }}">Šokolādes Tāfelītes</a></li>
                        <li><a href="{{ "products-cat"|page({cat_slug:'konfektes'}) }}">Konfektes</a></li>
                    </ul>
                </div>

                <div class="col-2 d-none d-md-block quicklinks">
                    <ul>
                        <li><b>{{texts.23.text}}</b></li>
                        {# <li><a href="{{ "products"|page() }}">{{texts.10.text}}</a></li>
                        <li><a href="{{ "products-cat"|page({cat_slug:'konfeksu-karbas'}) }}">Konfekšu kārbas</a></li> #}
                        <li><a href="{{ "contacts"|page() }}#buj">BUJ</a></li>
                        {# <li><a href="https://oveikals.lv/" target="_blank">E-veikals</a></li> #}
                    </ul>
                </div>

                <div class="col-2 d-none d-md-block quicklinks">
                    <ul>
                        <li><b>{{texts.24.text}}</b></li>
                        <li><a href="/privacy-policy">Privātuma Politika</a></li>
                    </ul>
                </div>


            <div id="footer-quicklinks" class="accordion col-12 d-block d-md-none">

                    <div class="card">
                        <div class="card-header" id="heading-1">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
                                {{texts.1.text}}
                                </button>
                            </h2>
                        </div>

                        <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#footer-quicklinks">
                            <div class="card-body">
                                <ul>

                                    <li><a href="{{ "products"|page() }}">{{texts.10.text}}</a></li>
                                    <li><a href="{{ "products-cat"|page({cat_slug:'konfeksu-karbas'}) }}">Konfekšu kārbas</a></li>
                                    <li><a href="{{ "products-cat"|page({cat_slug:'sokolades-tafelites'}) }}">Šokolādes Tāfelītes</a></li>
                                    <li><a href="{{ "products-cat"|page({cat_slug:'konfektes'}) }}">Konfektes</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-2">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
                                {{texts.23.text}}
                                </button>
                            </h2>
                        </div>

                        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#footer-quicklinks">
                            <div class="card-body">
                                <ul>
                                    <li><a href="{{ "contacts"|page() }}#buj">BUJ</a></li>
                                    {# <li><a href="https://oveikals.lv/" target="_blank">E-veikals</a></li> #}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="heading-3">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
                                {{texts.24.text}}
                                </button>
                            </h2>
                        </div>

                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#footer-quicklinks">
                            <div class="card-body">
                                <ul>
                                    <li><a href="/privacy-policy">Privātuma Politika</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

            </div>


            <div class="col-12 col-md-6 col-lg-3 contact">
                <p>{{texts.25.text}}</p>
                <a class="btn btn-outline-primary more" href="{{ 'contacts' | page }}">{{texts.8.text}}</a>
            </div>
        </div>

        <div class="row last">
            <div class="dash-wrap col-12">
                <div class="dash"></div>
            </div>


            <div class="cc col-12 col-md-6 col-xl-6">
                <p>{{texts.26.text}}</p>
            </div>


            <div class="social col-12 col-md-6 col-xl-6">
                <p class="d-block d-md-none">{{texts.27.text}}</p>
                    <a class="link" target="_blank" href="https://www.instagram.com/laimasaldumi/">{% content 'svg/instagram' %}</a>
                    {# <a class="link" target="_blank" href="https://twitter.com/LaimaSaldumi">{% content 'svg/twitter' %}</a> #}
                    <a class="link" target="_blank" href="https://www.facebook.com/LaimaSaldumi/">{% content 'svg/facebook' %}</a>
                <p class="d-none d-md-block">{{texts.27.text}}</p>
            </div>
        </div>
    </div>
</footer>
