description = "Head partial"
==

<head>
    <!-- Config -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Primary -->
    <title>Laima
        {{(this.page.title) ? ('| ' ~ this.page.title) : '' }}</title>
    <meta name="title" content="Laima {{(this.page.seo_title) ? ('| ' ~ this.page.seo_title) : ('| ' ~ this.page.meta_title|default(this.page.title)) }}">
    <meta name="description" content="{{(this.page.seo_description) ? (this.page.seo_description) : this.page.meta_description|default('Laima')}}">
    <meta name="keywords" content="{{ (this.page.seo_keywords) ? (this.page.seo_keywords) : (this.page.meta_keywords|default('Laima')) }}">

    <!-- Robots -->
    <meta name="robots" content="index, follow">
    <meta name="language" content="Latvian">
    <meta name="revisit-after" content="1 days">
    <meta name="author" content="Brandbox Digital">

    <!-- Facebook -->
    <meta name="facebook-domain-verification" content="dz7u5puen4tewgleh6pib8w6vrsnrd" />

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ ''|page }}">
    <meta property="og:title" content="Laima {{(this.page.title) ? ('| ' ~ this.page.title) : '' }}">
    <meta property="og:description" content="{{this.page.description|default('Laima')}}">
    <meta property="og:image" content="content">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="{{ ''|page }}">
    <meta property="twitter:title" content="Laima {{(this.page.title) ? ('| ' ~ this.page.title) : '' }}">
    <meta property="twitter:description" content="{{this.page.description|default('Laima')}}">
    <meta property="twitter:image" content="content">

    <!-- Style -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ ('assets/img/favicons/apple-touch-icon.png')|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ ('assets/img/favicons/favicon-32x32.png')|theme }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ ('assets/img/favicons/android-chrome-192x192.png')|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ ('assets/img/favicons/favicon-16x16.png')|theme }}">
    <link rel="mask-icon" href="{{ ('assets/img/favicons/safari-pinned-tab.svg')|theme }}" color="#dc0032">
    <meta name="msapplication-TileColor" content="#2c0302">
    <meta name="msapplication-TileImage" content="{{ ('assets/img/favicons/mstile-144x144.png')|theme }}">
    <meta name="theme-color" content="#DC0032">


    <link rel="stylesheet" type="text/css" href="{{ ('assets/css/all.css')|theme }}?v={{random()}}"/>
    <link rel="stylesheet" type="text/css" href="{{ ('assets/css/extra.css')|theme }}?v={{random()}}"/>
    <link rel="stylesheet" type="text/css" href="{{ ('assets/css/extra/main.css')|theme }}?v={{random()}}"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin="crossorigin">
    <script type="text/javascript" charset="UTF-8" src="//cdn.cookie-script.com/s/105da13d6e7be88be4e1d0ea1ce8e1e1.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script src="{{'assets/js/lazysizes.min.js' | theme }}" async=""></script>
    <script src="{{'assets/js/ls.unveilhooks.js' | theme }}" async=""></script>

    {# {% if allow_cookies()  %} #}

    {# {% endif %} #}

    


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60303638-6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-60303638-6');
    </script>


    {% styles %}
</head>
