description = "404 layout"

[localePicker]
forceUrl = 0

==
<!doctype html>
<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">
  	
    {% partial 'head' %} 
  	
  	<body>
        <div class="page-wrap">
          {% page %}
        </div>

        {% partial 'components/modals' %}
        {% partial 'assets/scripts' %}
  	</body>
</html>
