description = "Articles layout"

[localePicker]
forceUrl = 0

[Menu]

[Content]

[Articles]
count = 14
==
<!doctype html>

<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">

    {% partial 'assets/styles' %}

    {% partial 'head' %}



    <body class="recipes">

        {# placeholder before_wrap #}

      {% partial 'components/preloader'%}



      <div id="wrap">

        {% partial 'headers/general' %}

        {% page %}

        {% partial 'footer' %}

      </div>



        {# {% component 'staticPage' %} #}

      {% partial 'components/modals' %}

      {% partial 'assets/scripts' %}

    </body>

</html>
