description = "Company layout"

[localePicker]
forceUrl = 0
[Menu]
[Content]
==
<!doctype html>

<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">

    {% partial 'head' %}

    <body class="company">
      {% partial 'components/preloader'%}

      <div id="wrap">

        <header>
          {% partial 'menus/main-menu' %}
          {% partial 'menus/mobile-menu' %}
        </header>

        {% page %}

        {% partial 'footer' %}

      </div>

      {% partial 'components/modals' %}
      {% partial 'assets/scripts' %}

    </body>

</html>
