description = "Contacts layout"

[localePicker]
forceUrl = 0

[Menu]
[Content]
[Form]
[Products]
==
<!doctype html>
<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">

    {% partial 'head' %}

    <body class="contacts">
        {# placeholder before_wrap #}
      {% partial 'components/preloader'%}
      
      <div id="wrap">
        {% partial 'headers/contacts' %}
        {% page %}
        {% partial 'footer' %}
      </div>

        {# {% component 'staticPage' %} #}
      {% partial 'components/modals' %}
      {% partial 'assets/scripts' %}
      {% scripts %}
    </body>
</html>
