description = "Default layout"

[localePicker]
forceUrl = 0

[Menu]

[Content]
[Articles]
[Products]
==
<!doctype html>
<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">

    {% partial 'main/head' %}

    <body>
        {# placeholder before_wrap #}

      {% partial 'main/header' %}
      {% page %}
      {% partial 'main/footer' %}

        {# {% component 'staticPage' %} #}
      {% partial 'main/modals' %}
      {% partial 'main/scripts' %}
    </body>
</html>
