description = "Front Page layout"

[localePicker]
forceUrl = 0

[Menu]

[Content]

[Articles]
count = 14

[Products]
count = 20
==
<!doctype html>

<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">
  
    {% partial 'assets/styles' %}

    {% partial 'head' %}



    <body class="front-page">

        {# placeholder before_wrap #}

      {% partial 'components/preloader'%}

      

      <div id="wrap">

        {% partial 'headers/front-page' %}

        {% page %}

        {% partial 'footer' %}

      </div>



        {# {% component 'staticPage' %} #}

      {% partial 'components/modals' %}

      {% partial 'assets/scripts' %}

    </body>

</html>