description = "Products Page layout"



[localePicker]

forceUrl = 0



[Menu]



[Content]



[Products]

==

<!doctype html>



<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">







    {% partial 'head' %}

    {% partial 'assets/products-styles' %}





    <body class="products">



        {# placeholder before_wrap #}



      {% partial 'components/preloader'%}







      <div id="wrap">



        {% partial 'headers/products' %}



        {% page %}



        {% partial 'footer' %}



      </div>







        {# {% component 'staticPage' %} #}



      {% partial 'components/modals' %}



      {% partial 'assets/scripts' %}



      {% scripts %}



    </body>



</html>

