description = "Shops Page layout"

[localePicker]
forceUrl = 0

[Menu]

[Content]

[Products]
count = 20
==
<!doctype html>
<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">

    {% partial 'head' %}
    {% partial 'assets/shops-styles' %}

    <body class="shops">
        {# placeholder before_wrap #}
      {% partial 'components/preloader'%}
      
      
      <div id="wrap">
        {% partial 'headers/shops' %}
        {% page %}
        {% partial 'footer' %}
      </div>

        {# {% component 'staticPage' %} #}
      {% partial 'components/modals' %}
      {% partial 'assets/scripts' %}
      {% scripts %}
    </body>
</html>