description = "Spring layout"



[localePicker]

forceUrl = 0

[Menu]

[Content]

==

<!doctype html>



<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">



    {% partial 'head' %}



    <body class="spring">

      {% partial 'components/preloader'%}



      <div id="wrap">



        {% partial 'headers/general' %}



        {% page %}



        {% partial 'footer' %}



      </div>



      {% partial 'components/modals' %}

      {% partial 'assets/scripts' %}



    </body>



</html>

