description = "Company layout"

[localePicker]
forceUrl = 0
[Menu]
[Content]
[Articles]
==
<!doctype html>

<html class="no-js" lang="{{localePicker.activeLocale}}" dir="ltr">

    {% partial 'head' %}

    <body class="sweet-story">
      {% partial 'components/preloader'%}

      <div id="wrap">

        {% partial 'headers/general' %}

        {% page %}

        {% partial 'footer' %}

      </div>

      {% partial 'components/modals' %}
      {% partial 'assets/scripts' %}

    </body>

</html>
