<div itemscope itemtype="https://schema.org/NewsArticle" class="article-wrap col-12 col-lg-4 col-sm-6 {% if size == 'large' %}col-lg-8 large{% else %}col-lg-4{% endif %}" data-aos="zoom-out" data-aos-anchor="#news">
    <a itemprop="thumbnailUrl" href="{{'news-article'|page({slug:article.slug})}}">
        <article class="article">
            {# <div class="thumb" style="background-image:url({{article.title_image.getThumb(540,540, {mode: 'crop'})}})"></div> #}
            <div class="thumb">
                <img itemprop="image" class="" src="{{article.title_image.getThumb(728,728, {mode: 'crop'})}}" alt="{{ article.title_image.title }}">
            </div>
            <h5 itemprop="headline" class="title">{{article.title}}</h5>
            <p class="date">{{ article.published_at|date('d.m.Y') }}</p>
            <p style="display: none" itemprop="datePublished" class="date">{{ article.published_at|date('Y.m.d') }}</p>
            <p itemprop="description" class="desc">{{article.excerpt|slice(0, 140)|nl2br}}{{(article.excerpt|length > 140) ? '...' : ''}}</p>
        </article>
    </a>
</div>
