<div class="article-wrap col-12 col-lg-4 col-sm-6 {% if size == 'large' %}col-lg-8 large{% else %}col-lg-4{% endif %}" data-aos="zoom-out" data-aos-anchor="#news">
    <a href="{{'recipes-article'|page({slug:article.slug})}}">
        <article itemscope itemtype="https://schema.org/Recipe" class="article">
            {# <div class="thumb" style="background-image:url({{article.title_image.getThumb(540,540, {mode: 'crop'})}})"></div> #}
            <img itemprop="image" class="thumb" src="{{article.title_image.getThumb(540,540, {mode: 'crop'})}}" alt="{{ article.title_image.title }}">
            <h5 itemprop="name" class="title">{{article.title}}</h5>
            <p itemprop="description" class="desc">{{article.excerpt|slice(0, 140)|nl2br}}{{(article.excerpt|length > 140) ? '...' : ''}}</p>
        </article>
    </a>
</div>
