
<div id="laima_line__animation_container">
    <canvas id="laima_line" width="570" height="15000" style="height: 15000px; margin-left:-20%; margin-top:50px"></canvas>
    <div id="laima_line__dom_overlay_container"></div>
</div>
