{% put scripts %}

<script src="{{ ('assets/puzzlepeace/company_js/createjs.min.js?v=' ~ random())|theme }}"></script>
<script src="{{ 'assets/puzzlepeace/company_js/animation.js'|theme }}"></script>

<script id="animation_scripts">
    var canvas, stage, exportRoot, anim_container, dom_overlay_container, fnStartAnimation;

    function init() {
        canvas = document.getElementById("laima_line");
        anim_container = document.getElementById("laima_line__animation_container");
        dom_overlay_container = document.getElementById("laima_line__dom_overlay_container");
        var comp=AdobeAn.getComposition("219A793EC0ED764DB54DA7D8C44F51C0");
        var laima_line_lib=comp.getLibrary();
        createjs.MotionGuidePlugin.install();
        handleComplete({},comp);
    }

    function handleComplete(evt,comp) {
        //This function is always called, irrespective of the content. You can use the variable "stage" after it is created in token create_stage.
        var laima_line_lib=comp.getLibrary();
        var ss=comp.getSpriteSheet();
        exportRoot = new laima_line_lib.laima_web_line_full();
        stage = new laima_line_lib.Stage(canvas);

        window.__stage = stage;
        //Registers the "tick" event listener.

        fnStartAnimation = function() {
            stage.addChild(exportRoot);
            createjs.Ticker.framerate = laima_line_lib.properties.fps;
            createjs.Ticker.addEventListener("tick", stage);

            window.__exportRoot = exportRoot;

            exportRoot.gotoAndStop(0);
        }
        //Code to support hidpi screens and responsive scaling.
        // AdobeAn.makeResponsive(false,'both',false,1,[canvas,anim_container,dom_overlay_container]);
        AdobeAn.compositionLoaded(laima_line_lib.properties.id);
        fnStartAnimation();
        window.__duration = __stage.children[0].duration;
    }

    $(function () {
        init();
        $(window).trigger('scroll');
    });


    $(window).on('scroll', function(event) {

        if (typeof __stage !== 'undefined') {
            var scrollTop = $(window).scrollTop() - 150;
            var height = __stage.canvas.height;
            var koef = scrollTop / 25000;
            var frame = null;

            if (scrollTop > 0 && scrollTop < height ) {
                frame = Math.round(koef * window.__duration);
                __exportRoot.gotoAndStop(frame + 0)
            } else if (scrollTop <= 0 && frame !== null) {
                frame = null;
                __exportRoot.gotoAndStop(0)
            }
        }
    })

</script>
{% endput %}
