.nav-item.has-submenu {
    position: relative;
}
.nav-item.has-submenu .submenu {
    position: absolute;
    z-index: -1;
    top: 100%;
    padding: 0 25px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    list-style: none;
    width: max-content;
    opacity: 0;
}

.nav-item.has-submenu.is-hovered .submenu {
    display: block;
    opacity: 1;
    /* transition: opacity 2s; */
    animation: visible 1.5s;
}

@keyframes visible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }

   @keyframes hidden {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
   }

.navbar-light .submenu a {
    color: #edcaa6;
}

.contacts #main-menu .navbar-nav .nav-item .submenu a, 
.products #main-menu .navbar-nav .nav-item .submenu a, 
.recipes #main-menu .navbar-nav .nav-item .submenu a, 
.single-product #main-menu .navbar-nav .nav-item .submenu a, 
.sweet-story #main-menu .navbar-nav .nav-item .submenu a {
    color: #1a0201;
}

.submenu a:hover {
    color: #dc0032 !important;
}

.menu-item {
    background: transparent;
    text-align: center;
    opacity: 0;
}
.submenu li {
    text-align: center;
    line-height: 1.14;
    padding-bottom: 3px;
}
.submenu a {
    width: 100%;
    font-size: .8rem;
    font-weight: 400 !important;
    text-transform: uppercase;
    text-decoration: none;
}
/* .nav-item.has-submenu:hover .submenu{
    display: block;
} */
/* #wrap {
    overflow: visible !important;
    z-index: 998;
} */
#mobile-sidenav .navbar-brand svg {
    width: 94px !important;
    height: auto !important;
    margin-left: 0 !important;
    margin-top: 0 !important;
}

.submenu-mobile {
    padding-left: .8rem;
    list-style: none;
}

#main-menu-content.is-line-hidden:after {
    opacity: 0;
    animation: hidden 0.5s;
    /* transition: opacity .5s; */
}
