description = "Front Page Header partial"
==
<header>
    <style>
        header nav{
            background: url(https://laima.lv/themes/laima/assets/img/company/company--main-nav-background.png) left top -10px repeat-x;
            background-size: 100% 100%;
        }
    </style>

    {% partial 'menus/main-menu' %}





    <section id="hero">

        {% partial 'sliders/hero' %}

    </section>





    <div class="container">

        <div class="row">

            <div class="rellax" data-rellax-speed="0.75">

                {% content 'svg/stamp' %}

            </div>

        </div>

    </div>



    {% partial 'menus/mobile-menu' %}

</header>
