description = "Shops Header partial"
==
<header>
    {% partial 'menus/main-menu' %}
    <section id="hero">
        <div class="parallax-hero rellax d-flex justify-content-center align-items-center" data-rellax-speed="-3">
            <div class="hero-content d-flex flex-column justify-content-center align-items-center">
                {# <h3 class="hero-content__title mb-3 text-center">Iepērcies arī internetā</h3> #}
                {# <a class="btn hero-content__btn" href="https://oveikals.lv/">E-Veikals</a> #}
            </div>
        </div>
    </section>
    {% partial 'menus/mobile-menu' %}
</header>