.sweet-story .production__canvas .product-list-item a .popup-title {
  text-decoration: underline;
}
.sweet-story .production__canvas .product-list-item a .popup-title.large {
  text-decoration: none;
}

.sweet-story .production__canvas .product-list-item .plus-anchor {
  top: 21%;
  right: 22%;
}

@media screen and (min-width: 1200px) {
  .sweet-story .production__canvas .product-list-item .plus-anchor {
    top: 17%;
    right: 16%;
  }
}