<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('bboxdigi/articles/articles') ?>">Articles</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

    <?php Block::put('form-contents') ?>

        <div class="layout-row min-size fancy-layout">
            <?= $this->formRenderOutsideFields() ?>
        </div>

        <div class="layout-row fancy-layout">
            <?= $this->formRenderPrimaryTabs() ?>
        </div>

    <?php Block::endPut() ?>

    <?php Block::put('form-sidebar') ?>
        <div class="hide-tabs"><?= $this->formRenderSecondaryTabs() ?></div>
    <?php Block::endPut() ?>

    <?php Block::put('body') ?>
        <style>
            .layout-row .padded-container.layout {
                padding: 0 !important;
            }
        </style>
        <?= Form::open(['class'=>'layout stretch']) ?>
            <?= $this->makeLayout('form-with-sidebar') ?>
        <?= Form::close() ?>
    <?php Block::endPut() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('bboxdigi/articles/articles') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>
