<div data-control="toolbar">
    <a
        href="<?= Backend::url('bboxdigi/content/sustainabilitygoals/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Sustainability Goal
    </a>
    <a href="<?= Backend::url('bboxdigi/content/sustainabilitygoals/reorder') ?>" class="btn btn-default oc-icon-list"><?= e(trans('backend::lang.reorder.default_title')) ?></a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Sustainability Goals?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>
</div>
