// Made using VSC compiler..
@import "./helpers/_mixins.scss";


.company {
  background: url("../img/about-bg.jpg") repeat;
}

.company header {
  padding-top: 40px;
  padding-bottom: 40px;
  background: url("../img/company/company--main-nav-background.svg") left top -10px repeat-x;
}

.company h1 {
  font-size: rem(80);
  color: #1a0201;
  font-weight: bold;
  font-family: "brother-1816";

  @media #{$breakpoint-lg-down} {
    font-size: rem(48);
  }
}

.company h2 {
  font-size: rem(60);
  color: #1a0201;
  font-family: "brother-1816";
}

.company h3 {
  font-size: rem(60);
  font-weight: bold;
  color: #1a0201;
  font-family: "brother-1816";
}

.company img {
  max-width: 100%;
}

.company .separator {
  height: 1px;
  background: url("/assets/Line 125.svg");
  margin-top: 34px;
  margin-bottom: 34px;
}

.company .header-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;

  z-index: -1;

  transform: translateY(-30%);

  display: flex;
  justify-content: center;
}

.company .header-image img{
  max-width: 100%;
}

.company .about-us {
  margin-top: rem(250);

  @media #{$breakpoint-lg-down} {
    margin-top: 0;
  }
}

.company .about-us h1 {
  color: #edcaa6;
}

.company .about-us p {
  font-size: 21px;
  font-family: "brother-1816";
  line-height: 32px;
  color: #edcaa6;
  text-shadow: 1px 1px 9px #2c0302e5;
}

.company .history {

  [class*="-text-content"] {
    padding: 10px;

    @media #{$breakpoint-lg-down} {

      h3 {
        display: none;
      }
    }
  }

  [class*="-image-content"] {
    @media #{$breakpoint-lg-down} {

      h3 {
        padding: 0;
      }
    }
  }

}

.company .history {
  height: 100%;
  margin-bottom: 225px;
}

.company .history h3 {
  color: #edcaa6;
  font-family: "brother-1816";
  padding: 30px 0;
  margin: 0;
}

.company .history p {
  color: #edcaa6;
  font-size: 21px;
  line-height: 28px;
  font-family: "brother-1816";
}

.company .history img {
  width: auto;
  height: auto;
}

.company .history__container {
  position: relative;
  // min-height: 6182px;
}

.company .history__container .row {

  &:nth-child(even) [class*="-image-content"] h3 {
    text-align: right;
  }
  &:nth-child(odd) [class*="-image-content"] h3 {
    text-align: left;
  }

  @media #{$breakpoint-lg-down} {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    [class*="-image"] {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }
}

.company .history__lifeline {
  width: 100%;
  text-align: center;
  position: absolute;
  margin: 0 auto;
  top: -80px;
  bottom: 0;
  text-align: center;

  #laima_line__animation_container {
    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: center;

    height: 100%;
    height: 2500px;
  }

  canvas {
    width: 570px;
    height: 2500px;
  }
}

@media (min-width: 992px) {
  .company .history .row:nth-child(even) > div:first-of-type {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .company .history .row:nth-child(even) > div:last-of-type {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .company .history .row:nth-child(odd) > div:first-of-type {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .company .history .row:nth-child(odd) > div:last-of-type {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.company .history__y1870 {
  padding-top: 220px;
}

.company .history__y1870-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1870-image {
  margin-top: 20px;
}

@media (max-width: 992px) {
  .company .history__y1870 {
    padding-top: 60px;
  }
}

.company .history__y1881 {
  padding-top: 80px;
}

.company .history__y1881-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1881-image {
  margin-top: -120px;
}

.company .history__y1921 {
  padding-top: 80px;
}

.company .history__y1921-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1921-image {
  margin-top: -30px;
}

.company .history__y1921-image-content img {
  margin-left: 40px;
}

.company .history__y1924 {
  padding-top: 80px;
}

.company .history__y1924-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1924-image {
  margin-top: -60px;
}

.company .history__y1924-image-content img {
  margin-left: 100px;
}

.company .history__y1925 {
  padding-top: 80px;
}

.company .history__y1925-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1925-image {
  margin-top: 0px;
}

.company .history__y1925-image-content {
  text-align: center;
}

.company .history__y1925-image-content img {
  mix-blend-mode: lighten;
}

.company .history__y1936 {
  padding-top: 20px;
}

.company .history__y1936-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1936-image {
  margin-top: 0px;
}

.company .history__y1936-image-content {
  text-align: center;
}

.company .history__y1937 {
  padding-top: 20px;
}

.company .history__y1937-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1937-image {
  margin-top: -80px;
}

.company .history__y1937-image-content {
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1300px) {
  .company .history__y1937-image-content {
    margin-top: 0px;
    margin-left: -40px;
  }
  .company .history__y1937-image-content img {
    width: 850px;
    max-width: 600px;
  }
}

.company .history__y1940 {
  padding-top: 35px;
}

.company .history__y1940-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1940-image {
  margin-top: -80px;
}

.company .history__y1940-image-content {
  text-align: center;
}

.company .history__y1940-image-content img {
  mix-blend-mode: lighten;
}

.company .history__y1958 {
  margin-top: -45px;
}

.company .history__y1958-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1958-image {
  margin-top: -80px;
}

.company .history__y1958-image-content {
  text-align: center;
}

.company .history__y1959 {
  margin-top: -35px;
}

.company .history__y1959-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1959-image {
  margin-top: -80px;
}

.company .history__y1959-image-content {
  text-align: center;
}

@media (min-width: 992px) and (max-width: 1300px) {
  .company .history__y1959 {
    margin-top: 0px;
  }
}

.company .history__y1998 {
  margin-top: -35px;
}

.company .history__y1998-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y1998-image {
  margin-top: -80px;
}

.company .history__y1998-image-content {
  text-align: center;
}

.company .history__y2000 {
  margin-top: -45px;
}

.company .history__y2000-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

@media (min-width: 992px) and (max-width: 1300px) {
  .company .history__y2000 {
    margin-top: -90px;
  }
}

.company .history__y2005 {
  margin-top: -35px;
}

.company .history__y2005-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y2005-image {
  margin-top: 80px;
}

.company .history__y2005-image-content {
  text-align: center;
}

.company .history__y2013 {
  margin-top: 70px;
}

.company .history__y2013-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y2013-image {
  margin-top: -50px;
}

.company .history__y2013-image-content {
  text-align: center;
  margin-right: 80px;
}

.company .history__y2017 {
  margin-top: 30px;
}

.company .history__y2017-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y2017-image {
  margin-top: -10px;
}

.company .history__y2017-image-content {
  text-align: center;
}

.company .history__y2020 {
  margin-top: 100px;
}

.company .history__y2020-text-content {
  padding: 45px;
  border: 1px dashed #edcaa6;
}

.company .history__y2020-image {
  margin-top: 40px;
}

.company .history__y2020-image-content {
  text-align: center;
}

.company .footer {
  background-color: #1a0201;
  color: #edcaa6;
  border-bottom: 28px solid #dc0032;
  padding-top: 24px;
  position: relative;
  margin-top: 112px;
}

.company .footer__row {
  margin: 34px 0;
}

.company .footer__logo {
  background-color: #dc0032;
  position: absolute;
  top: -70px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  padding-left: 35px;
  padding-top: 35px;
  -webkit-transition: all 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -o-transition: all 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transition: all 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.company .footer__logo:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.company .footer__company {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 16px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  line-height: 30px;
}

.company .footer__company p {
  font-size: 18px;
  color: #edcaa6;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.company .footer__products ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.company .footer__products ul li:first-of-type {
  text-transform: uppercase;
}

.company .footer__products ul li a {
  text-decoration: none;
  color: #edcaa6;
}

.company .footer__products ul li a:hover {
  color: #dc0032;
}

.company .footer__contact {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.company .footer__contact p {
  font-size: 18px;
  color: #edcaa6;
  line-height: 30px;
  padding: 0;
  margin: 0;
}

.company .footer__contact-button {
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid #edcaa6;
  border-radius: 30px;
  padding: 12px 29px;
  margin: 50px 60px 12px 12px;
  float: right;
  color: #edcaa6;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
 -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
 -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
 box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
 box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
 box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.company .footer__contact-button:hover {
  background-color: #dc0032;
  border-color: #dc0032;
}

.company .footer__social {
  font-family: "brother-1816";
}

.company .footer__cc {
  text-transform: uppercase;
  font-size: 24px;
  font-family: "brother-1816";
}

.company .footer__follow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company .footer__follow-us-text {
  padding-right: 100px;
}

.company .footer__icon a {
  padding: 20px;
}

.company .artefact {
  position: absolute;
  display: none;
}

@media (min-width: 992px) {
  .company .artefact {
    display: block;
  }
}

.company .artefact.art__1 {
  top: 50px;
  right: -150px;
}

.company .artefact.art__2 {
  top: -100px;
  left: -400px;
}

.company .artefact.art__3 {
  top: -100px;
  left: 0;
}

.company .artefact.art__4 {
  top: 100px;
  left: -150px;
}

.company .artefact.art__5 {
  top: 150px;
  right: -150px;
  opacity: 0.76;
  mix-blend-mode: multiply;
}

.company .artefact.art__6 {
  top: 100px;
  right: -100px;
}

.company .artefact.art__7 {
  top: 0px;
  right: -300px;
  z-index: -1;
}

.company .artefact.art__8 {
  top: 175px;
  left: -325px;
  z-index: -1;
}

.company .artefact.art__9 {
  top: 0px;
  left: -100px;
}

.company .artefact.art__10 {
  top: -250px;
  right: -200px;
}

.company .artefact.art__11 {
  top: 200px;
  right: -100px;
}

.company .artefact.art__12 {
  bottom: -280px;
  left: 100px;
  z-index: -1;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
