/* * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "brother";
} */

img {
  max-width: 100%;
}

body {
  background-image: url(/assets/bg.jpg);
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* .container {
  width: 1340px;
  margin: 0 auto;
} */

h1 {
  font-size: 90px;
  color: #1a0201;
  font-weight: bold;
  font-family: "brother-1816";
}

h2 {
  font-size: 60px;
  color: #1a0201;
  font-family: "brother-1816";
}

h3 {
  font-size: 24px;
  color: #1a0201;
  font-family: "brother-1816";
}

p {
  font-size: 21px;
  color: #1a0201;
}

.separator {
  height: 1px;
  background: url("/assets/Line 125.svg");
  margin-top: 34px;
  margin-bottom: 34px;
}
