// Made using VSC compiler..
@import "./helpers/_mixins.scss";

.sweet-story h1 {
  font-size: rem(72);
  color: #1a0201;
  font-weight: bold;
  // font-family: "brother-1816";
  font-family: "brother-1816-printed";
  margin-bottom: rem(60);

  @media #{$breakpoint-lg-down} {
    font-size: rem(48);
    margin-bottom: rem(30);
    margin-top: rem(60);
  }
}

.sweet-story h2 {
  font-size: rem(60);
  color: #1a0201;
  // font-family: "brother-1816";
  font-family: "brother-1816-printed";
  font-weight: bold;
}

.sweet-story h3 {
  font-size: 24px;
  color: #1a0201;
  font-family: "brother-1816";
}

.sweet-story img {
  max-width: 100%;
}


.sweet-story p {
  font-size: rem(18);
  line-height: 1.5;
  color: #1a0201;
}


.sweet-story .hero {
  margin-bottom: 40px;
  @media #{$breakpoint-lg-down} {
    margin-bottom: 0px
  }
}

.sweet-story .hero__title {
  text-align: center
}

.sweet-story .hero__text {
  text-align: center
}

.sweet-story .fruits {
  margin-top: 80px;

  @media #{$breakpoint-lg-down} {
    margin-top: 0px
  }
}

.sweet-story .fruits__measure img {
  height: 100%;
}

.sweet-story .fruits__fruit-block {
  @media #{$breakpoint-lg-down} {
    padding: 0;
  }
}

.sweet-story .fruits__fruit {
  position: relative;

  @media #{$breakpoint-lg-down} {
    max-width: 280px;
    padding: 0;
  }
}

.sweet-story .fruits__fruit img {
  margin: 0 auto;
  display: block
}

.sweet-story .fruits__fruit img:last-of-type {
  display: none
}

.sweet-story .fruits__fruit:hover img {
  display: none
}

.sweet-story .fruits__fruit:hover img:last-of-type {
  display: block
}

.sweet-story .fruits__fruit:hover .fruits__card-image {
  background-color: #dc0032
}

.sweet-story .fruits__fruit:hover .fruits__hover-text {
  visibility: visible
}

.sweet-story .fruits__fruit:hover .fruits__title {
  color: #fff
}

.sweet-story .fruits__card-image {
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67)
}

.sweet-story .fruits__card-image img {
  // max-he
}

.sweet-story .fruits__title {
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "brother-1816";
  font-size: rem(60);

  @media #{$breakpoint-lg-down} {
    font-size: (30);
  }
}
.sweet-story .fruits__hover-text {
  visibility: hidden;
  text-align: center;
  display: block;
  font-size: 20px;
  margin: 0;
  padding: 0
}

.sweet-story .fruits__hover-icon {
  position: absolute;
  top: 100px;
  right: 100px
}

.sweet-story .recepies {
  margin-top: 60px;
  margin-bottom: 60px;
}

.sweet-story .recepies img {
  width: 100%
}

.sweet-story .recepies__text {
  position: relative;
  flex: 1 0;
}
.sweet-story .recepies__text .recepies__text__container {
  background-color: #dc0032;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-left: 60px;
  height: 100%;

  @media #{$breakpoint-lg-down} {
    padding: 60px 0 120px;
    text-align: center;
  }
}

.sweet-story .recepies__text h2 {
  color: #edcaa6;
  margin-bottom: 2rem;

}

.sweet-story .recepies__text p {
  color: #edcaa6;
}

.sweet-story .recepies__text a.link {
  color: #edcaa6;
  font-size: rem(20);
  margin-top: 2rem;
  text-transform: uppercase;
}

.sweet-story .recepies__text:before {
  z-index: -1;
  position: absolute;
  display: block;
  content: "";
  top: 0;
  width: 10000px;
  height: 100%;
  background-color: #dc0032;

  @media #{$breakpoint-lg-down} {
    left: -100px;
  }
}

.sweet-story .recepies__content {
  @media #{$breakpoint-lg-down} {
    margin-top: -60px;
  }
}

.sweet-story .recepies__cards {
  height: 100%;
}

.sweet-story .recepies__cards .recipe-wrap a{
  display: block;
  padding-bottom: 20px;
}

@media (min-width: 1200px) {
}

.sweet-story .recepies__card {
  border: 1px dashed #1a0201;
  border-image-source: url(../img/company/border.svg);
  border-image-width: 1;
  border-image-slice: 1;
  border-image-repeat: round;
  margin-bottom: 15px;
  margin-top: 15px
}

.sweet-story .recepies__card-text {
  padding: 20px
}

.sweet-story .recepies__card-text h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  font-family: "brother-1816"
}

.sweet-story .production {
  margin: 120px 0 60px;
}

.sweet-story .production__title {
  text-align: center
}

.sweet-story .production__canvas {
  // min-height: 400px
}

.sweet-story .production__canvas .product-list {
  display: block;
  align-items: center;
  justify-content: center
}

@media (min-width: 992px) {
  .sweet-story .production__canvas .product-list {
      display: flex
  }
}

.sweet-story .production__canvas .product-list-item {
  position: relative;
  text-align: center;
  cursor: pointer;
  max-width: 450px;

  @media #{$breakpoint-lg-down} {
    max-width: 280px;
  }
}

.sweet-story .production__canvas .product-list-item .popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s;
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  max-width: 280px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 800;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  color: #2c0302;
  background: #e2dddb;
  background: rgba(247, 244, 243, 0.9)
}

.sweet-story .production__canvas .product-list-item .popup-inner {
  display: flex;
  border: 1px solid #fff;
  border: 1px solid #2c0302;
  margin: 20px;
  padding: 12px;
  height: calc(100% - 40px);
  flex-direction: column;
  justify-content: center
}

.sweet-story .production__canvas .product-list-item .popup-title {
  font-size: 16px
}

.sweet-story .production__canvas .product-list-item .popup-title.large {
  font-size: 24px
}

.sweet-story .production__canvas .product-list-item .plus-anchor {
  position: absolute;
  top: 70px;
  right: 70px;
  width: 40px;
  height: 40px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 50 50'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Ccircle cx='25' cy='25' r='25' style='fill:%23dc0032'/%3E%3Cline x1='25' y1='17.23' x2='25' y2='32.99' style='fill:none;stroke:%23edcaa6;stroke-linecap:round;stroke-width:3px'/%3E%3Cline x1='33.41' y1='24.72' x2='17.66' y2='24.72' style='fill:none;stroke:%23edcaa6;stroke-linecap:round;stroke-width:3px'/%3E%3C/svg%3E")
}

.sweet-story .production__canvas .product-list-item:hover .popup {
  visibility: visible;
  opacity: 1
}

.sweet-story .production__canvas .product-list-item:hover .plus-anchor {
  transition: all 0.15s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  -webkit-transform: rotate(45deg) scale(1.1);
  transform: rotate(45deg) scale(1.1)
}

.sweet-story #museum {
  margin-top: 60px;
  margin-bottom: 60px;

  .title {
    font-size: rem(60);
  }
}

.sweet-story .fresh-fruit {
  background: #dc0032;
  min-height: 440px;
  margin: 120px 0 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center
}

.sweet-story .fresh-fruit__title {
  transition: all 0.25s linear;
  padding-top: 60px;
  z-index: 1
}

.sweet-story .fresh-fruit .plus-anchor {
  position: absolute;
  top: 70px;
  right: 70px;
  width: 40px;
  height: 40px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 50 50'%3E%3Ctitle%3EAsset 1%3C/title%3E%3Ccircle cx='25' cy='25' r='25' style='fill:%23dc0032'/%3E%3Cline x1='25' y1='17.23' x2='25' y2='32.99' style='fill:none;stroke:%23edcaa6;stroke-linecap:round;stroke-width:3px'/%3E%3Cline x1='33.41' y1='24.72' x2='17.66' y2='24.72' style='fill:none;stroke:%23edcaa6;stroke-linecap:round;stroke-width:3px'/%3E%3C/svg%3E");
  box-shadow: -4px 9px 15px rgba(0,0,0,0.4);
  border-radius: 40px;
  display: none;

  @media #{$breakpoint-lg-down} {
    display: block;
  }
}

.sweet-story .fresh-fruit__title h2 {
  text-align: center;
  font-family: "brother-1816";
  font-size: rem(60);
  color: #fff;

  @media #{$breakpoint-lg-down} {
    font-size: rem(48);
  }
}

.sweet-story .fresh-fruit__title--later {
  opacity: 0;
  transition: all 0.25s linear;
  z-index: 2
}

.sweet-story .fresh-fruit__artefact {
  position: absolute;
  display: block;
  transition: all 0.5s linear;
  pointer-events: none;
}

.sweet-story .fresh-fruit__artefact img {

}

.sweet-story .fresh-fruit__artefact--1 {
  top: 0;
  right: 70%;
  z-index: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px)
}

.sweet-story .fresh-fruit__artefact--2 {
  bottom: 20%;
  right: 60%;
  z-index: 0
}

.sweet-story .fresh-fruit__artefact--3 {
  bottom: -40px;
  right: 30%;
  z-index: 0;
  max-width: 400px;
}

.sweet-story .fresh-fruit__artefact--4 {
  bottom: 20%;
  left: 60%;
  z-index: 0
}

.sweet-story .fresh-fruit__artefact--5 {
  top: -10%;
  right: 10%;
  z-index: 0;
  -webkit-filter: blur(2px);
  filter: blur(2px)
}

.sweet-story .fresh-fruit__artefact--6 {
  top: 0%;
  right: 45%;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transform: scale(0.4) rotate(80deg);
  transform: scale(0.4) rotate(80deg)
}

.sweet-story .fresh-fruit:hover .fresh-fruit__title {
  padding-top: 0px
}

.sweet-story .fresh-fruit:hover .fresh-fruit__title--later {
  opacity: 1
}

.sweet-story .fresh-fruit:hover .fresh-fruit__artefact--1 {
  -webkit-transform: rotate(-210deg);
  transform: rotate(-210deg);
  -webkit-filter: blur(0px);
  filter: blur(0px);
  top: -150px;

  @media #{$breakpoint-lg-down} {
    top: 0px
  }
}

.sweet-story .fresh-fruit:hover .fresh-fruit__artefact--2 {
  bottom: 5%;
  right: 80%;
  z-index: 1;
  -webkit-transform: scale(0.6);
  transform: scale(0.6);
  -webkit-filter: blur(5px);
  filter: blur(5px)
}

.sweet-story .fresh-fruit:hover .fresh-fruit__artefact--3 {
  bottom: -25%;
  -webkit-transform: scale(0.6) rotate(-20deg);
  transform: scale(0.6) rotate(-20deg);
  -webkit-filter: blur(5px);
  filter: blur(5px)
}

.sweet-story .fresh-fruit:hover .fresh-fruit__artefact--4 {
  bottom: -2%;
  left: 80%;
  -webkit-transform: rotate(-240deg);
  transform: rotate(-240deg)
}

.sweet-story .fresh-fruit:hover .fresh-fruit__artefact--5 {
  -webkit-filter: blur(12px);
  filter: blur(12px)
}

.sweet-story .fresh-fruit:hover .fresh-fruit__artefact--6 {
  -webkit-transform: scale(0.6) rotate(-6deg);
  transform: scale(0.6) rotate(-6deg);
  -webkit-filter: blur(5px);
  filter: blur(5px)
}

.sweet-story .timeline {
  margin: 60px 0
}

.sweet-story .timeline__cards {
  position: relative;
}

.sweet-story .timeline__line {
  position: absolute;
  top: 120px;
  left: 15px;
  right: 15px;
  bottom: 0;

  width: 1px;
  height: 100%;

  margin: auto;

  border-left: 1px dashed #000;

  @media #{$breakpoint-lg-down} {
    left: auto;
  }
}

.sweet-story .timeline__title {
  text-align: center
}

.sweet-story .timeline__card {
  margin: 40px 0
}

.sweet-story .timeline__card-title {
  text-align: center;
  font-size: rem(60);
  font-family: "brother-1816";
  font-weight: 400;
  position: relative;

  @media #{$breakpoint-lg-down} {
    text-align: right;
    padding-right: (60px + 10);

    span {
      margin: 0 !important;
    }
  }
}

.sweet-story .timeline__card-title span {
  margin-right: -300px;
  font-weight: bold;
}

.sweet-story .timeline__card-title::after {
  position: absolute;
  display: block;
  content: "";
  background: url("../img/company/reddot.svg") no-repeat;
  background-size: contain;
  width: 82px;
  height: 42px;
  top: 30px;
  right: calc(50% - 61px);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);

  @media #{$breakpoint-lg-down} {
    right: 0 !important;
    left: auto !important;
    height: 30px;
    background-position: right center;
    transform: rotate(0deg) !important;
  }
}

.sweet-story .timeline__card-body {
  display: block
}

@media (min-width: 992px) {
  .sweet-story .timeline__card-body {
      display: flex
  }
}

.sweet-story .timeline__card-body-image {
  width: 100%;
  align-self: center;
  order: 1;

  @media #{$breakpoint-lg-down} {
    margin: 15px 0;
  }
}

@media (min-width: 992px) {
  .sweet-story .timeline__card-body-image {
      width: 50%;
      margin-top: -80px
  }
}

.sweet-story .timeline__card-body-text {
  width: 100%;
  align-self: center;
  order: 2;

  padding-left: 90px;

  @media #{$breakpoint-lg-down} {
    padding: 0 45px 0 0 ;

    * {
      text-align: right;
    }
  }
}

.sweet-story .timeline__card-body-text p:first-of-type {
  text-transform: uppercase;
  font-size: 24px
}

@media (min-width: 992px) {
  .sweet-story .timeline__card-body-text {
      width: 50%
  }
}

.sweet-story .timeline__card:nth-child(even) .timeline__card-title span {
  margin-right: 300px
}

.sweet-story .timeline__card:nth-child(even) .timeline__card-title::after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: calc(50% - 61px)
}

.sweet-story .timeline__card:nth-child(even) .timeline__card-body-image {
  order: 2
}

.sweet-story .timeline__card:nth-child(even) .timeline__card-body-text {
  order: 1;
  padding-left: 0px;
  padding-right: 90px;
}

.sweet-story .clock {
  padding: 60px 0
}

.sweet-story .clock__canvas {
  padding: 60px 0;
  text-align: right;

  position: sticky;
  top:0;
}

.sweet-story .clock__canvas__inner {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media #{$breakpoint-lg-down} {
    flex-direction: column;
  }
}

.sweet-story .clock__canvas__line {
  position: absolute;
  top: 0px;
  right: 0;
  // bottom: 0px;

  width: 1px;
  height: 100%;

  margin: auto;

  border-left: 1px dashed #000;

  @media #{$breakpoint-lg-down} {
    left: auto;
    right: 30px;

  }
}

.sweet-story .clock__image {
  padding: 60px 40px 0;
  position: relative;

  @media #{$breakpoint-lg-down} {
    margin-top: 50px;
    padding-top: 40px;
    height: 400px;
    width: 100%;
    text-align: center;

    img {
      height: 100%;
      width: auto;
      margin: auto;
      display: block;
    }
  }

  &-tree {
    @media #{$breakpoint-lg-down} {
      .clock__canvas__line {
        height: 220%;
      }
    }
  }

  &-clock {

    .clock__image__text {
      left: 0;
      right: auto;
      flex-direction: row-reverse;

      &:after {
        transform: rotate(180deg);
        margin-left: -20px;
        margin-right: 10px;
      }
    }
  }
}

.sweet-story .clock__image__text {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: rem(40);
  font-weight: bold;

  display: flex;
  align-items: center;

  transform: translateY(-50%);
  white-space: nowrap;

  z-index: 2;

  &:after {
    content: "";
    display: block;
    background: url(../img/company/reddot.svg) no-repeat;
    background-size: contain;
    width: 82px;
    height: 42px;

    margin-left: 10px;
    margin-right: -20px;
    // transform: rotate(180deg);
  }

  @media #{$breakpoint-lg-down} {
    right: 5px !important;
    left: auto !important;
    flex-direction: row !important;

    &:after {
      height: 30px;
      background-position: right center;
      transform: rotate(0deg) !important;
      margin: 0 10px!important;
    }
  }
}

.sweet-story .clock__text {
  position: relative;
  flex: 1 0;
}

.sweet-story .clock__text .clock__text__container {
  background-color: #dc0032;
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 60px 0;
  padding-left: 60px;
  height: 100%;

  @media #{$breakpoint-lg-down} {
    padding: 60px 0;
    text-align: center;
  }
}

.sweet-story .clock__text h2 {
  color: #edcaa6;
  margin-bottom: 2rem;
}

.sweet-story .clock__text p {
  color: #edcaa6
}

.sweet-story .clock__text:before {
  z-index: -1;
  position: absolute;
  display: block;
  content: "";
  top: 0;
  width: 10000px;
  height: 100%;
  background-color: #dc0032;

  @media #{$breakpoint-lg-down} {
    left: -100px;
  }
}
