<section class="spring-articles opening-section is-section-open">
    <div class="container">
        {% for item in springArticles if item.subitems %}
            <div id="{{ item.title|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}" class="spring-articles__item open-close-item are-subitems-open">

                <div class="title-and-icon set-mob-sub-open d-flex">
                    <div class="spring-articles__item__title_block col-12">
                        <h2 class="spring__heading-two text-center">{{item.title}}</h2>
                    </div>
                    <div class="red-circle--big">
                        {% if item.icon %}
                        <img class="img-fluid" src="{{item.icon.path()}}"/>
                        {% else %}
                        {% content 'svg/classic-logo' %}
                        {% endif %}
                    </div>
                </div>

                {# {% set hasExtraItem = loop.index == 1 ? true : false %} #}
                
                {% for subitem in item.subitems %}
                    <div class="spring-articles__subitem row {{ loop.index0 % 2 == 0 ? 'odd' : 'even' }}">
                        <div class="spring-articles__item__image col-12 col-md-6">
                            <div class="sustainability-image--inner {{subitem.media_src == 'video_external' and subitem.video_external ? 'is-bg-black'}}">
                                {% if subitem.media_src == 'video' and subitem.video %}
                                <video class="media_src--video" autoplay="true" muted="true" loop="true" playsinline poster="{{subitem.image| media}}">
                                    <source src="{{subitem.video| media}}" type="video/mp4">
                                </video>
                                {% elseif subitem.media_src == 'video_external' and subitem.video_external %}
                                {{subitem.video_external|raw}}
                                {% elseif subitem.image %}
                                <img class="media_src--image" src="{{subitem.image| media}}"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="spring-articles__item__text-block col-12 col-md-6">
                            <div class="text-block--outer">
                                <div class="spring-articles__item__text-block__text">
                                    {% if subitem.title %}
                                    <h5>{{subitem.title|raw}}</h5>
                                    {% endif %}
                                    {% if subitem.body %}
                                    <div class="subitem-body {% if subitem.body|length <= 600 %}is-extended{% endif %}">
                                        {% if subitem.body|length > 600 %}
                                        <div class="sliced">{{subitem.body|slice(0, 600)|raw}}...</div>
                                        {% endif %}
                                        <div class="subitem-body original"><div>{{subitem.body|raw}}</div></div>
                                        {% if subitem.body|length > 600 %}
                                        <div class="read-more">{{texts.56.text}}</div>
                                        <div class="read-less">{{texts.57.text}}</div>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% if loop.last %}
                            <img class="collection-creation-ornament" src="{{'assets/img/collection-creation-ornament.svg'|theme}}" alt="">
                            {% endif %}
                        </div>
                    </div>
                    {# {% if hasExtraItem and loop.index == 1 %}
                        {% partial 'components/sustainability/qualities-and-processing' extraContent=extraContent %}
                    {% endif %} #}
                {% endfor %}

                <img class="close-subitems-icon" src="{{ 'assets/img/icons/arrow_new_up.svg'|theme }}"/>
                <a class="back-to-sust-item" href="#{{ item.title|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
                    <img class="close-subitems-icon is-functional" src="{{ 'assets/img/icons/arrow-up.svg'|theme }}"/>
                </a>

            </div>
        {% endfor %}
    </div>
</section>

{% put scripts %}
<script>

$(document).ready(function () {
    if ($(window).width() > 1024) {
        $(".read-more").click(function () {
            $(this).parents('.subitem-body').addClass('is-extended');
        });

        $(".read-less").click(function () {
            $(this).parents('.subitem-body').removeClass('is-extended');
        });
    } else {
        $('.subitem-body').addClass('is-extended');
    }
})


</script>
{% endput %}