<section class="spring-gallery opening-section is-section-open" id="{{ texts.69.text|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
    <div class="container">
        <img class="spring-ornaments is-left d-none d-xl-block" src="{{'assets/img/spring/spring-ornaments-left-2.png'|theme}}" alt="">
        <img class="spring-ornaments is-right d-none d-xl-block" src="{{'assets/img/spring/spring-ornaments-right-2.png'|theme}}" alt="">

        <div class="spring-gallery__item open-close-item are-subitems-open">

            <div class="title-and-icon set-mob-sub-open d-flex">
                <div class="spring-gallery__item__title_block col-12">
                    <h2 class="spring__heading-two text-center">{{ texts.69.text }}</h2>
                </div>
                <div class="red-circle--big">
                    {% if icon %}
                    <img class="img-fluid" src="{{icon.path()}}"/>
                    {% else %}
                    {% content 'svg/classic-logo' %}
                    {% endif %}
                </div>
            </div>
            
            <div class="spring-gallery__subitem row">
                
                <div class="spring-gallery__subitem__outer col-12">
                    <div class="spring-gallery__item__image">
                        <div class="spring-image--inner">
                            <div class="spring-gal-slider">
                                {% for img in images %}
                                <div class=""><img class="slide" src="{{ img.path }}" alt=""></div>
                                {% endfor %}
                            </div>
                            <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                <span class="slider__label sr-only">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img class="close-subitems-icon" src="{{ 'assets/img/icons/arrow_new_up.svg'|theme }}"/>
            <a class="back-to-sust-item" href="#{{ item.title|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
                <img class="close-subitems-icon is-functional" src="{{ 'assets/img/icons/arrow-up.svg'|theme }}"/>
            </a>

        </div>
    </div>
</section>

{% put scripts %}
<script>
$(document).ready(function () {
    let options = {
        arrows: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 1,
        variableWidth: false,
        rows: 1,
        nextArrow:
        '<div class="next-arrow" data-aos="zoom-out" data-aos-delay="700"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 108 108"><path fill="#fff" d="M54 108c29.823 0 54-24.177 54-54S83.823 0 54 0 0 24.177 0 54s24.177 54 54 54Z"/><g clip-path="url(#a)"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m50 44 10 10-10 10"/></g><defs><clipPath id="a"><path fill="#fff" d="M38 38h32v32H38z"/></clipPath></defs></svg></div>',
        prevArrow:
        '<div class="prev-arrow" data-aos="zoom-out" data-aos-delay="900"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 108 108"><path fill="#fff" d="M54 108c29.823 0 54-24.177 54-54S83.823 0 54 0 0 24.177 0 54s24.177 54 54 54Z"/><g clip-path="url(#a)"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M58 64 48 54l10-10"/></g><defs><clipPath id="a"><path fill="#fff" d="M38 38h32v32H38z"/></clipPath></defs></svg></div>',
        responsive: [
            {
            breakpoint: 1024,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
            }
        ]
    };

    $('.spring-gal-slider').slick(options);

    //below code if slider is closed
    // if ($(window).width() >= 1024) {
    //     $('.spring-gal-slider').slick(options);
    // }

    var $slider = $('.spring-gal-slider');
    var $progressBar = $('.spring-image--inner .progress');
    var $progressBarLabel = $( '.spring-image--inner .slider__label' );
    
    $slider.on('beforeChange', function(event, slick, currentSlide, nextSlide) {   
        var calc = ((nextSlide + 1) / slick.slideCount) * 100;
        // Ensure the progress bar reaches 100% when the last slide is reached
        calc = Math.min(calc, 100); 
        $progressBar
            .css('background-size', calc + '% 100%')
            .attr('aria-valuenow', calc );
        
        $progressBarLabel.text(calc + '% completed');
});
});
</script>
{% endput %}