<nav class="spring-nav container">
    <div class="spring-nav__row row">
        {% if paintingIcon %}
        <div class="col">
            <a class="spring-nav__link" href="#{{ texts.66.text|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
                <p>{{texts.66.text}}</p>
                <img src="{{paintingIcon.path()}}"/>
            </a>
        </div>
        {% endif %}
        {% for item in springArticles if item.icon %}
        <div class="col">
            <a class="spring-nav__link" href="#{{ item.title|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
                <p>{{item.title}}</p>
                <img src="{{item.icon.path()}}"/>
            </a>
        </div>
        {% endfor %}
        {% if galleryIcon %}
        <div class="col">
            <a class="spring-nav__link" href="#{{ texts.69.text|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
                <p>{{texts.69.text}}</p>
                <img src="{{galleryIcon.path()}}"/>
            </a>
        </div>
        {% endif %}
    </div>
</nav>