<section class="spring-paintings opening-section is-section-open" id="{{ texts.66.text|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
    <div class="container">

        <div class="spring-paintings__item open-close-item are-subitems-open">

            <div class="title-and-icon set-mob-sub-open d-flex">
                <div class="spring-paintings__item__title_block col-12">
                    <h2 class="spring__heading-two text-center">{{ texts.66.text }}</h2>
                </div>
                <div class="red-circle--big">
                    {% if icon %}
                    <img class="img-fluid" src="{{icon.path()}}"/>
                    {% else %}
                    {% content 'svg/classic-logo' %}
                    {% endif %}
                </div>
            </div>
            
            <div class="spring-paintings__subitem row">
                {% for painting in paintings|slice(-2, 2) %}
                <div class="spring-paintings__subitem__outer col-12 col-md-6">
                    <div class="spring-paintings__item__image">
                        <div class="paintings-image--inner">
                            <img class="media_src--image d-md-none {{ loop.index }}" src="{{ paintings_mobile[loop.index - 1].path }}"/>
                            <img class="media_src--image d-none d-md-block" src="{{ painting.path }}"/>
                        </div>
                    </div>
                    
                    <div class="painting-download-wrap">
                        <button onclick="downloadImage('{{ wallpapers_desktop[loop.index - 1].path }}', '{{ wallpapers_mobile[loop.index - 1].path }}');" class="painting-download d-block mx-auto text-uppercase">
                            {{ texts.67.text }}
                        </button>
                    </div>
                   
                </div>
                {% endfor %}
                <div class="spring-paintings__subitem__pseudo"></div>
                <div class="spring-paintings__subitem__pseudo--bottom"></div>
            
            </div>
            <img class="close-subitems-icon" src="{{ 'assets/img/icons/arrow_new_up.svg'|theme }}"/>
            <a class="back-to-sust-item" href="#{{ item.title|lower|replace({' ':'-', 'ā':'a', 'ē':'e', 'ī': 'i', 'ķ':'k', 'ļ':'l', 'ņ':'n', 'š':'s', 'ū':'u', 'ž':'z'}) }}">
                <img class="close-subitems-icon is-functional" src="{{ 'assets/img/icons/arrow-up.svg'|theme }}"/>
            </a>

        </div>
    </div>
</section>

{% put scripts %}
<script>

function downloadImage(imageUrl, imageUrlMobile) {
    // Choose the appropriate image URL based on the window width
    var downloadUrl = $(window).width() < 768 ? imageUrlMobile : imageUrl;
    
    // Fetch the image as a blob
    fetch(downloadUrl)
        .then(response => response.blob())
        .then(blob => {
            // Create a temporary URL for the blob
            var blobUrl = URL.createObjectURL(blob);
            
            // Create a link element
            var link = document.createElement('a');
            link.href = blobUrl;
            link.download = 'glezna.png';
            link.style.display = 'none';
            
            // Append the link to the document body
            document.body.appendChild(link);
            
            // Trigger a click event on the link
            link.click();
            
            // Remove the link from the document body after a short delay
            setTimeout(function() {
                document.body.removeChild(link);
                
                // Revoke the temporary URL to free up memory
                URL.revokeObjectURL(blobUrl);
            }, 100);
        });
}

</script>
{% endput %}